<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>hall_btn_baiyang.png</key>
            <dict>
                <key>frame</key>
                <string>{{1149,3919},{161,161}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{161,161}}</string>
                <key>sourceSize</key>
                <string>{161,161}</string>
            </dict>
            <key>hall_btn_chunv.png</key>
            <dict>
                <key>frame</key>
                <string>{{986,3919},{161,161}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{161,161}}</string>
                <key>sourceSize</key>
                <string>{161,161}</string>
            </dict>
            <key>hall_btn_jinniu.png</key>
            <dict>
                <key>frame</key>
                <string>{{823,3919},{161,161}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{161,161}}</string>
                <key>sourceSize</key>
                <string>{161,161}</string>
            </dict>
            <key>hall_btn_juxie.png</key>
            <dict>
                <key>frame</key>
                <string>{{660,3919},{161,161}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{161,161}}</string>
                <key>sourceSize</key>
                <string>{161,161}</string>
            </dict>
            <key>hall_btn_mojie.png</key>
            <dict>
                <key>frame</key>
                <string>{{1089,600},{161,161}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{161,161}}</string>
                <key>sourceSize</key>
                <string>{161,161}</string>
            </dict>
            <key>hall_btn_sheshou.png</key>
            <dict>
                <key>frame</key>
                <string>{{926,600},{161,161}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{161,161}}</string>
                <key>sourceSize</key>
                <string>{161,161}</string>
            </dict>
            <key>hall_btn_shizi.png</key>
            <dict>
                <key>frame</key>
                <string>{{763,600},{161,161}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{161,161}}</string>
                <key>sourceSize</key>
                <string>{161,161}</string>
            </dict>
            <key>hall_btn_shuangyu.png</key>
            <dict>
                <key>frame</key>
                <string>{{600,600},{161,161}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{161,161}}</string>
                <key>sourceSize</key>
                <string>{161,161}</string>
            </dict>
            <key>hall_btn_shuangzi.png</key>
            <dict>
                <key>frame</key>
                <string>{{491,3822},{161,161}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{161,161}}</string>
                <key>sourceSize</key>
                <string>{161,161}</string>
            </dict>
            <key>hall_btn_shuiping.png</key>
            <dict>
                <key>frame</key>
                <string>{{328,3822},{161,161}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{161,161}}</string>
                <key>sourceSize</key>
                <string>{161,161}</string>
            </dict>
            <key>hall_btn_tiancheng.png</key>
            <dict>
                <key>frame</key>
                <string>{{165,3822},{161,161}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{161,161}}</string>
                <key>sourceSize</key>
                <string>{161,161}</string>
            </dict>
            <key>hall_btn_tianxie.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,3822},{161,161}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{161,161}}</string>
                <key>sourceSize</key>
                <string>{161,161}</string>
            </dict>
            <key>hall_icon_baiyang.png</key>
            <dict>
                <key>frame</key>
                <string>{{2394,1796},{596,762}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,0},{596,762}}</string>
                <key>sourceSize</key>
                <string>{600,762}</string>
            </dict>
            <key>hall_icon_baiyang1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1796,2031},{596,762}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,0},{596,762}}</string>
                <key>sourceSize</key>
                <string>{600,762}</string>
            </dict>
            <key>hall_icon_baiyang2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1252,722},{114,120}}</string>
                <key>offset</key>
                <string>{-1,273}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{242,48},{114,120}}</string>
                <key>sourceSize</key>
                <string>{600,762}</string>
            </dict>
            <key>hall_icon_chunv.png</key>
            <dict>
                <key>frame</key>
                <string>{{3378,1267},{596,762}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,0},{596,762}}</string>
                <key>sourceSize</key>
                <string>{600,762}</string>
            </dict>
            <key>hall_icon_chunv1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2614,1198},{596,762}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,0},{596,762}}</string>
                <key>sourceSize</key>
                <string>{600,762}</string>
            </dict>
            <key>hall_icon_chunv2.png</key>
            <dict>
                <key>frame</key>
                <string>{{504,3985},{82,72}}</string>
                <key>offset</key>
                <string>{-2,274}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{257,71},{82,72}}</string>
                <key>sourceSize</key>
                <string>{600,762}</string>
            </dict>
            <key>hall_icon_jinniu.png</key>
            <dict>
                <key>frame</key>
                <string>{{1850,1198},{596,762}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,0},{596,762}}</string>
                <key>sourceSize</key>
                <string>{600,762}</string>
            </dict>
            <key>hall_icon_jinniu1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2780,600},{596,762}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,0},{596,762}}</string>
                <key>sourceSize</key>
                <string>{600,762}</string>
            </dict>
            <key>hall_icon_jinniu2.png</key>
            <dict>
                <key>frame</key>
                <string>{{358,3985},{84,76}}</string>
                <key>offset</key>
                <string>{1,273}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{259,70},{84,76}}</string>
                <key>sourceSize</key>
                <string>{600,762}</string>
            </dict>
            <key>hall_icon_juxie.png</key>
            <dict>
                <key>frame</key>
                <string>{{2016,600},{596,762}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,0},{596,762}}</string>
                <key>sourceSize</key>
                <string>{600,762}</string>
            </dict>
            <key>hall_icon_juxie1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1252,3155},{596,762}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,0},{596,762}}</string>
                <key>sourceSize</key>
                <string>{600,762}</string>
            </dict>
            <key>hall_icon_juxie2.png</key>
            <dict>
                <key>frame</key>
                <string>{{146,3985},{86,72}}</string>
                <key>offset</key>
                <string>{0,278}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{257,67},{86,72}}</string>
                <key>sourceSize</key>
                <string>{600,762}</string>
            </dict>
            <key>hall_icon_little.png</key>
            <dict>
                <key>frame</key>
                <string>{{1252,600},{120,762}}</string>
                <key>offset</key>
                <string>{-10,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{230,0},{120,762}}</string>
                <key>sourceSize</key>
                <string>{600,762}</string>
            </dict>
            <key>hall_icon_mojie.png</key>
            <dict>
                <key>frame</key>
                <string>{{1198,2391},{596,762}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,0},{596,762}}</string>
                <key>sourceSize</key>
                <string>{600,762}</string>
            </dict>
            <key>hall_icon_mojie1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1198,1627},{596,762}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,0},{596,762}}</string>
                <key>sourceSize</key>
                <string>{600,762}</string>
            </dict>
            <key>hall_icon_mojie2.png</key>
            <dict>
                <key>frame</key>
                <string>{{274,3985},{84,82}}</string>
                <key>offset</key>
                <string>{4,277}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{262,63},{84,82}}</string>
                <key>sourceSize</key>
                <string>{600,762}</string>
            </dict>
            <key>hall_icon_sheshou.png</key>
            <dict>
                <key>frame</key>
                <string>{{1198,863},{596,762}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,0},{596,762}}</string>
                <key>sourceSize</key>
                <string>{600,762}</string>
            </dict>
            <key>hall_icon_sheshou1.png</key>
            <dict>
                <key>frame</key>
                <string>{{654,3155},{596,762}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,0},{596,762}}</string>
                <key>sourceSize</key>
                <string>{600,762}</string>
            </dict>
            <key>hall_icon_sheshou2.png</key>
            <dict>
                <key>frame</key>
                <string>{{578,3985},{80,80}}</string>
                <key>offset</key>
                <string>{-2,278}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{258,63},{80,80}}</string>
                <key>sourceSize</key>
                <string>{600,762}</string>
            </dict>
            <key>hall_icon_shizi.png</key>
            <dict>
                <key>frame</key>
                <string>{{600,2391},{596,762}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,0},{596,762}}</string>
                <key>sourceSize</key>
                <string>{600,762}</string>
            </dict>
            <key>hall_icon_shizi1.png</key>
            <dict>
                <key>frame</key>
                <string>{{600,1627},{596,762}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,0},{596,762}}</string>
                <key>sourceSize</key>
                <string>{600,762}</string>
            </dict>
            <key>hall_icon_shizi2.png</key>
            <dict>
                <key>frame</key>
                <string>{{436,3985},{66,84}}</string>
                <key>offset</key>
                <string>{-4,280}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{263,59},{66,84}}</string>
                <key>sourceSize</key>
                <string>{600,762}</string>
            </dict>
            <key>hall_icon_shuangyu.png</key>
            <dict>
                <key>frame</key>
                <string>{{600,863},{596,762}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,0},{596,762}}</string>
                <key>sourceSize</key>
                <string>{600,762}</string>
            </dict>
            <key>hall_icon_shuangyu1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2952,2},{596,762}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,0},{596,762}}</string>
                <key>sourceSize</key>
                <string>{600,762}</string>
            </dict>
            <key>hall_icon_shuangyu2.png</key>
            <dict>
                <key>frame</key>
                <string>{{4003,82},{70,76}}</string>
                <key>offset</key>
                <string>{0,279}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{265,64},{70,76}}</string>
                <key>sourceSize</key>
                <string>{600,762}</string>
            </dict>
            <key>hall_icon_shuangzi.png</key>
            <dict>
                <key>frame</key>
                <string>{{2188,2},{596,762}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,0},{596,762}}</string>
                <key>sourceSize</key>
                <string>{600,762}</string>
            </dict>
            <key>hall_icon_shuangzi1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1424,2},{596,762}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,0},{596,762}}</string>
                <key>sourceSize</key>
                <string>{600,762}</string>
            </dict>
            <key>hall_icon_shuangzi2.png</key>
            <dict>
                <key>frame</key>
                <string>{{4003,2},{80,78}}</string>
                <key>offset</key>
                <string>{0,277}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{260,65},{80,78}}</string>
                <key>sourceSize</key>
                <string>{600,762}</string>
            </dict>
            <key>hall_icon_shuiping.png</key>
            <dict>
                <key>frame</key>
                <string>{{660,2},{596,762}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,0},{596,762}}</string>
                <key>sourceSize</key>
                <string>{600,762}</string>
            </dict>
            <key>hall_icon_shuiping1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,3058},{596,762}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,0},{596,762}}</string>
                <key>sourceSize</key>
                <string>{600,762}</string>
            </dict>
            <key>hall_icon_shuiping2.png</key>
            <dict>
                <key>frame</key>
                <string>{{220,3985},{86,52}}</string>
                <key>offset</key>
                <string>{-2,278}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{255,77},{86,52}}</string>
                <key>sourceSize</key>
                <string>{600,762}</string>
            </dict>
            <key>hall_icon_tiancheng.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2294},{596,762}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,0},{596,762}}</string>
                <key>sourceSize</key>
                <string>{600,762}</string>
            </dict>
            <key>hall_icon_tiancheng1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1530},{596,762}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,0},{596,762}}</string>
                <key>sourceSize</key>
                <string>{600,762}</string>
            </dict>
            <key>hall_icon_tiancheng2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,3985},{88,68}}</string>
                <key>offset</key>
                <string>{-1,285}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{255,62},{88,68}}</string>
                <key>sourceSize</key>
                <string>{600,762}</string>
            </dict>
            <key>hall_icon_tianxie.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,766},{596,762}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,0},{596,762}}</string>
                <key>sourceSize</key>
                <string>{600,762}</string>
            </dict>
            <key>hall_icon_tianxie1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{596,762}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,0},{596,762}}</string>
                <key>sourceSize</key>
                <string>{600,762}</string>
            </dict>
            <key>hall_icon_tianxie2.png</key>
            <dict>
                <key>frame</key>
                <string>{{72,3985},{86,72}}</string>
                <key>offset</key>
                <string>{1,276}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{258,69},{86,72}}</string>
                <key>sourceSize</key>
                <string>{600,762}</string>
            </dict>
            <key>zodiac_ani_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2658,3243},{402,402}}</string>
                <key>offset</key>
                <string>{0,37}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{99,143},{402,402}}</string>
                <key>sourceSize</key>
                <string>{600,762}</string>
            </dict>
            <key>zodiac_ani_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{2658,2839},{402,402}}</string>
                <key>offset</key>
                <string>{0,37}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{99,143},{402,402}}</string>
                <key>sourceSize</key>
                <string>{600,762}</string>
            </dict>
            <key>zodiac_ani_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{2254,3606},{402,402}}</string>
                <key>offset</key>
                <string>{0,37}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{99,143},{402,402}}</string>
                <key>sourceSize</key>
                <string>{600,762}</string>
            </dict>
            <key>zodiac_ani_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{2254,3202},{402,402}}</string>
                <key>offset</key>
                <string>{0,37}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{99,143},{402,402}}</string>
                <key>sourceSize</key>
                <string>{600,762}</string>
            </dict>
            <key>zodiac_ani_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{3606,2435},{402,402}}</string>
                <key>offset</key>
                <string>{0,37}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{99,143},{402,402}}</string>
                <key>sourceSize</key>
                <string>{600,762}</string>
            </dict>
            <key>zodiac_ani_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{3202,2435},{402,402}}</string>
                <key>offset</key>
                <string>{0,37}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{99,143},{402,402}}</string>
                <key>sourceSize</key>
                <string>{600,762}</string>
            </dict>
            <key>zodiac_ani_15.png</key>
            <dict>
                <key>frame</key>
                <string>{{2254,2798},{402,402}}</string>
                <key>offset</key>
                <string>{0,37}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{99,143},{402,402}}</string>
                <key>sourceSize</key>
                <string>{600,762}</string>
            </dict>
            <key>zodiac_ani_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2798,2435},{402,402}}</string>
                <key>offset</key>
                <string>{0,37}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{99,143},{402,402}}</string>
                <key>sourceSize</key>
                <string>{600,762}</string>
            </dict>
            <key>zodiac_ani_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{1850,3603},{402,402}}</string>
                <key>offset</key>
                <string>{0,37}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{99,143},{402,402}}</string>
                <key>sourceSize</key>
                <string>{600,762}</string>
            </dict>
            <key>zodiac_ani_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{1850,3199},{402,402}}</string>
                <key>offset</key>
                <string>{0,37}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{99,143},{402,402}}</string>
                <key>sourceSize</key>
                <string>{600,762}</string>
            </dict>
            <key>zodiac_ani_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{1850,2795},{402,402}}</string>
                <key>offset</key>
                <string>{0,37}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{99,143},{402,402}}</string>
                <key>sourceSize</key>
                <string>{600,762}</string>
            </dict>
            <key>zodiac_ani_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{2394,2394},{402,402}}</string>
                <key>offset</key>
                <string>{0,37}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{99,143},{402,402}}</string>
                <key>sourceSize</key>
                <string>{600,762}</string>
            </dict>
            <key>zodiac_ani_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{3562,2031},{402,402}}</string>
                <key>offset</key>
                <string>{0,37}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{99,143},{402,402}}</string>
                <key>sourceSize</key>
                <string>{600,762}</string>
            </dict>
            <key>zodiac_ani_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{3158,2031},{402,402}}</string>
                <key>offset</key>
                <string>{0,37}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{99,143},{402,402}}</string>
                <key>sourceSize</key>
                <string>{600,762}</string>
            </dict>
            <key>zodiac_ani_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{3544,863},{402,402}}</string>
                <key>offset</key>
                <string>{0,37}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{99,143},{402,402}}</string>
                <key>sourceSize</key>
                <string>{600,762}</string>
            </dict>
            <key>zodiac_blink.png</key>
            <dict>
                <key>frame</key>
                <string>{{600,2},{32,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{32,32}}</string>
                <key>sourceSize</key>
                <string>{32,32}</string>
            </dict>
            <key>zodiac_commingsoon.png</key>
            <dict>
                <key>frame</key>
                <string>{{3716,576},{285,285}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{285,285}}</string>
                <key>sourceSize</key>
                <string>{285,285}</string>
            </dict>
            <key>zodiac_downloading.png</key>
            <dict>
                <key>frame</key>
                <string>{{3716,289},{285,285}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{285,285}}</string>
                <key>sourceSize</key>
                <string>{285,285}</string>
            </dict>
            <key>zodiac_meteor.png</key>
            <dict>
                <key>frame</key>
                <string>{{4003,220},{60,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,2},{60,60}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>zodiac_star.png</key>
            <dict>
                <key>frame</key>
                <string>{{4003,154},{64,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{64,64}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>zodiac_unlock.png</key>
            <dict>
                <key>frame</key>
                <string>{{3716,2},{285,285}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{285,285}}</string>
                <key>sourceSize</key>
                <string>{285,285}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>zodiac_hall_h.pvr.ccz</string>
            <key>size</key>
            <string>{4096,4096}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:d80d6ad767cf5f4a0e33659d91c367d0:1/1$</string>
            <key>textureFileName</key>
            <string>zodiac_hall_h.pvr.ccz</string>
        </dict>
    </dict>
</plist>
