<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>achieve_btn_arrow.png</key>
            <dict>
                <key>frame</key>
                <string>{{480,1945},{48,65}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{48,65}}</string>
                <key>sourceSize</key>
                <string>{48,65}</string>
            </dict>
            <key>achieve_icon_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{636,2328},{298,381}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{298,381}}</string>
                <key>sourceSize</key>
                <string>{300,381}</string>
            </dict>
            <key>achieve_icon_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{565,1945},{298,381}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{298,381}}</string>
                <key>sourceSize</key>
                <string>{300,381}</string>
            </dict>
            <key>achieve_icon_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{480,1562},{298,381}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{298,381}}</string>
                <key>sourceSize</key>
                <string>{300,381}</string>
            </dict>
            <key>achieve_icon_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{681,1179},{298,381}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{298,381}}</string>
                <key>sourceSize</key>
                <string>{300,381}</string>
            </dict>
            <key>achieve_star.png</key>
            <dict>
                <key>frame</key>
                <string>{{982,2426},{22,22}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{22,22}}</string>
                <key>sourceSize</key>
                <string>{22,22}</string>
            </dict>
            <key>achieve_star0.png</key>
            <dict>
                <key>frame</key>
                <string>{{982,2402},{22,22}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{22,22}}</string>
                <key>sourceSize</key>
                <string>{22,22}</string>
            </dict>
            <key>achieve_stat_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{936,2641},{51,47}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{51,47}}</string>
                <key>sourceSize</key>
                <string>{51,47}</string>
            </dict>
            <key>achieve_stat_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{936,2592},{51,47}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{51,47}}</string>
                <key>sourceSize</key>
                <string>{51,47}</string>
            </dict>
            <key>achieve_stat_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{956,2961},{51,47}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{51,47}}</string>
                <key>sourceSize</key>
                <string>{51,47}</string>
            </dict>
            <key>baiyang.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1380},{613,476}}</string>
                <key>offset</key>
                <string>{-5,-7}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,14},{613,476}}</string>
                <key>sourceSize</key>
                <string>{623,490}</string>
            </dict>
            <key>btn_bet_add.png</key>
            <dict>
                <key>frame</key>
                <string>{{956,2913},{48,46}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{48,46}}</string>
                <key>sourceSize</key>
                <string>{48,46}</string>
            </dict>
            <key>btn_bet_redu.png</key>
            <dict>
                <key>frame</key>
                <string>{{956,2865},{48,46}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{48,46}}</string>
                <key>sourceSize</key>
                <string>{48,46}</string>
            </dict>
            <key>btn_game_info.png</key>
            <dict>
                <key>frame</key>
                <string>{{936,2318},{59,82}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{59,82}}</string>
                <key>sourceSize</key>
                <string>{59,82}</string>
            </dict>
            <key>btn_spin.png</key>
            <dict>
                <key>frame</key>
                <string>{{865,1923},{137,82}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{137,82}}</string>
                <key>sourceSize</key>
                <string>{137,82}</string>
            </dict>
            <key>btn_spin_auto.png</key>
            <dict>
                <key>frame</key>
                <string>{{356,2924},{137,82}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{137,82}}</string>
                <key>sourceSize</key>
                <string>{137,82}</string>
            </dict>
            <key>btn_spin_free.png</key>
            <dict>
                <key>frame</key>
                <string>{{886,478},{137,83}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{137,83}}</string>
                <key>sourceSize</key>
                <string>{137,83}</string>
            </dict>
            <key>ch_bonusBack.png</key>
            <dict>
                <key>frame</key>
                <string>{{727,406},{204,157}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{204,157}}</string>
                <key>sourceSize</key>
                <string>{204,157}</string>
            </dict>
            <key>ch_bottomBar.png</key>
            <dict>
                <key>frame</key>
                <string>{{484,2504},{402,150}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{402,150}}</string>
                <key>sourceSize</key>
                <string>{402,150}</string>
            </dict>
            <key>ch_button.png</key>
            <dict>
                <key>frame</key>
                <string>{{606,1454},{73,75}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{73,75}}</string>
                <key>sourceSize</key>
                <string>{73,75}</string>
            </dict>
            <key>ch_button_add.png</key>
            <dict>
                <key>frame</key>
                <string>{{936,2538},{52,52}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{52,52}}</string>
                <key>sourceSize</key>
                <string>{52,52}</string>
            </dict>
            <key>ch_button_home.png</key>
            <dict>
                <key>frame</key>
                <string>{{939,1841},{63,65}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{63,65}}</string>
                <key>sourceSize</key>
                <string>{63,65}</string>
            </dict>
            <key>ch_buy.png</key>
            <dict>
                <key>frame</key>
                <string>{{780,1871},{151,50}}</string>
                <key>offset</key>
                <string>{-6,6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,0},{151,50}}</string>
                <key>sourceSize</key>
                <string>{175,62}</string>
            </dict>
            <key>ch_buyBack.png</key>
            <dict>
                <key>frame</key>
                <string>{{780,1562},{307,157}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{307,157}}</string>
                <key>sourceSize</key>
                <string>{307,157}</string>
            </dict>
            <key>ch_buyBtn.png</key>
            <dict>
                <key>frame</key>
                <string>{{936,2470},{66,44}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{66,44}}</string>
                <key>sourceSize</key>
                <string>{66,44}</string>
            </dict>
            <key>ch_buyBtn2.png</key>
            <dict>
                <key>frame</key>
                <string>{{936,2402},{66,44}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{66,44}}</string>
                <key>sourceSize</key>
                <string>{66,44}</string>
            </dict>
            <key>ch_coinIcon.png</key>
            <dict>
                <key>frame</key>
                <string>{{949,1906},{47,49}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{47,49}}</string>
                <key>sourceSize</key>
                <string>{47,49}</string>
            </dict>
            <key>ch_friendBack.png</key>
            <dict>
                <key>frame</key>
                <string>{{727,2},{402,157}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{402,157}}</string>
                <key>sourceSize</key>
                <string>{402,157}</string>
            </dict>
            <key>ch_mailBack.png</key>
            <dict>
                <key>frame</key>
                <string>{{636,2711},{190,157}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{190,157}}</string>
                <key>sourceSize</key>
                <string>{190,157}</string>
            </dict>
            <key>ch_upBar.png</key>
            <dict>
                <key>frame</key>
                <string>{{606,654},{740,58}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{740,58}}</string>
                <key>sourceSize</key>
                <string>{740,58}</string>
            </dict>
            <key>complete_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,654},{724,602}}</string>
                <key>offset</key>
                <string>{24,19}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{142,0},{724,602}}</string>
                <key>sourceSize</key>
                <string>{960,640}</string>
            </dict>
            <key>complete_collect.png</key>
            <dict>
                <key>frame</key>
                <string>{{480,1380},{164,63}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{164,63}}</string>
                <key>sourceSize</key>
                <string>{164,63}</string>
            </dict>
            <key>complete_star_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{565,2441},{60,57}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{60,57}}</string>
                <key>sourceSize</key>
                <string>{60,57}</string>
            </dict>
            <key>complete_star_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{606,1396},{57,54}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{57,54}}</string>
                <key>sourceSize</key>
                <string>{57,54}</string>
            </dict>
            <key>game_achieve_addition.png</key>
            <dict>
                <key>frame</key>
                <string>{{780,1923},{42,20}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{42,20}}</string>
                <key>sourceSize</key>
                <string>{42,20}</string>
            </dict>
            <key>game_achieve_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{886,2},{248,87}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{248,87}}</string>
                <key>sourceSize</key>
                <string>{248,87}</string>
            </dict>
            <key>game_achieve_progress.png</key>
            <dict>
                <key>frame</key>
                <string>{{666,654},{798,13}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{798,13}}</string>
                <key>sourceSize</key>
                <string>{798,13}</string>
            </dict>
            <key>game_achieve_progress_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{102,1995},{942,27}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{3,0},{942,27}}</string>
                <key>sourceSize</key>
                <string>{950,27}</string>
            </dict>
            <key>game_achieve_progress_head.png</key>
            <dict>
                <key>frame</key>
                <string>{{79,2957},{30,13}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{30,13}}</string>
                <key>sourceSize</key>
                <string>{30,13}</string>
            </dict>
            <key>game_bet_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{886,252},{224,87}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{224,87}}</string>
                <key>sourceSize</key>
                <string>{224,87}</string>
            </dict>
            <key>game_bet_max_off.png</key>
            <dict>
                <key>frame</key>
                <string>{{545,1465},{59,82}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{59,82}}</string>
                <key>sourceSize</key>
                <string>{59,82}</string>
            </dict>
            <key>game_bet_max_on.png</key>
            <dict>
                <key>frame</key>
                <string>{{545,1380},{59,83}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{59,83}}</string>
                <key>sourceSize</key>
                <string>{59,83}</string>
            </dict>
            <key>game_bottom_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1995},{960,98}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{960,98}}</string>
                <key>sourceSize</key>
                <string>{960,98}</string>
            </dict>
            <key>game_percent_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{975,2},{60,28}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{60,28}}</string>
                <key>sourceSize</key>
                <string>{60,28}</string>
            </dict>
            <key>game_win_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{131,2924},{223,83}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{223,83}}</string>
                <key>sourceSize</key>
                <string>{223,83}</string>
            </dict>
            <key>game_win_icon.png</key>
            <dict>
                <key>frame</key>
                <string>{{939,1562},{212,49}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{212,49}}</string>
                <key>sourceSize</key>
                <string>{212,49}</string>
            </dict>
            <key>jinniu.png</key>
            <dict>
                <key>frame</key>
                <string>{{681,654},{523,308}}</string>
                <key>offset</key>
                <string>{-16,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{34,93},{523,308}}</string>
                <key>sourceSize</key>
                <string>{623,490}</string>
            </dict>
            <key>missionfaild_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{723,650}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{723,650}}</string>
                <key>sourceSize</key>
                <string>{725,652}</string>
            </dict>
            <key>missionfaild_quit.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2957},{200,75}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{200,75}}</string>
                <key>sourceSize</key>
                <string>{200,75}</string>
            </dict>
            <key>shuangiz.png</key>
            <dict>
                <key>frame</key>
                <string>{{131,2504},{351,418}}</string>
                <key>offset</key>
                <string>{0,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{136,41},{351,418}}</string>
                <key>sourceSize</key>
                <string>{623,490}</string>
            </dict>
            <key>shuangyu.png</key>
            <dict>
                <key>frame</key>
                <string>{{131,1995},{507,432}}</string>
                <key>offset</key>
                <string>{7,5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{65,24},{507,432}}</string>
                <key>sourceSize</key>
                <string>{623,490}</string>
            </dict>
            <key>target1000.png</key>
            <dict>
                <key>frame</key>
                <string>{{873,3020},{126,126}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,12},{126,126}}</string>
                <key>sourceSize</key>
                <string>{150,150}</string>
            </dict>
            <key>target1001.png</key>
            <dict>
                <key>frame</key>
                <string>{{751,2870},{126,126}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,12},{126,126}}</string>
                <key>sourceSize</key>
                <string>{150,150}</string>
            </dict>
            <key>target1002.png</key>
            <dict>
                <key>frame</key>
                <string>{{865,2190},{126,126}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,12},{126,126}}</string>
                <key>sourceSize</key>
                <string>{150,150}</string>
            </dict>
            <key>target1003.png</key>
            <dict>
                <key>frame</key>
                <string>{{865,2062},{126,126}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,12},{126,126}}</string>
                <key>sourceSize</key>
                <string>{150,150}</string>
            </dict>
            <key>target1004.png</key>
            <dict>
                <key>frame</key>
                <string>{{745,3036},{126,126}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,12},{126,126}}</string>
                <key>sourceSize</key>
                <string>{150,150}</string>
            </dict>
            <key>target1005.png</key>
            <dict>
                <key>frame</key>
                <string>{{623,2908},{126,126}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,12},{126,126}}</string>
                <key>sourceSize</key>
                <string>{150,150}</string>
            </dict>
            <key>target1006.png</key>
            <dict>
                <key>frame</key>
                <string>{{617,3036},{126,126}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,12},{126,126}}</string>
                <key>sourceSize</key>
                <string>{150,150}</string>
            </dict>
            <key>target1007.png</key>
            <dict>
                <key>frame</key>
                <string>{{489,3036},{126,126}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,12},{126,126}}</string>
                <key>sourceSize</key>
                <string>{150,150}</string>
            </dict>
            <key>target1008.png</key>
            <dict>
                <key>frame</key>
                <string>{{495,2908},{126,126}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,12},{126,126}}</string>
                <key>sourceSize</key>
                <string>{150,150}</string>
            </dict>
            <key>target1009.png</key>
            <dict>
                <key>frame</key>
                <string>{{361,3008},{126,126}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,12},{126,126}}</string>
                <key>sourceSize</key>
                <string>{150,150}</string>
            </dict>
            <key>zodiac_fb_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{828,2711},{152,152}}</string>
                <key>offset</key>
                <string>{-3,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,4},{152,152}}</string>
                <key>sourceSize</key>
                <string>{158,156}</string>
            </dict>
            <key>zodiac_fb_frd.png</key>
            <dict>
                <key>frame</key>
                <string>{{879,2865},{75,77}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{75,77}}</string>
                <key>sourceSize</key>
                <string>{75,77}</string>
            </dict>
            <key>zodiac_gem_icon.png</key>
            <dict>
                <key>frame</key>
                <string>{{727,612},{50,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{50,40}}</string>
                <key>sourceSize</key>
                <string>{50,40}</string>
            </dict>
            <key>zodiac_gold_icon.png</key>
            <dict>
                <key>frame</key>
                <string>{{779,612},{38,38}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{38,38}}</string>
                <key>sourceSize</key>
                <string>{38,38}</string>
            </dict>
            <key>zodiac_new_buy.png</key>
            <dict>
                <key>frame</key>
                <string>{{780,1871},{151,50}}</string>
                <key>offset</key>
                <string>{-6,6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,0},{151,50}}</string>
                <key>sourceSize</key>
                <string>{175,62}</string>
            </dict>
            <key>zodiac_new_mail.png</key>
            <dict>
                <key>frame</key>
                <string>{{879,2944},{74,75}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{74,75}}</string>
                <key>sourceSize</key>
                <string>{74,75}</string>
            </dict>
            <key>zodiac_setting_icon.png</key>
            <dict>
                <key>frame</key>
                <string>{{939,1776},{63,65}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{63,65}}</string>
                <key>sourceSize</key>
                <string>{63,65}</string>
            </dict>
            <key>zodiac_slots.png</key>
            <dict>
                <key>frame</key>
                <string>{{230,3009},{129,130}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{129,130}}</string>
                <key>sourceSize</key>
                <string>{129,130}</string>
            </dict>
            <key>zodiac_slots_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{79,3009},{147,149}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{147,149}}</string>
                <key>sourceSize</key>
                <string>{147,149}</string>
            </dict>
            <key>zodiac_top_corner.png</key>
            <dict>
                <key>frame</key>
                <string>{{565,2328},{58,111}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,0},{58,111}}</string>
                <key>sourceSize</key>
                <string>{60,111}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>ConHallUi.png</string>
            <key>size</key>
            <string>{1006,3164}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:662d473f93c117f2398bf0da3b4ef86d:1/1$</string>
            <key>textureFileName</key>
            <string>ConHallUi.png</string>
        </dict>
    </dict>
</plist>
