<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>sword_glow_00001.png</key>
            <dict>
                <key>frame</key>
                <string>{{330,522},{154,150}}</string>
                <key>offset</key>
                <string>{-3,15}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{40,0},{154,150}}</string>
                <key>sourceSize</key>
                <string>{240,180}</string>
            </dict>
            <key>sword_glow_000010.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,528},{172,172}}</string>
                <key>offset</key>
                <string>{5,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{39,0},{172,172}}</string>
                <key>sourceSize</key>
                <string>{240,180}</string>
            </dict>
            <key>sword_glow_000011.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{168,174}}</string>
                <key>offset</key>
                <string>{4,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{40,0},{168,174}}</string>
                <key>sourceSize</key>
                <string>{240,180}</string>
            </dict>
            <key>sword_glow_000012.png</key>
            <dict>
                <key>frame</key>
                <string>{{176,352},{162,168}}</string>
                <key>offset</key>
                <string>{0,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{39,9},{162,168}}</string>
                <key>sourceSize</key>
                <string>{240,180}</string>
            </dict>
            <key>sword_glow_000013.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,702},{154,172}}</string>
                <key>offset</key>
                <string>{-5,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{38,5},{154,172}}</string>
                <key>sourceSize</key>
                <string>{240,180}</string>
            </dict>
            <key>sword_glow_000014.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,178},{132,174}}</string>
                <key>offset</key>
                <string>{5,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{59,3},{132,174}}</string>
                <key>sourceSize</key>
                <string>{240,180}</string>
            </dict>
            <key>sword_glow_00002.png</key>
            <dict>
                <key>frame</key>
                <string>{{320,682},{152,158}}</string>
                <key>offset</key>
                <string>{-5,11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{39,0},{152,158}}</string>
                <key>sourceSize</key>
                <string>{240,180}</string>
            </dict>
            <key>sword_glow_00003.png</key>
            <dict>
                <key>frame</key>
                <string>{{176,522},{152,158}}</string>
                <key>offset</key>
                <string>{-4,10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{40,1},{152,158}}</string>
                <key>sourceSize</key>
                <string>{240,180}</string>
            </dict>
            <key>sword_glow_00004.png</key>
            <dict>
                <key>frame</key>
                <string>{{346,2},{152,164}}</string>
                <key>offset</key>
                <string>{-5,8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{39,0},{152,164}}</string>
                <key>sourceSize</key>
                <string>{240,180}</string>
            </dict>
            <key>sword_glow_00005.png</key>
            <dict>
                <key>frame</key>
                <string>{{310,176},{158,164}}</string>
                <key>offset</key>
                <string>{-1,6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{40,2},{158,164}}</string>
                <key>sourceSize</key>
                <string>{240,180}</string>
            </dict>
            <key>sword_glow_00006.png</key>
            <dict>
                <key>frame</key>
                <string>{{158,702},{160,170}}</string>
                <key>offset</key>
                <string>{0,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{40,1},{160,170}}</string>
                <key>sourceSize</key>
                <string>{240,180}</string>
            </dict>
            <key>sword_glow_00007.png</key>
            <dict>
                <key>frame</key>
                <string>{{172,2},{172,172}}</string>
                <key>offset</key>
                <string>{5,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{39,0},{172,172}}</string>
                <key>sourceSize</key>
                <string>{240,180}</string>
            </dict>
            <key>sword_glow_00008.png</key>
            <dict>
                <key>frame</key>
                <string>{{136,178},{172,172}}</string>
                <key>offset</key>
                <string>{5,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{39,0},{172,172}}</string>
                <key>sourceSize</key>
                <string>{240,180}</string>
            </dict>
            <key>sword_glow_00009.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,354},{172,172}}</string>
                <key>offset</key>
                <string>{5,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{39,0},{172,172}}</string>
                <key>sourceSize</key>
                <string>{240,180}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>GameEff.png</string>
            <key>size</key>
            <string>{1024,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:0a9df69c39ce4915530b93148d26b9f0:1/1$</string>
            <key>textureFileName</key>
            <string>GameEff.png</string>
        </dict>
    </dict>
</plist>
