<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>cubit_ani_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{460,1605},{262,227}}</string>
                <key>offset</key>
                <string>{14,5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{33,47},{262,227}}</string>
                <key>sourceSize</key>
                <string>{300,331}</string>
            </dict>
            <key>cubit_ani_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{292,231},{286,227}}</string>
                <key>offset</key>
                <string>{2,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,47},{286,227}}</string>
                <key>sourceSize</key>
                <string>{300,331}</string>
            </dict>
            <key>cubit_ani_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{582,2},{288,227}}</string>
                <key>offset</key>
                <string>{1,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,47},{288,227}}</string>
                <key>sourceSize</key>
                <string>{300,331}</string>
            </dict>
            <key>cubit_ani_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,231},{288,225}}</string>
                <key>offset</key>
                <string>{1,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,48},{288,225}}</string>
                <key>sourceSize</key>
                <string>{300,331}</string>
            </dict>
            <key>cubit_ani_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{292,2},{288,227}}</string>
                <key>offset</key>
                <string>{1,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,47},{288,227}}</string>
                <key>sourceSize</key>
                <string>{300,331}</string>
            </dict>
            <key>cubit_ani_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{288,227}}</string>
                <key>offset</key>
                <string>{1,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,47},{288,227}}</string>
                <key>sourceSize</key>
                <string>{300,331}</string>
            </dict>
            <key>cubit_ani_15.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,458},{284,227}}</string>
                <key>offset</key>
                <string>{3,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{11,47},{284,227}}</string>
                <key>sourceSize</key>
                <string>{300,331}</string>
            </dict>
            <key>cubit_ani_16.png</key>
            <dict>
                <key>frame</key>
                <string>{{288,460},{282,227}}</string>
                <key>offset</key>
                <string>{4,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{13,47},{282,227}}</string>
                <key>sourceSize</key>
                <string>{300,331}</string>
            </dict>
            <key>cubit_ani_17.png</key>
            <dict>
                <key>frame</key>
                <string>{{572,460},{278,227}}</string>
                <key>offset</key>
                <string>{6,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{17,47},{278,227}}</string>
                <key>sourceSize</key>
                <string>{300,331}</string>
            </dict>
            <key>cubit_ani_18.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,916},{274,227}}</string>
                <key>offset</key>
                <string>{8,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{21,47},{274,227}}</string>
                <key>sourceSize</key>
                <string>{300,331}</string>
            </dict>
            <key>cubit_ani_19.png</key>
            <dict>
                <key>frame</key>
                <string>{{278,918},{272,227}}</string>
                <key>offset</key>
                <string>{9,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{23,47},{272,227}}</string>
                <key>sourceSize</key>
                <string>{300,331}</string>
            </dict>
            <key>cubit_ani_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{724,1376},{262,227}}</string>
                <key>offset</key>
                <string>{14,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{33,47},{262,227}}</string>
                <key>sourceSize</key>
                <string>{300,331}</string>
            </dict>
            <key>cubit_ani_20.png</key>
            <dict>
                <key>frame</key>
                <string>{{552,918},{268,227}}</string>
                <key>offset</key>
                <string>{11,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{27,47},{268,227}}</string>
                <key>sourceSize</key>
                <string>{300,331}</string>
            </dict>
            <key>cubit_ani_21.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1374},{266,227}}</string>
                <key>offset</key>
                <string>{12,5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{29,47},{266,227}}</string>
                <key>sourceSize</key>
                <string>{300,331}</string>
            </dict>
            <key>cubit_ani_22.png</key>
            <dict>
                <key>frame</key>
                <string>{{3,1375},{-3,-3}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{-3,-3}}</string>
                <key>sourceSize</key>
                <string>{-1,-1}</string>
            </dict>
            <key>cubit_ani_23.png</key>
            <dict>
                <key>frame</key>
                <string>{{460,1376},{262,227}}</string>
                <key>offset</key>
                <string>{14,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{33,47},{262,227}}</string>
                <key>sourceSize</key>
                <string>{300,331}</string>
            </dict>
            <key>cubit_ani_24.png</key>
            <dict>
                <key>frame</key>
                <string>{{724,1147},{262,227}}</string>
                <key>offset</key>
                <string>{14,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{33,47},{262,227}}</string>
                <key>sourceSize</key>
                <string>{300,331}</string>
            </dict>
            <key>cubit_ani_25.png</key>
            <dict>
                <key>frame</key>
                <string>{{460,1147},{262,227}}</string>
                <key>offset</key>
                <string>{14,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{33,47},{262,227}}</string>
                <key>sourceSize</key>
                <string>{300,331}</string>
            </dict>
            <key>cubit_ani_26.png</key>
            <dict>
                <key>frame</key>
                <string>{{231,1638},{262,227}}</string>
                <key>offset</key>
                <string>{14,5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{33,47},{262,227}}</string>
                <key>sourceSize</key>
                <string>{300,331}</string>
            </dict>
            <key>cubit_ani_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{231,1374},{262,227}}</string>
                <key>offset</key>
                <string>{14,5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{33,47},{262,227}}</string>
                <key>sourceSize</key>
                <string>{300,331}</string>
            </dict>
            <key>cubit_ani_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1642},{264,227}}</string>
                <key>offset</key>
                <string>{13,5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{31,47},{264,227}}</string>
                <key>sourceSize</key>
                <string>{300,331}</string>
            </dict>
            <key>cubit_ani_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1145},{268,227}}</string>
                <key>offset</key>
                <string>{11,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{27,47},{268,227}}</string>
                <key>sourceSize</key>
                <string>{300,331}</string>
            </dict>
            <key>cubit_ani_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{562,689},{272,227}}</string>
                <key>offset</key>
                <string>{9,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{23,47},{272,227}}</string>
                <key>sourceSize</key>
                <string>{300,331}</string>
            </dict>
            <key>cubit_ani_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{284,689},{276,227}}</string>
                <key>offset</key>
                <string>{7,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{19,47},{276,227}}</string>
                <key>sourceSize</key>
                <string>{300,331}</string>
            </dict>
            <key>cubit_ani_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,687},{280,227}}</string>
                <key>offset</key>
                <string>{5,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{15,47},{280,227}}</string>
                <key>sourceSize</key>
                <string>{300,331}</string>
            </dict>
            <key>cubit_ani_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{580,231},{282,227}}</string>
                <key>offset</key>
                <string>{4,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{13,47},{282,227}}</string>
                <key>sourceSize</key>
                <string>{300,331}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>cubit_ani.pvr.ccz</string>
            <key>size</key>
            <string>{1024,2048}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:5fabbb9bfff94184a8f017f40307e6f7:1/1$</string>
            <key>textureFileName</key>
            <string>cubit_ani.pvr.ccz</string>
        </dict>
    </dict>
</plist>
