<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>coin_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{226,226}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,7},{226,226}}</string>
                <key>sourceSize</key>
                <string>{240,240}</string>
            </dict>
            <key>coin_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{418,686},{196,226}}</string>
                <key>offset</key>
                <string>{13,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{35,7},{196,226}}</string>
                <key>sourceSize</key>
                <string>{240,240}</string>
            </dict>
            <key>coin_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{228,230},{212,226}}</string>
                <key>offset</key>
                <string>{6,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{20,7},{212,226}}</string>
                <key>sourceSize</key>
                <string>{240,240}</string>
            </dict>
            <key>coin_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{792,2},{224,224}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,8},{224,224}}</string>
                <key>sourceSize</key>
                <string>{240,240}</string>
            </dict>
            <key>coin_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,230},{224,226}}</string>
                <key>offset</key>
                <string>{-2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,7},{224,226}}</string>
                <key>sourceSize</key>
                <string>{240,240}</string>
            </dict>
            <key>coin_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{220,458},{212,226}}</string>
                <key>offset</key>
                <string>{-7,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,7},{212,226}}</string>
                <key>sourceSize</key>
                <string>{240,240}</string>
            </dict>
            <key>coin_15.png</key>
            <dict>
                <key>frame</key>
                <string>{{220,686},{196,226}}</string>
                <key>offset</key>
                <string>{-14,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,7},{196,226}}</string>
                <key>sourceSize</key>
                <string>{240,240}</string>
            </dict>
            <key>coin_16.png</key>
            <dict>
                <key>frame</key>
                <string>{{618,458},{166,226}}</string>
                <key>offset</key>
                <string>{-18,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{19,7},{166,226}}</string>
                <key>sourceSize</key>
                <string>{240,240}</string>
            </dict>
            <key>coin_17.png</key>
            <dict>
                <key>frame</key>
                <string>{{772,230},{122,226}}</string>
                <key>offset</key>
                <string>{-16,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{43,7},{122,226}}</string>
                <key>sourceSize</key>
                <string>{240,240}</string>
            </dict>
            <key>coin_18.png</key>
            <dict>
                <key>frame</key>
                <string>{{786,458},{78,222}}</string>
                <key>offset</key>
                <string>{-4,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{77,9},{78,222}}</string>
                <key>sourceSize</key>
                <string>{240,240}</string>
            </dict>
            <key>coin_19.png</key>
            <dict>
                <key>frame</key>
                <string>{{228,914},{98,224}}</string>
                <key>offset</key>
                <string>{11,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{82,8},{98,224}}</string>
                <key>sourceSize</key>
                <string>{240,240}</string>
            </dict>
            <key>coin_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,686},{216,226}}</string>
                <key>offset</key>
                <string>{-3,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,7},{216,226}}</string>
                <key>sourceSize</key>
                <string>{240,240}</string>
            </dict>
            <key>coin_20.png</key>
            <dict>
                <key>frame</key>
                <string>{{646,2},{144,226}}</string>
                <key>offset</key>
                <string>{17,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{65,7},{144,226}}</string>
                <key>sourceSize</key>
                <string>{240,240}</string>
            </dict>
            <key>coin_21.png</key>
            <dict>
                <key>frame</key>
                <string>{{442,230},{182,226}}</string>
                <key>offset</key>
                <string>{16,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{45,7},{182,226}}</string>
                <key>sourceSize</key>
                <string>{240,240}</string>
            </dict>
            <key>coin_22.png</key>
            <dict>
                <key>frame</key>
                <string>{{438,2},{206,226}}</string>
                <key>offset</key>
                <string>{10,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{27,7},{206,226}}</string>
                <key>sourceSize</key>
                <string>{240,240}</string>
            </dict>
            <key>coin_23.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,458},{216,226}}</string>
                <key>offset</key>
                <string>{3,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{15,7},{216,226}}</string>
                <key>sourceSize</key>
                <string>{240,240}</string>
            </dict>
            <key>coin_24.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{226,226}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,7},{226,226}}</string>
                <key>sourceSize</key>
                <string>{240,240}</string>
            </dict>
            <key>coin_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{230,2},{206,226}}</string>
                <key>offset</key>
                <string>{-11,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,7},{206,226}}</string>
                <key>sourceSize</key>
                <string>{240,240}</string>
            </dict>
            <key>coin_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{434,458},{182,226}}</string>
                <key>offset</key>
                <string>{-16,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{13,7},{182,226}}</string>
                <key>sourceSize</key>
                <string>{240,240}</string>
            </dict>
            <key>coin_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{626,230},{144,226}}</string>
                <key>offset</key>
                <string>{-17,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{31,7},{144,226}}</string>
                <key>sourceSize</key>
                <string>{240,240}</string>
            </dict>
            <key>coin_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,914},{98,224}}</string>
                <key>offset</key>
                <string>{-11,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{60,8},{98,224}}</string>
                <key>sourceSize</key>
                <string>{240,240}</string>
            </dict>
            <key>coin_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{454,914},{78,222}}</string>
                <key>offset</key>
                <string>{4,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{85,9},{78,222}}</string>
                <key>sourceSize</key>
                <string>{240,240}</string>
            </dict>
            <key>coin_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{896,228},{122,224}}</string>
                <key>offset</key>
                <string>{15,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{74,8},{122,224}}</string>
                <key>sourceSize</key>
                <string>{240,240}</string>
            </dict>
            <key>coin_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{616,686},{166,226}}</string>
                <key>offset</key>
                <string>{17,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{54,7},{166,226}}</string>
                <key>sourceSize</key>
                <string>{240,240}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>AniCoin.png</string>
            <key>size</key>
            <string>{1024,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:ed90e569997b8f694357137a499037f7:1/1$</string>
            <key>textureFileName</key>
            <string>AniCoin.png</string>
        </dict>
    </dict>
</plist>
