<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>2048_gf_light_bb.png</key>
            <dict>
                <key>frame</key>
                <string>{{606,306},{200,194}}</string>
                <key>offset</key>
                <string>{0,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,6},{200,194}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>2048_gs_bk1.png</key>
            <dict>
                <key>frame</key>
                <string>{{808,492},{171,171}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{171,171}}</string>
                <key>sourceSize</key>
                <string>{171,171}</string>
            </dict>
            <key>2048_gs_bk2.png</key>
            <dict>
                <key>frame</key>
                <string>{{606,502},{165,171}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,0},{165,171}}</string>
                <key>sourceSize</key>
                <string>{171,171}</string>
            </dict>
            <key>2048_gs_bk3.png</key>
            <dict>
                <key>frame</key>
                <string>{{606,669},{161,171}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{5,0},{161,171}}</string>
                <key>sourceSize</key>
                <string>{171,171}</string>
            </dict>
            <key>2048_gs_bk4.png</key>
            <dict>
                <key>frame</key>
                <string>{{808,319},{171,171}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{171,171}}</string>
                <key>sourceSize</key>
                <string>{171,171}</string>
            </dict>
            <key>2048_gs_bk5.png</key>
            <dict>
                <key>frame</key>
                <string>{{779,665},{171,163}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{171,163}}</string>
                <key>sourceSize</key>
                <string>{171,171}</string>
            </dict>
            <key>2048_two1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1020,2},{2,2}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{2,2}}</string>
                <key>sourceSize</key>
                <string>{2,2}</string>
            </dict>
            <key>MutiplerSpr_x10.png</key>
            <dict>
                <key>frame</key>
                <string>{{931,867},{138,72}}</string>
                <key>offset</key>
                <string>{-2,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,16},{138,72}}</string>
                <key>sourceSize</key>
                <string>{150,100}</string>
            </dict>
            <key>MutiplerSpr_x2.png</key>
            <dict>
                <key>frame</key>
                <string>{{918,83},{94,72}}</string>
                <key>offset</key>
                <string>{-2,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{26,16},{94,72}}</string>
                <key>sourceSize</key>
                <string>{150,100}</string>
            </dict>
            <key>MutiplerSpr_x5.png</key>
            <dict>
                <key>frame</key>
                <string>{{918,9},{96,72}}</string>
                <key>offset</key>
                <string>{-2,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{25,16},{96,72}}</string>
                <key>sourceSize</key>
                <string>{150,100}</string>
            </dict>
            <key>icon_wild.png</key>
            <dict>
                <key>frame</key>
                <string>{{952,738},{127,55}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{5,8},{127,55}}</string>
                <key>sourceSize</key>
                <string>{137,73}</string>
            </dict>
            <key>item1.png</key>
            <dict>
                <key>frame</key>
                <string>{{584,984},{150,150}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{150,150}}</string>
                <key>sourceSize</key>
                <string>{150,150}</string>
            </dict>
            <key>item10.png</key>
            <dict>
                <key>frame</key>
                <string>{{432,920},{150,150}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{150,150}}</string>
                <key>sourceSize</key>
                <string>{150,150}</string>
            </dict>
            <key>item1_2_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{618,154},{150,298}}</string>
                <key>offset</key>
                <string>{0,-76}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,152},{150,298}}</string>
                <key>sourceSize</key>
                <string>{150,450}</string>
            </dict>
            <key>item1_2_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{618,2},{150,298}}</string>
                <key>offset</key>
                <string>{0,-76}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,152},{150,298}}</string>
                <key>sourceSize</key>
                <string>{150,450}</string>
            </dict>
            <key>item1_3_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,468},{150,450}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{150,450}}</string>
                <key>sourceSize</key>
                <string>{150,450}</string>
            </dict>
            <key>item1_3_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,620},{150,430}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,10},{150,430}}</string>
                <key>sourceSize</key>
                <string>{150,450}</string>
            </dict>
            <key>item1_3_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{454,316},{150,450}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{150,450}}</string>
                <key>sourceSize</key>
                <string>{150,450}</string>
            </dict>
            <key>item2.png</key>
            <dict>
                <key>frame</key>
                <string>{{304,1072},{148,146}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,4},{148,146}}</string>
                <key>sourceSize</key>
                <string>{150,150}</string>
            </dict>
            <key>item3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1072},{148,148}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,2},{148,148}}</string>
                <key>sourceSize</key>
                <string>{150,150}</string>
            </dict>
            <key>item4.png</key>
            <dict>
                <key>frame</key>
                <string>{{736,1134},{150,148}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,1},{150,148}}</string>
                <key>sourceSize</key>
                <string>{150,150}</string>
            </dict>
            <key>item5.png</key>
            <dict>
                <key>frame</key>
                <string>{{154,1070},{148,148}}</string>
                <key>offset</key>
                <string>{1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,2},{148,148}}</string>
                <key>sourceSize</key>
                <string>{150,150}</string>
            </dict>
            <key>item6.png</key>
            <dict>
                <key>frame</key>
                <string>{{154,924},{144,150}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,0},{144,150}}</string>
                <key>sourceSize</key>
                <string>{150,150}</string>
            </dict>
            <key>item7.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,924},{150,146}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,4},{150,146}}</string>
                <key>sourceSize</key>
                <string>{150,150}</string>
            </dict>
            <key>item8.png</key>
            <dict>
                <key>frame</key>
                <string>{{154,772},{150,150}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{150,150}}</string>
                <key>sourceSize</key>
                <string>{150,150}</string>
            </dict>
            <key>item9.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,772},{150,150}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{150,150}}</string>
                <key>sourceSize</key>
                <string>{150,150}</string>
            </dict>
            <key>item_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{1020,6},{1,1}}</string>
                <key>offset</key>
                <string>{-74.5,74.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{150,150}</string>
            </dict>
            <key>item_free1.png</key>
            <dict>
                <key>frame</key>
                <string>{{738,982},{150,150}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{150,150}}</string>
                <key>sourceSize</key>
                <string>{150,150}</string>
            </dict>
            <key>item_spec1.png</key>
            <dict>
                <key>frame</key>
                <string>{{586,832},{150,150}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{150,150}}</string>
                <key>sourceSize</key>
                <string>{150,150}</string>
            </dict>
            <key>item_wild1.png</key>
            <dict>
                <key>frame</key>
                <string>{{779,830},{150,150}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{150,150}}</string>
                <key>sourceSize</key>
                <string>{150,150}</string>
            </dict>
            <key>levelAniStar1.png</key>
            <dict>
                <key>frame</key>
                <string>{{918,157},{85,85}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{85,85}}</string>
                <key>sourceSize</key>
                <string>{85,85}</string>
            </dict>
            <key>line_type1.jpg</key>
            <dict>
                <key>frame</key>
                <string>{{918,2},{100,5}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{100,5}}</string>
                <key>sourceSize</key>
                <string>{100,5}</string>
            </dict>
            <key>line_type1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1020,2},{2,2}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{2,2}}</string>
                <key>sourceSize</key>
                <string>{2,2}</string>
            </dict>
            <key>long_button.png</key>
            <dict>
                <key>frame</key>
                <string>{{994,244},{245,23}}</string>
                <key>offset</key>
                <string>{5,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{47,0},{245,23}}</string>
                <key>sourceSize</key>
                <string>{329,23}</string>
            </dict>
            <key>res_brick.png</key>
            <dict>
                <key>frame</key>
                <string>{{306,772},{150,124}}</string>
                <key>offset</key>
                <string>{0,-4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,17},{150,124}}</string>
                <key>sourceSize</key>
                <string>{150,150}</string>
            </dict>
            <key>res_fath1.png</key>
            <dict>
                <key>frame</key>
                <string>{{890,1119},{124,150}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,0},{124,150}}</string>
                <key>sourceSize</key>
                <string>{150,150}</string>
            </dict>
            <key>res_fath3.png</key>
            <dict>
                <key>frame</key>
                <string>{{434,768},{150,150}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{150,150}}</string>
                <key>sourceSize</key>
                <string>{150,150}</string>
            </dict>
            <key>res_stone.png</key>
            <dict>
                <key>frame</key>
                <string>{{890,1007},{110,128}}</string>
                <key>offset</key>
                <string>{-3,5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{17,6},{110,128}}</string>
                <key>sourceSize</key>
                <string>{150,150}</string>
            </dict>
            <key>testLongSpr.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,316},{150,450}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{150,450}}</string>
                <key>sourceSize</key>
                <string>{150,450}</string>
            </dict>
            <key>zef_gf_light_b.png</key>
            <dict>
                <key>frame</key>
                <string>{{606,306},{200,194}}</string>
                <key>offset</key>
                <string>{0,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,6},{200,194}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>zeus_freeBar.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{159,614}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{159,614}}</string>
                <key>sourceSize</key>
                <string>{159,614}</string>
            </dict>
            <key>zeus_norBar.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,163},{151,602}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,4},{151,602}}</string>
                <key>sourceSize</key>
                <string>{159,614}</string>
            </dict>
            <key>zeus_star.png</key>
            <dict>
                <key>frame</key>
                <string>{{918,244},{74,73}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{74,73}}</string>
                <key>sourceSize</key>
                <string>{74,73}</string>
            </dict>
            <key>zons_fly_coin.png</key>
            <dict>
                <key>frame</key>
                <string>{{888,1271},{71,71}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{71,71}}</string>
                <key>sourceSize</key>
                <string>{71,71}</string>
            </dict>
            <key>zons_fly_coin1.png</key>
            <dict>
                <key>frame</key>
                <string>{{952,665},{57,71}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{57,71}}</string>
                <key>sourceSize</key>
                <string>{57,71}</string>
            </dict>
            <key>zons_fly_coin2.png</key>
            <dict>
                <key>frame</key>
                <string>{{981,491},{29,71}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{29,71}}</string>
                <key>sourceSize</key>
                <string>{29,71}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>Test.pvr.ccz</string>
            <key>size</key>
            <string>{1024,2048}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:19e966cedd06dc0309d482117df6e046:1/1$</string>
            <key>textureFileName</key>
            <string>Test.pvr.ccz</string>
        </dict>
    </dict>
</plist>
