<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>2048_gs_bk1.png</key>
            <dict>
                <key>frame</key>
                <string>{{316,276},{171,171}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{171,171}}</string>
                <key>sourceSize</key>
                <string>{171,171}</string>
            </dict>
            <key>2048_gs_bk2.png</key>
            <dict>
                <key>frame</key>
                <string>{{489,204},{165,171}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,0},{165,171}}</string>
                <key>sourceSize</key>
                <string>{171,171}</string>
            </dict>
            <key>2048_gs_bk3.png</key>
            <dict>
                <key>frame</key>
                <string>{{316,449},{161,171}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{5,0},{161,171}}</string>
                <key>sourceSize</key>
                <string>{171,171}</string>
            </dict>
            <key>2048_gs_bk4.png</key>
            <dict>
                <key>frame</key>
                <string>{{316,103},{171,171}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{171,171}}</string>
                <key>sourceSize</key>
                <string>{171,171}</string>
            </dict>
            <key>2048_gs_bk5.png</key>
            <dict>
                <key>frame</key>
                <string>{{489,377},{171,163}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,2},{171,163}}</string>
                <key>sourceSize</key>
                <string>{171,171}</string>
            </dict>
            <key>2048_two1.png</key>
            <dict>
                <key>frame</key>
                <string>{{257,764},{2,2}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{2,2}}</string>
                <key>sourceSize</key>
                <string>{2,2}</string>
            </dict>
            <key>MutiplerSpr_x10.png</key>
            <dict>
                <key>frame</key>
                <string>{{316,2},{261,99}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{261,99}}</string>
                <key>sourceSize</key>
                <string>{261,101}</string>
            </dict>
            <key>MutiplerSpr_x2.png</key>
            <dict>
                <key>frame</key>
                <string>{{489,103},{243,99}}</string>
                <key>offset</key>
                <string>{-1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,2},{243,99}}</string>
                <key>sourceSize</key>
                <string>{261,101}</string>
            </dict>
            <key>MutiplerSpr_x5.png</key>
            <dict>
                <key>frame</key>
                <string>{{579,2},{243,99}}</string>
                <key>offset</key>
                <string>{-1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,2},{243,99}}</string>
                <key>sourceSize</key>
                <string>{261,101}</string>
            </dict>
            <key>cai_1000.png</key>
            <dict>
                <key>frame</key>
                <string>{{899,781},{34,96}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{24,119},{34,96}}</string>
                <key>sourceSize</key>
                <string>{82,334}</string>
            </dict>
            <key>cai_2000.png</key>
            <dict>
                <key>frame</key>
                <string>{{863,883},{34,100}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{24,115},{34,100}}</string>
                <key>sourceSize</key>
                <string>{82,334}</string>
            </dict>
            <key>cai_3000.png</key>
            <dict>
                <key>frame</key>
                <string>{{863,781},{34,100}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{24,115},{34,100}}</string>
                <key>sourceSize</key>
                <string>{82,334}</string>
            </dict>
            <key>cai_4000.png</key>
            <dict>
                <key>frame</key>
                <string>{{863,781},{34,100}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{24,115},{34,100}}</string>
                <key>sourceSize</key>
                <string>{82,334}</string>
            </dict>
            <key>cai_5000.png</key>
            <dict>
                <key>frame</key>
                <string>{{919,582},{34,100}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{24,115},{34,100}}</string>
                <key>sourceSize</key>
                <string>{82,334}</string>
            </dict>
            <key>cai_6000.png</key>
            <dict>
                <key>frame</key>
                <string>{{976,2},{32,148}}</string>
                <key>offset</key>
                <string>{-2,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{23,90},{32,148}}</string>
                <key>sourceSize</key>
                <string>{82,334}</string>
            </dict>
            <key>icon_wild.png</key>
            <dict>
                <key>frame</key>
                <string>{{654,482},{127,55}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,8},{127,55}}</string>
                <key>sourceSize</key>
                <string>{137,73}</string>
            </dict>
            <key>item1.png</key>
            <dict>
                <key>frame</key>
                <string>{{561,852},{150,150}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{150,150}}</string>
                <key>sourceSize</key>
                <string>{150,150}</string>
            </dict>
            <key>item10.png</key>
            <dict>
                <key>frame</key>
                <string>{{409,852},{150,150}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{150,150}}</string>
                <key>sourceSize</key>
                <string>{150,150}</string>
            </dict>
            <key>item2.png</key>
            <dict>
                <key>frame</key>
                <string>{{641,550},{148,146}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,4},{148,146}}</string>
                <key>sourceSize</key>
                <string>{150,150}</string>
            </dict>
            <key>item2_w.png</key>
            <dict>
                <key>frame</key>
                <string>{{111,770},{148,146}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,4},{148,146}}</string>
                <key>sourceSize</key>
                <string>{150,150}</string>
            </dict>
            <key>item3.png</key>
            <dict>
                <key>frame</key>
                <string>{{808,432},{148,148}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,2},{148,148}}</string>
                <key>sourceSize</key>
                <string>{150,150}</string>
            </dict>
            <key>item4.png</key>
            <dict>
                <key>frame</key>
                <string>{{713,700},{150,148}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,1},{150,148}}</string>
                <key>sourceSize</key>
                <string>{150,150}</string>
            </dict>
            <key>item5.png</key>
            <dict>
                <key>frame</key>
                <string>{{713,852},{148,148}}</string>
                <key>offset</key>
                <string>{1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,2},{148,148}}</string>
                <key>sourceSize</key>
                <string>{150,150}</string>
            </dict>
            <key>item6.png</key>
            <dict>
                <key>frame</key>
                <string>{{111,618},{144,150}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,0},{144,150}}</string>
                <key>sourceSize</key>
                <string>{150,150}</string>
            </dict>
            <key>item7.png</key>
            <dict>
                <key>frame</key>
                <string>{{261,764},{150,146}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,4},{150,146}}</string>
                <key>sourceSize</key>
                <string>{150,150}</string>
            </dict>
            <key>item8.png</key>
            <dict>
                <key>frame</key>
                <string>{{561,700},{150,150}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{150,150}}</string>
                <key>sourceSize</key>
                <string>{150,150}</string>
            </dict>
            <key>item9.png</key>
            <dict>
                <key>frame</key>
                <string>{{409,700},{150,150}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{150,150}}</string>
                <key>sourceSize</key>
                <string>{150,150}</string>
            </dict>
            <key>item_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{86,865},{1,1}}</string>
                <key>offset</key>
                <string>{-74.5,74.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{150,150}</string>
            </dict>
            <key>item_free1.png</key>
            <dict>
                <key>frame</key>
                <string>{{257,612},{150,150}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{150,150}}</string>
                <key>sourceSize</key>
                <string>{150,150}</string>
            </dict>
            <key>item_spec1.png</key>
            <dict>
                <key>frame</key>
                <string>{{808,154},{150,150}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{150,150}}</string>
                <key>sourceSize</key>
                <string>{150,150}</string>
            </dict>
            <key>item_spec2.png</key>
            <dict>
                <key>frame</key>
                <string>{{489,550},{150,148}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{150,148}}</string>
                <key>sourceSize</key>
                <string>{150,150}</string>
            </dict>
            <key>item_wild1.png</key>
            <dict>
                <key>frame</key>
                <string>{{656,204},{150,150}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{150,150}}</string>
                <key>sourceSize</key>
                <string>{150,150}</string>
            </dict>
            <key>levelAniStar1.png</key>
            <dict>
                <key>frame</key>
                <string>{{863,694},{85,85}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{85,85}}</string>
                <key>sourceSize</key>
                <string>{85,85}</string>
            </dict>
            <key>line_type1.jpg</key>
            <dict>
                <key>frame</key>
                <string>{{960,154},{100,5}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{100,5}}</string>
                <key>sourceSize</key>
                <string>{100,5}</string>
            </dict>
            <key>line_type1.png</key>
            <dict>
                <key>frame</key>
                <string>{{257,764},{2,2}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{2,2}}</string>
                <key>sourceSize</key>
                <string>{2,2}</string>
            </dict>
            <key>long_button.png</key>
            <dict>
                <key>frame</key>
                <string>{{86,618},{245,23}}</string>
                <key>offset</key>
                <string>{5,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{47,0},{245,23}}</string>
                <key>sourceSize</key>
                <string>{329,23}</string>
            </dict>
            <key>res_brick.png</key>
            <dict>
                <key>frame</key>
                <string>{{808,306},{150,124}}</string>
                <key>offset</key>
                <string>{0,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,17},{150,124}}</string>
                <key>sourceSize</key>
                <string>{150,150}</string>
            </dict>
            <key>res_fath1.png</key>
            <dict>
                <key>frame</key>
                <string>{{656,356},{124,150}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{12,0},{124,150}}</string>
                <key>sourceSize</key>
                <string>{150,150}</string>
            </dict>
            <key>res_fath3.png</key>
            <dict>
                <key>frame</key>
                <string>{{824,2},{150,150}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{150,150}}</string>
                <key>sourceSize</key>
                <string>{150,150}</string>
            </dict>
            <key>res_stone.png</key>
            <dict>
                <key>frame</key>
                <string>{{789,582},{110,128}}</string>
                <key>offset</key>
                <string>{-3,5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{17,6},{110,128}}</string>
                <key>sourceSize</key>
                <string>{150,150}</string>
            </dict>
            <key>wuqi.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,618},{82,334}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{82,334}}</string>
                <key>sourceSize</key>
                <string>{82,334}</string>
            </dict>
            <key>zeus_freeBar.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{159,614}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{159,614}}</string>
                <key>sourceSize</key>
                <string>{159,614}</string>
            </dict>
            <key>zeus_norBar.png</key>
            <dict>
                <key>frame</key>
                <string>{{163,2},{151,602}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,4},{151,602}}</string>
                <key>sourceSize</key>
                <string>{159,614}</string>
            </dict>
            <key>zeus_star.png</key>
            <dict>
                <key>frame</key>
                <string>{{409,612},{74,73}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{74,73}}</string>
                <key>sourceSize</key>
                <string>{74,73}</string>
            </dict>
            <key>zons_fly_coin.png</key>
            <dict>
                <key>frame</key>
                <string>{{734,103},{71,71}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{71,71}}</string>
                <key>sourceSize</key>
                <string>{71,71}</string>
            </dict>
            <key>zons_fly_coin1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,954},{57,71}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{57,71}}</string>
                <key>sourceSize</key>
                <string>{57,71}</string>
            </dict>
            <key>zons_fly_coin2.png</key>
            <dict>
                <key>frame</key>
                <string>{{899,879},{29,71}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{29,71}}</string>
                <key>sourceSize</key>
                <string>{29,71}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>Boans.pvr.ccz</string>
            <key>size</key>
            <string>{1024,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:4c03b9f4fdd99482eb748a4107b2020b:1/1$</string>
            <key>textureFileName</key>
            <string>Boans.pvr.ccz</string>
        </dict>
    </dict>
</plist>
