<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>2048_betAdd.png</key>
            <dict>
                <key>frame</key>
                <string>{{747,1481},{103,101}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{103,101}}</string>
                <key>sourceSize</key>
                <string>{107,105}</string>
            </dict>
            <key>2048_betRedu.png</key>
            <dict>
                <key>frame</key>
                <string>{{1915,1689},{103,101}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{103,101}}</string>
                <key>sourceSize</key>
                <string>{107,105}</string>
            </dict>
            <key>2048_bigs2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1226,2913},{193,193}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{193,193}}</string>
                <key>sourceSize</key>
                <string>{197,197}</string>
            </dict>
            <key>2048_boostBu.png</key>
            <dict>
                <key>frame</key>
                <string>{{1849,825},{245,65}}</string>
                <key>offset</key>
                <string>{-2,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{11,7},{245,65}}</string>
                <key>sourceSize</key>
                <string>{271,81}</string>
            </dict>
            <key>2048_boostBu_lock.png</key>
            <dict>
                <key>frame</key>
                <string>{{852,1493},{339,186}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{339,186}}</string>
                <key>sourceSize</key>
                <string>{339,188}</string>
            </dict>
            <key>2048_fir_ticket.png</key>
            <dict>
                <key>frame</key>
                <string>{{1916,1053},{126,77}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,5},{126,77}}</string>
                <key>sourceSize</key>
                <string>{136,87}</string>
            </dict>
            <key>2048_free_spin.png</key>
            <dict>
                <key>frame</key>
                <string>{{807,3526},{204,205}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{204,205}}</string>
                <key>sourceSize</key>
                <string>{204,205}</string>
            </dict>
            <key>2048_gf_light_bb.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,955},{400,388}}</string>
                <key>offset</key>
                <string>{0,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,12},{400,388}}</string>
                <key>sourceSize</key>
                <string>{400,400}</string>
            </dict>
            <key>2048_gs_bk1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1345},{341,341}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{341,341}}</string>
                <key>sourceSize</key>
                <string>{341,341}</string>
            </dict>
            <key>2048_gs_bk2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1230,956},{329,341}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{5,0},{329,341}}</string>
                <key>sourceSize</key>
                <string>{341,341}</string>
            </dict>
            <key>2048_gs_bk3.png</key>
            <dict>
                <key>frame</key>
                <string>{{1230,1287},{323,341}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{9,0},{323,341}}</string>
                <key>sourceSize</key>
                <string>{341,341}</string>
            </dict>
            <key>2048_gs_bk4.png</key>
            <dict>
                <key>frame</key>
                <string>{{404,1157},{341,341}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{341,341}}</string>
                <key>sourceSize</key>
                <string>{341,341}</string>
            </dict>
            <key>2048_gs_bk5.png</key>
            <dict>
                <key>frame</key>
                <string>{{1573,1072},{341,325}}</string>
                <key>offset</key>
                <string>{0,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,5},{341,325}}</string>
                <key>sourceSize</key>
                <string>{341,341}</string>
            </dict>
            <key>2048_hall.png</key>
            <dict>
                <key>frame</key>
                <string>{{1716,956},{131,75}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,2},{131,75}}</string>
                <key>sourceSize</key>
                <string>{135,77}</string>
            </dict>
            <key>2048_help.png</key>
            <dict>
                <key>frame</key>
                <string>{{779,1116},{131,75}}</string>
                <key>offset</key>
                <string>{0,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,9},{131,75}}</string>
                <key>sourceSize</key>
                <string>{131,87}</string>
            </dict>
            <key>2048_prop.png</key>
            <dict>
                <key>frame</key>
                <string>{{779,1039},{131,75}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,2},{131,75}}</string>
                <key>sourceSize</key>
                <string>{135,77}</string>
            </dict>
            <key>2048_spin.png</key>
            <dict>
                <key>frame</key>
                <string>{{1013,3465},{204,203}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{204,203}}</string>
                <key>sourceSize</key>
                <string>{204,203}</string>
            </dict>
            <key>2048_spin2.png</key>
            <dict>
                <key>frame</key>
                <string>{{590,3804},{231,231}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{231,231}}</string>
                <key>sourceSize</key>
                <string>{231,231}</string>
            </dict>
            <key>2048_spin_auto.png</key>
            <dict>
                <key>frame</key>
                <string>{{600,3526},{210,205}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{210,205}}</string>
                <key>sourceSize</key>
                <string>{210,205}</string>
            </dict>
            <key>2048_two1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1916,1027},{4,4}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{4,4}}</string>
                <key>sourceSize</key>
                <string>{4,4}</string>
            </dict>
            <key>item1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1198,3112},{294,296}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{13,10},{294,296}}</string>
                <key>sourceSize</key>
                <string>{320,320}</string>
            </dict>
            <key>item10.png</key>
            <dict>
                <key>frame</key>
                <string>{{304,3030},{194,300}}</string>
                <key>offset</key>
                <string>{-10,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{43,0},{194,300}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
            <key>item2.png</key>
            <dict>
                <key>frame</key>
                <string>{{302,3226},{298,298}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{11,9},{298,298}}</string>
                <key>sourceSize</key>
                <string>{320,320}</string>
            </dict>
            <key>item3.png</key>
            <dict>
                <key>frame</key>
                <string>{{685,1681},{304,338}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{19,1},{304,338}}</string>
                <key>sourceSize</key>
                <string>{340,340}</string>
            </dict>
            <key>item4.png</key>
            <dict>
                <key>frame</key>
                <string>{{324,2128},{300,316}}</string>
                <key>offset</key>
                <string>{1,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{11,0},{300,316}}</string>
                <key>sourceSize</key>
                <string>{320,320}</string>
            </dict>
            <key>item5.png</key>
            <dict>
                <key>frame</key>
                <string>{{302,3526},{296,276}}</string>
                <key>offset</key>
                <string>{-1,7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,5},{296,276}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
            <key>item6.png</key>
            <dict>
                <key>frame</key>
                <string>{{924,2842},{300,268}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,14},{300,268}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
            <key>item7.png</key>
            <dict>
                <key>frame</key>
                <string>{{1248,2615},{300,296}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,1},{300,296}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
            <key>item8.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,3820},{268,288}}</string>
                <key>offset</key>
                <string>{-3,3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{13,3},{268,288}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
            <key>item9.png</key>
            <dict>
                <key>frame</key>
                <string>{{606,2911},{300,252}}</string>
                <key>offset</key>
                <string>{0,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,19},{300,252}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
            <key>item_bonus1.png</key>
            <dict>
                <key>frame</key>
                <string>{{292,3820},{296,250}}</string>
                <key>offset</key>
                <string>{-2,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,23},{296,250}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
            <key>item_free1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1290,2313},{300,300}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,9},{300,300}}</string>
                <key>sourceSize</key>
                <string>{320,320}</string>
            </dict>
            <key>item_free2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,3520},{298,298}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{11,10},{298,298}}</string>
                <key>sourceSize</key>
                <string>{320,320}</string>
            </dict>
            <key>item_free3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,3220},{298,298}}</string>
                <key>offset</key>
                <string>{1,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,9},{298,298}}</string>
                <key>sourceSize</key>
                <string>{320,320}</string>
            </dict>
            <key>item_free4.png</key>
            <dict>
                <key>frame</key>
                <string>{{1592,2613},{298,300}}</string>
                <key>offset</key>
                <string>{1,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{12,8},{298,300}}</string>
                <key>sourceSize</key>
                <string>{320,320}</string>
            </dict>
            <key>item_free5.png</key>
            <dict>
                <key>frame</key>
                <string>{{1592,2313},{298,300}}</string>
                <key>offset</key>
                <string>{1,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{12,8},{298,300}}</string>
                <key>sourceSize</key>
                <string>{320,320}</string>
            </dict>
            <key>item_selene1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1198,3112},{294,296}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{13,10},{294,296}}</string>
                <key>sourceSize</key>
                <string>{320,320}</string>
            </dict>
            <key>item_selene2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1494,3209},{294,294}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{13,12},{294,294}}</string>
                <key>sourceSize</key>
                <string>{320,320}</string>
            </dict>
            <key>item_selene3.png</key>
            <dict>
                <key>frame</key>
                <string>{{1494,2913},{294,294}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{13,11},{294,294}}</string>
                <key>sourceSize</key>
                <string>{320,320}</string>
            </dict>
            <key>item_selene4.png</key>
            <dict>
                <key>frame</key>
                <string>{{1121,3671},{294,294}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{13,11},{294,294}}</string>
                <key>sourceSize</key>
                <string>{320,320}</string>
            </dict>
            <key>item_sheep1.png</key>
            <dict>
                <key>frame</key>
                <string>{{324,2128},{300,316}}</string>
                <key>offset</key>
                <string>{1,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{11,0},{300,316}}</string>
                <key>sourceSize</key>
                <string>{320,320}</string>
            </dict>
            <key>item_sheep2.png</key>
            <dict>
                <key>frame</key>
                <string>{{912,1191},{300,316}}</string>
                <key>offset</key>
                <string>{1,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{11,0},{300,316}}</string>
                <key>sourceSize</key>
                <string>{320,320}</string>
            </dict>
            <key>item_sheep3.png</key>
            <dict>
                <key>frame</key>
                <string>{{912,889},{300,316}}</string>
                <key>offset</key>
                <string>{1,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{11,0},{300,316}}</string>
                <key>sourceSize</key>
                <string>{320,320}</string>
            </dict>
            <key>item_sheep4.png</key>
            <dict>
                <key>frame</key>
                <string>{{912,587},{300,316}}</string>
                <key>offset</key>
                <string>{1,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{11,0},{300,316}}</string>
                <key>sourceSize</key>
                <string>{320,320}</string>
            </dict>
            <key>item_sheep5.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2316},{300,314}}</string>
                <key>offset</key>
                <string>{1,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{11,2},{300,314}}</string>
                <key>sourceSize</key>
                <string>{320,320}</string>
            </dict>
            <key>item_skyHouse1.png</key>
            <dict>
                <key>frame</key>
                <string>{{685,1681},{304,338}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{19,1},{304,338}}</string>
                <key>sourceSize</key>
                <string>{340,340}</string>
            </dict>
            <key>item_skyHouse2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1688},{304,338}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{19,1},{304,338}}</string>
                <key>sourceSize</key>
                <string>{340,340}</string>
            </dict>
            <key>item_skyHouse3.png</key>
            <dict>
                <key>frame</key>
                <string>{{1573,1399},{304,340}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{19,0},{304,340}}</string>
                <key>sourceSize</key>
                <string>{340,340}</string>
            </dict>
            <key>item_skyHouse4.png</key>
            <dict>
                <key>frame</key>
                <string>{{345,1500},{304,338}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{19,1},{304,338}}</string>
                <key>sourceSize</key>
                <string>{340,340}</string>
            </dict>
            <key>item_skyHouse5.png</key>
            <dict>
                <key>frame</key>
                <string>{{1533,1705},{304,338}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{19,1},{304,338}}</string>
                <key>sourceSize</key>
                <string>{340,340}</string>
            </dict>
            <key>item_skyHouse6.png</key>
            <dict>
                <key>frame</key>
                <string>{{1193,1612},{304,338}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{19,1},{304,338}}</string>
                <key>sourceSize</key>
                <string>{340,340}</string>
            </dict>
            <key>item_spec.png</key>
            <dict>
                <key>frame</key>
                <string>{{664,1987},{320,320}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{320,320}}</string>
                <key>sourceSize</key>
                <string>{320,320}</string>
            </dict>
            <key>item_spec1.png</key>
            <dict>
                <key>frame</key>
                <string>{{318,2430},{298,302}}</string>
                <key>offset</key>
                <string>{1,4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{12,5},{298,302}}</string>
                <key>sourceSize</key>
                <string>{320,320}</string>
            </dict>
            <key>item_spec2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1651,2011},{300,300}}</string>
                <key>offset</key>
                <string>{0,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,6},{300,300}}</string>
                <key>sourceSize</key>
                <string>{320,320}</string>
            </dict>
            <key>item_spec3.png</key>
            <dict>
                <key>frame</key>
                <string>{{642,2309},{300,302}}</string>
                <key>offset</key>
                <string>{0,4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{10,5},{300,302}}</string>
                <key>sourceSize</key>
                <string>{320,320}</string>
            </dict>
            <key>item_spec4.png</key>
            <dict>
                <key>frame</key>
                <string>{{986,2240},{300,302}}</string>
                <key>offset</key>
                <string>{-1,4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{9,5},{300,302}}</string>
                <key>sourceSize</key>
                <string>{320,320}</string>
            </dict>
            <key>item_spec5.png</key>
            <dict>
                <key>frame</key>
                <string>{{1347,2011},{300,302}}</string>
                <key>offset</key>
                <string>{0,4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{10,5},{300,302}}</string>
                <key>sourceSize</key>
                <string>{320,320}</string>
            </dict>
            <key>item_spec6.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2618},{300,300}}</string>
                <key>offset</key>
                <string>{0,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,6},{300,300}}</string>
                <key>sourceSize</key>
                <string>{320,320}</string>
            </dict>
            <key>item_spec7.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2920},{298,300}}</string>
                <key>offset</key>
                <string>{1,4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{12,6},{298,300}}</string>
                <key>sourceSize</key>
                <string>{320,320}</string>
            </dict>
            <key>item_spec8.png</key>
            <dict>
                <key>frame</key>
                <string>{{304,2730},{298,300}}</string>
                <key>offset</key>
                <string>{1,4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{12,6},{298,300}}</string>
                <key>sourceSize</key>
                <string>{320,320}</string>
            </dict>
            <key>item_wem1.png</key>
            <dict>
                <key>frame</key>
                <string>{{302,3226},{298,298}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{11,9},{298,298}}</string>
                <key>sourceSize</key>
                <string>{320,320}</string>
            </dict>
            <key>item_wem2.png</key>
            <dict>
                <key>frame</key>
                <string>{{622,2611},{298,300}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{11,8},{298,300}}</string>
                <key>sourceSize</key>
                <string>{320,320}</string>
            </dict>
            <key>item_wem3.png</key>
            <dict>
                <key>frame</key>
                <string>{{823,3733},{296,298}}</string>
                <key>offset</key>
                <string>{0,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,8},{296,298}}</string>
                <key>sourceSize</key>
                <string>{320,320}</string>
            </dict>
            <key>item_wem4.png</key>
            <dict>
                <key>frame</key>
                <string>{{900,3165},{296,298}}</string>
                <key>offset</key>
                <string>{1,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{13,9},{296,298}}</string>
                <key>sourceSize</key>
                <string>{320,320}</string>
            </dict>
            <key>item_wem5.png</key>
            <dict>
                <key>frame</key>
                <string>{{602,3226},{296,298}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,9},{296,298}}</string>
                <key>sourceSize</key>
                <string>{320,320}</string>
            </dict>
            <key>item_wild1.png</key>
            <dict>
                <key>frame</key>
                <string>{{946,2542},{298,300}}</string>
                <key>offset</key>
                <string>{0,3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{11,7},{298,300}}</string>
                <key>sourceSize</key>
                <string>{320,320}</string>
            </dict>
            <key>item_wild2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1025,1918},{320,320}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{320,320}}</string>
                <key>sourceSize</key>
                <string>{320,320}</string>
            </dict>
            <key>item_wild3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1994},{320,320}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{320,320}}</string>
                <key>sourceSize</key>
                <string>{320,320}</string>
            </dict>
            <key>item_wild4.png</key>
            <dict>
                <key>frame</key>
                <string>{{342,1806},{320,320}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{320,320}}</string>
                <key>sourceSize</key>
                <string>{320,320}</string>
            </dict>
            <key>levelAniStar1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1873,1792},{170,170}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{170,170}}</string>
                <key>sourceSize</key>
                <string>{170,170}</string>
            </dict>
            <key>lightEffImg.png</key>
            <dict>
                <key>frame</key>
                <string>{{1231,539},{415,616}}</string>
                <key>offset</key>
                <string>{0,17}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{415,616}}</string>
                <key>sourceSize</key>
                <string>{415,650}</string>
            </dict>
            <key>line_type1.jpg</key>
            <dict>
                <key>frame</key>
                <string>{{404,955},{200,9}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{200,9}}</string>
                <key>sourceSize</key>
                <string>{200,9}</string>
            </dict>
            <key>line_type1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1916,825},{200,5}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,2},{200,5}}</string>
                <key>sourceSize</key>
                <string>{200,9}</string>
            </dict>
            <key>race_coinIcon.png</key>
            <dict>
                <key>frame</key>
                <string>{{685,1584},{87,88}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{87,88}}</string>
                <key>sourceSize</key>
                <string>{87,88}</string>
            </dict>
            <key>touchToBegan.png</key>
            <dict>
                <key>frame</key>
                <string>{{1925,186},{865,119}}</string>
                <key>offset</key>
                <string>{2,-4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{7,9},{865,119}}</string>
                <key>sourceSize</key>
                <string>{875,129}</string>
            </dict>
            <key>zef_gf_light_b.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,955},{400,388}}</string>
                <key>offset</key>
                <string>{0,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,12},{400,388}}</string>
                <key>sourceSize</key>
                <string>{400,400}</string>
            </dict>
            <key>zeus_freeBar.jpg</key>
            <dict>
                <key>frame</key>
                <string>{{2,298},{287,1227}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{287,1227}}</string>
                <key>sourceSize</key>
                <string>{287,1227}</string>
            </dict>
            <key>zeus_norBar.jpg</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{294,1228}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{294,1228}}</string>
                <key>sourceSize</key>
                <string>{294,1228}</string>
            </dict>
            <key>zeus_star.png</key>
            <dict>
                <key>frame</key>
                <string>{{747,1193},{148,145}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{148,145}}</string>
                <key>sourceSize</key>
                <string>{148,145}</string>
            </dict>
            <key>zons_2x.png</key>
            <dict>
                <key>frame</key>
                <string>{{457,681},{453,92}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{453,92}}</string>
                <key>sourceSize</key>
                <string>{457,94}</string>
            </dict>
            <key>zons_2x_on.png</key>
            <dict>
                <key>frame</key>
                <string>{{457,951},{453,86}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{453,86}}</string>
                <key>sourceSize</key>
                <string>{457,90}</string>
            </dict>
            <key>zons_3x.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,681},{453,92}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{453,92}}</string>
                <key>sourceSize</key>
                <string>{457,94}</string>
            </dict>
            <key>zons_3x_on.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,867},{453,86}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{453,86}}</string>
                <key>sourceSize</key>
                <string>{457,90}</string>
            </dict>
            <key>zons_4x.png</key>
            <dict>
                <key>frame</key>
                <string>{{457,587},{453,92}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{453,92}}</string>
                <key>sourceSize</key>
                <string>{457,94}</string>
            </dict>
            <key>zons_4x_on.png</key>
            <dict>
                <key>frame</key>
                <string>{{457,863},{453,86}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{453,86}}</string>
                <key>sourceSize</key>
                <string>{457,90}</string>
            </dict>
            <key>zons_5x.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,587},{453,92}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{453,92}}</string>
                <key>sourceSize</key>
                <string>{457,94}</string>
            </dict>
            <key>zons_5x_on.png</key>
            <dict>
                <key>frame</key>
                <string>{{457,775},{453,86}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{453,86}}</string>
                <key>sourceSize</key>
                <string>{457,90}</string>
            </dict>
            <key>zons_boost_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{1232,2},{535,691}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{535,691}}</string>
                <key>sourceSize</key>
                <string>{535,691}</string>
            </dict>
            <key>zons_buy.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,775},{453,90}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,4},{453,90}}</string>
                <key>sourceSize</key>
                <string>{457,100}</string>
            </dict>
            <key>zons_fly_coin.png</key>
            <dict>
                <key>frame</key>
                <string>{{747,1340},{141,139}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,1},{141,139}}</string>
                <key>sourceSize</key>
                <string>{141,141}</string>
            </dict>
            <key>zons_fly_coin1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1573,956},{114,141}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{114,141}}</string>
                <key>sourceSize</key>
                <string>{114,141}</string>
            </dict>
            <key>zons_fly_coin2.png</key>
            <dict>
                <key>frame</key>
                <string>{{345,1345},{57,141}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{57,141}}</string>
                <key>sourceSize</key>
                <string>{57,141}</string>
            </dict>
            <key>zons_payTable.png</key>
            <dict>
                <key>frame</key>
                <string>{{779,1039},{131,75}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,2},{131,75}}</string>
                <key>sourceSize</key>
                <string>{135,77}</string>
            </dict>
            <key>zons_payTableBack.png</key>
            <dict>
                <key>frame</key>
                <string>{{415,1039},{362,116}}</string>
                <key>offset</key>
                <string>{2,-130}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{71,392},{362,116}}</string>
                <key>sourceSize</key>
                <string>{500,640}</string>
            </dict>
            <key>zons_suo.png</key>
            <dict>
                <key>frame</key>
                <string>{{1849,539},{284,72}}</string>
                <key>offset</key>
                <string>{-1,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{3,6},{284,72}}</string>
                <key>sourceSize</key>
                <string>{292,78}</string>
            </dict>
            <key>zons_x2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1916,1132},{185,119}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{6,4},{185,119}}</string>
                <key>sourceSize</key>
                <string>{197,129}</string>
            </dict>
            <key>zons_x3.png</key>
            <dict>
                <key>frame</key>
                <string>{{1925,2},{182,120}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{5,4},{182,120}}</string>
                <key>sourceSize</key>
                <string>{192,130}</string>
            </dict>
            <key>zons_x4.png</key>
            <dict>
                <key>frame</key>
                <string>{{1915,1494},{193,118}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{7,6},{193,118}}</string>
                <key>sourceSize</key>
                <string>{207,130}</string>
            </dict>
            <key>zons_x5.png</key>
            <dict>
                <key>frame</key>
                <string>{{1916,1319},{173,119}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{7,3},{173,119}}</string>
                <key>sourceSize</key>
                <string>{187,127}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>Selene_h.pvr.ccz</string>
            <key>size</key>
            <string>{2048,4096}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:3ccb264366ed409c2803c679303cd6bf:1/1$</string>
            <key>textureFileName</key>
            <string>Selene_h.pvr.ccz</string>
        </dict>
    </dict>
</plist>
