<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>2048_gf_light_bb.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1481},{200,194}}</string>
                <key>offset</key>
                <string>{0,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,6},{200,194}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>2048_gs_bk1.png</key>
            <dict>
                <key>frame</key>
                <string>{{762,1583},{171,171}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{171,171}}</string>
                <key>sourceSize</key>
                <string>{171,171}</string>
            </dict>
            <key>2048_gs_bk2.png</key>
            <dict>
                <key>frame</key>
                <string>{{762,1756},{165,171}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,0},{165,171}}</string>
                <key>sourceSize</key>
                <string>{171,171}</string>
            </dict>
            <key>2048_gs_bk3.png</key>
            <dict>
                <key>frame</key>
                <string>{{1094,2},{161,171}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{5,0},{161,171}}</string>
                <key>sourceSize</key>
                <string>{171,171}</string>
            </dict>
            <key>2048_gs_bk4.png</key>
            <dict>
                <key>frame</key>
                <string>{{654,1410},{171,171}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{171,171}}</string>
                <key>sourceSize</key>
                <string>{171,171}</string>
            </dict>
            <key>2048_gs_bk5.png</key>
            <dict>
                <key>frame</key>
                <string>{{929,1756},{171,163}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,2},{171,163}}</string>
                <key>sourceSize</key>
                <string>{171,171}</string>
            </dict>
            <key>2048_two1.png</key>
            <dict>
                <key>frame</key>
                <string>{{27,1476},{2,2}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{2,2}}</string>
                <key>sourceSize</key>
                <string>{2,2}</string>
            </dict>
            <key>Wild2_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{635,1234},{150,174}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{150,174}}</string>
                <key>sourceSize</key>
                <string>{150,174}</string>
            </dict>
            <key>Wild2_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{604,1058},{150,174}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{150,174}}</string>
                <key>sourceSize</key>
                <string>{150,174}</string>
            </dict>
            <key>Wild2_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{604,1058},{150,174}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{150,174}}</string>
                <key>sourceSize</key>
                <string>{150,174}</string>
            </dict>
            <key>Wild2_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{604,882},{150,174}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{150,174}}</string>
                <key>sourceSize</key>
                <string>{150,174}</string>
            </dict>
            <key>Wild2_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{604,706},{150,174}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{150,174}}</string>
                <key>sourceSize</key>
                <string>{150,174}</string>
            </dict>
            <key>Wild2_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{604,530},{150,174}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{150,174}}</string>
                <key>sourceSize</key>
                <string>{150,174}</string>
            </dict>
            <key>Wild2_15.png</key>
            <dict>
                <key>frame</key>
                <string>{{604,354},{150,174}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{150,174}}</string>
                <key>sourceSize</key>
                <string>{150,174}</string>
            </dict>
            <key>Wild2_16.png</key>
            <dict>
                <key>frame</key>
                <string>{{604,178},{150,174}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{150,174}}</string>
                <key>sourceSize</key>
                <string>{150,174}</string>
            </dict>
            <key>Wild2_17.png</key>
            <dict>
                <key>frame</key>
                <string>{{604,2},{150,174}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{150,174}}</string>
                <key>sourceSize</key>
                <string>{150,174}</string>
            </dict>
            <key>Wild2_18.png</key>
            <dict>
                <key>frame</key>
                <string>{{635,1234},{150,174}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{150,174}}</string>
                <key>sourceSize</key>
                <string>{150,174}</string>
            </dict>
            <key>Wild2_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{610,1762},{150,174}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{150,174}}</string>
                <key>sourceSize</key>
                <string>{150,174}</string>
            </dict>
            <key>Wild2_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{610,1586},{150,174}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{150,174}}</string>
                <key>sourceSize</key>
                <string>{150,174}</string>
            </dict>
            <key>Wild2_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{502,1410},{150,174}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{150,174}}</string>
                <key>sourceSize</key>
                <string>{150,174}</string>
            </dict>
            <key>Wild2_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{483,1234},{150,174}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{150,174}}</string>
                <key>sourceSize</key>
                <string>{150,174}</string>
            </dict>
            <key>Wild2_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{604,530},{150,174}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{150,174}}</string>
                <key>sourceSize</key>
                <string>{150,174}</string>
            </dict>
            <key>Wild2_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{604,706},{150,174}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{150,174}}</string>
                <key>sourceSize</key>
                <string>{150,174}</string>
            </dict>
            <key>Wild2_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{604,882},{150,174}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{150,174}}</string>
                <key>sourceSize</key>
                <string>{150,174}</string>
            </dict>
            <key>Wild2_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{604,1058},{150,174}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{150,174}}</string>
                <key>sourceSize</key>
                <string>{150,174}</string>
            </dict>
            <key>Wild_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{452,1058},{150,174}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{150,174}}</string>
                <key>sourceSize</key>
                <string>{150,174}</string>
            </dict>
            <key>Wild_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{452,882},{150,174}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{150,174}}</string>
                <key>sourceSize</key>
                <string>{150,174}</string>
            </dict>
            <key>Wild_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{452,706},{150,174}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{150,174}}</string>
                <key>sourceSize</key>
                <string>{150,174}</string>
            </dict>
            <key>Wild_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{452,530},{150,174}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{150,174}}</string>
                <key>sourceSize</key>
                <string>{150,174}</string>
            </dict>
            <key>Wild_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{452,354},{150,174}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{150,174}}</string>
                <key>sourceSize</key>
                <string>{150,174}</string>
            </dict>
            <key>Wild_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{452,178},{150,174}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{150,174}}</string>
                <key>sourceSize</key>
                <string>{150,174}</string>
            </dict>
            <key>Wild_15.png</key>
            <dict>
                <key>frame</key>
                <string>{{452,2},{150,174}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{150,174}}</string>
                <key>sourceSize</key>
                <string>{150,174}</string>
            </dict>
            <key>Wild_16.png</key>
            <dict>
                <key>frame</key>
                <string>{{458,1762},{150,174}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{150,174}}</string>
                <key>sourceSize</key>
                <string>{150,174}</string>
            </dict>
            <key>Wild_17.png</key>
            <dict>
                <key>frame</key>
                <string>{{458,1586},{150,174}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{150,174}}</string>
                <key>sourceSize</key>
                <string>{150,174}</string>
            </dict>
            <key>Wild_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{350,1410},{150,174}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{150,174}}</string>
                <key>sourceSize</key>
                <string>{150,174}</string>
            </dict>
            <key>Wild_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{331,1234},{150,174}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{150,174}}</string>
                <key>sourceSize</key>
                <string>{150,174}</string>
            </dict>
            <key>Wild_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{300,1058},{150,174}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{150,174}}</string>
                <key>sourceSize</key>
                <string>{150,174}</string>
            </dict>
            <key>Wild_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{300,882},{150,174}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{150,174}}</string>
                <key>sourceSize</key>
                <string>{150,174}</string>
            </dict>
            <key>Wild_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{300,706},{150,174}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{150,174}}</string>
                <key>sourceSize</key>
                <string>{150,174}</string>
            </dict>
            <key>Wild_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{300,530},{150,174}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{150,174}}</string>
                <key>sourceSize</key>
                <string>{150,174}</string>
            </dict>
            <key>Wild_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{300,530},{150,174}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{150,174}}</string>
                <key>sourceSize</key>
                <string>{150,174}</string>
            </dict>
            <key>Wild_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{300,354},{150,174}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{150,174}}</string>
                <key>sourceSize</key>
                <string>{150,174}</string>
            </dict>
            <key>item1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1571,2},{150,150}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{150,150}}</string>
                <key>sourceSize</key>
                <string>{150,150}</string>
            </dict>
            <key>item10.png</key>
            <dict>
                <key>frame</key>
                <string>{{100,1410},{48,138}}</string>
                <key>offset</key>
                <string>{-7,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{44,7},{48,138}}</string>
                <key>sourceSize</key>
                <string>{150,150}</string>
            </dict>
            <key>item2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1419,2},{150,150}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{150,150}}</string>
                <key>sourceSize</key>
                <string>{150,150}</string>
            </dict>
            <key>item3.png</key>
            <dict>
                <key>frame</key>
                <string>{{1267,2},{150,150}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{150,150}}</string>
                <key>sourceSize</key>
                <string>{150,150}</string>
            </dict>
            <key>item4.png</key>
            <dict>
                <key>frame</key>
                <string>{{935,154},{150,150}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{150,150}}</string>
                <key>sourceSize</key>
                <string>{150,150}</string>
            </dict>
            <key>item5.png</key>
            <dict>
                <key>frame</key>
                <string>{{458,1938},{128,102}}</string>
                <key>offset</key>
                <string>{-1,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,22},{128,102}}</string>
                <key>sourceSize</key>
                <string>{150,150}</string>
            </dict>
            <key>item6.png</key>
            <dict>
                <key>frame</key>
                <string>{{935,2},{150,150}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{150,150}}</string>
                <key>sourceSize</key>
                <string>{150,150}</string>
            </dict>
            <key>item7.png</key>
            <dict>
                <key>frame</key>
                <string>{{762,1929},{130,112}}</string>
                <key>offset</key>
                <string>{-2,6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,13},{130,112}}</string>
                <key>sourceSize</key>
                <string>{150,150}</string>
            </dict>
            <key>item8.png</key>
            <dict>
                <key>frame</key>
                <string>{{787,124},{128,140}}</string>
                <key>offset</key>
                <string>{-1,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{10,6},{128,140}}</string>
                <key>sourceSize</key>
                <string>{150,150}</string>
            </dict>
            <key>item9.png</key>
            <dict>
                <key>frame</key>
                <string>{{787,254},{122,134}}</string>
                <key>offset</key>
                <string>{-4,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{10,10},{122,134}}</string>
                <key>sourceSize</key>
                <string>{150,150}</string>
            </dict>
            <key>item_free1.png</key>
            <dict>
                <key>frame</key>
                <string>{{300,178},{150,174}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{150,174}}</string>
                <key>sourceSize</key>
                <string>{150,174}</string>
            </dict>
            <key>item_free10.png</key>
            <dict>
                <key>frame</key>
                <string>{{300,2},{150,174}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{150,174}}</string>
                <key>sourceSize</key>
                <string>{150,174}</string>
            </dict>
            <key>item_free11.png</key>
            <dict>
                <key>frame</key>
                <string>{{179,1234},{150,174}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{150,174}}</string>
                <key>sourceSize</key>
                <string>{150,174}</string>
            </dict>
            <key>item_free12.png</key>
            <dict>
                <key>frame</key>
                <string>{{179,1234},{150,174}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{150,174}}</string>
                <key>sourceSize</key>
                <string>{150,174}</string>
            </dict>
            <key>item_free13.png</key>
            <dict>
                <key>frame</key>
                <string>{{179,1234},{150,174}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{150,174}}</string>
                <key>sourceSize</key>
                <string>{150,174}</string>
            </dict>
            <key>item_free14.png</key>
            <dict>
                <key>frame</key>
                <string>{{148,1058},{150,174}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{150,174}}</string>
                <key>sourceSize</key>
                <string>{150,174}</string>
            </dict>
            <key>item_free15.png</key>
            <dict>
                <key>frame</key>
                <string>{{148,882},{150,174}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{150,174}}</string>
                <key>sourceSize</key>
                <string>{150,174}</string>
            </dict>
            <key>item_free16.png</key>
            <dict>
                <key>frame</key>
                <string>{{148,706},{150,174}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{150,174}}</string>
                <key>sourceSize</key>
                <string>{150,174}</string>
            </dict>
            <key>item_free17.png</key>
            <dict>
                <key>frame</key>
                <string>{{148,530},{150,174}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{150,174}}</string>
                <key>sourceSize</key>
                <string>{150,174}</string>
            </dict>
            <key>item_free18.png</key>
            <dict>
                <key>frame</key>
                <string>{{148,354},{150,174}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{150,174}}</string>
                <key>sourceSize</key>
                <string>{150,174}</string>
            </dict>
            <key>item_free19.png</key>
            <dict>
                <key>frame</key>
                <string>{{148,178},{150,174}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{150,174}}</string>
                <key>sourceSize</key>
                <string>{150,174}</string>
            </dict>
            <key>item_free2.png</key>
            <dict>
                <key>frame</key>
                <string>{{148,2},{150,174}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{150,174}}</string>
                <key>sourceSize</key>
                <string>{150,174}</string>
            </dict>
            <key>item_free20.png</key>
            <dict>
                <key>frame</key>
                <string>{{306,1812},{150,174}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{150,174}}</string>
                <key>sourceSize</key>
                <string>{150,174}</string>
            </dict>
            <key>item_free21.png</key>
            <dict>
                <key>frame</key>
                <string>{{306,1636},{150,174}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{150,174}}</string>
                <key>sourceSize</key>
                <string>{150,174}</string>
            </dict>
            <key>item_free22.png</key>
            <dict>
                <key>frame</key>
                <string>{{198,1460},{150,174}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{150,174}}</string>
                <key>sourceSize</key>
                <string>{150,174}</string>
            </dict>
            <key>item_free23.png</key>
            <dict>
                <key>frame</key>
                <string>{{154,1859},{150,174}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{150,174}}</string>
                <key>sourceSize</key>
                <string>{150,174}</string>
            </dict>
            <key>item_free24.png</key>
            <dict>
                <key>frame</key>
                <string>{{154,1859},{150,174}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{150,174}}</string>
                <key>sourceSize</key>
                <string>{150,174}</string>
            </dict>
            <key>item_free3.png</key>
            <dict>
                <key>frame</key>
                <string>{{154,1683},{150,174}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{150,174}}</string>
                <key>sourceSize</key>
                <string>{150,174}</string>
            </dict>
            <key>item_free4.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1859},{150,174}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{150,174}}</string>
                <key>sourceSize</key>
                <string>{150,174}</string>
            </dict>
            <key>item_free5.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1683},{150,174}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{150,174}}</string>
                <key>sourceSize</key>
                <string>{150,174}</string>
            </dict>
            <key>item_free6.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1859},{150,174}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{150,174}}</string>
                <key>sourceSize</key>
                <string>{150,174}</string>
            </dict>
            <key>item_free7.png</key>
            <dict>
                <key>frame</key>
                <string>{{154,1683},{150,174}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{150,174}}</string>
                <key>sourceSize</key>
                <string>{150,174}</string>
            </dict>
            <key>item_free8.png</key>
            <dict>
                <key>frame</key>
                <string>{{27,1234},{150,174}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{150,174}}</string>
                <key>sourceSize</key>
                <string>{150,174}</string>
            </dict>
            <key>item_free9.png</key>
            <dict>
                <key>frame</key>
                <string>{{300,178},{150,174}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{150,174}}</string>
                <key>sourceSize</key>
                <string>{150,174}</string>
            </dict>
            <key>item_spec1.png</key>
            <dict>
                <key>frame</key>
                <string>{{787,2},{146,120}}</string>
                <key>offset</key>
                <string>{-2,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,14},{146,120}}</string>
                <key>sourceSize</key>
                <string>{150,150}</string>
            </dict>
            <key>item_wild1.png</key>
            <dict>
                <key>frame</key>
                <string>{{452,1058},{150,174}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{150,174}}</string>
                <key>sourceSize</key>
                <string>{150,174}</string>
            </dict>
            <key>item_wild_II.png</key>
            <dict>
                <key>frame</key>
                <string>{{635,1234},{150,174}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{150,174}}</string>
                <key>sourceSize</key>
                <string>{150,174}</string>
            </dict>
            <key>levelAniStar1.png</key>
            <dict>
                <key>frame</key>
                <string>{{588,1938},{85,85}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{85,85}}</string>
                <key>sourceSize</key>
                <string>{85,85}</string>
            </dict>
            <key>line_type1.jpg</key>
            <dict>
                <key>frame</key>
                <string>{{27,1469},{100,5}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{100,5}}</string>
                <key>sourceSize</key>
                <string>{100,5}</string>
            </dict>
            <key>line_type1.png</key>
            <dict>
                <key>frame</key>
                <string>{{27,1476},{2,2}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{2,2}}</string>
                <key>sourceSize</key>
                <string>{2,2}</string>
            </dict>
            <key>long_button.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1234},{245,23}}</string>
                <key>offset</key>
                <string>{5,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{47,0},{245,23}}</string>
                <key>sourceSize</key>
                <string>{329,23}</string>
            </dict>
            <key>zef_gf_light_b.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1481},{200,194}}</string>
                <key>offset</key>
                <string>{0,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,6},{200,194}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>zeus_freeBar.jpg</key>
            <dict>
                <key>frame</key>
                <string>{{2,618},{144,614}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{144,614}}</string>
                <key>sourceSize</key>
                <string>{144,614}</string>
            </dict>
            <key>zeus_norBar.jpg</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{144,614}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{144,614}}</string>
                <key>sourceSize</key>
                <string>{144,614}</string>
            </dict>
            <key>zons_fly_coin.png</key>
            <dict>
                <key>frame</key>
                <string>{{675,1938},{71,71}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{71,71}}</string>
                <key>sourceSize</key>
                <string>{71,71}</string>
            </dict>
            <key>zons_fly_coin1.png</key>
            <dict>
                <key>frame</key>
                <string>{{27,1410},{57,71}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{57,71}}</string>
                <key>sourceSize</key>
                <string>{57,71}</string>
            </dict>
            <key>zons_fly_coin2.png</key>
            <dict>
                <key>frame</key>
                <string>{{198,1636},{29,71}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{29,71}}</string>
                <key>sourceSize</key>
                <string>{29,71}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>Gemini.pvr.ccz</string>
            <key>size</key>
            <string>{2048,2048}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:2ce5f384010be422a1ce79f8234144c7:1/1$</string>
            <key>textureFileName</key>
            <string>Gemini.pvr.ccz</string>
        </dict>
    </dict>
</plist>
