<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>2048_betAdd.png</key>
            <dict>
                <key>frame</key>
                <string>{{364,519},{52,51}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{52,51}}</string>
                <key>sourceSize</key>
                <string>{54,53}</string>
            </dict>
            <key>2048_betRedu.png</key>
            <dict>
                <key>frame</key>
                <string>{{364,466},{52,51}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{52,51}}</string>
                <key>sourceSize</key>
                <string>{54,53}</string>
            </dict>
            <key>2048_bigs2.png</key>
            <dict>
                <key>frame</key>
                <string>{{480,1019},{97,97}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{97,97}}</string>
                <key>sourceSize</key>
                <string>{99,99}</string>
            </dict>
            <key>2048_boostBu.png</key>
            <dict>
                <key>frame</key>
                <string>{{764,560},{124,33}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{5,4},{124,33}}</string>
                <key>sourceSize</key>
                <string>{136,41}</string>
            </dict>
            <key>2048_fir_ticket.png</key>
            <dict>
                <key>frame</key>
                <string>{{982,537},{64,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,2},{64,40}}</string>
                <key>sourceSize</key>
                <string>{68,44}</string>
            </dict>
            <key>2048_free_spin.png</key>
            <dict>
                <key>frame</key>
                <string>{{682,733},{102,103}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{102,103}}</string>
                <key>sourceSize</key>
                <string>{102,103}</string>
            </dict>
            <key>2048_gf_light_bb.png</key>
            <dict>
                <key>frame</key>
                <string>{{618,212},{200,194}}</string>
                <key>offset</key>
                <string>{0,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,6},{200,194}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>2048_gs_bk1.png</key>
            <dict>
                <key>frame</key>
                <string>{{591,560},{171,171}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{171,171}}</string>
                <key>sourceSize</key>
                <string>{171,171}</string>
            </dict>
            <key>2048_gs_bk2.png</key>
            <dict>
                <key>frame</key>
                <string>{{799,621},{165,171}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,0},{165,171}}</string>
                <key>sourceSize</key>
                <string>{171,171}</string>
            </dict>
            <key>2048_gs_bk3.png</key>
            <dict>
                <key>frame</key>
                <string>{{175,577},{161,171}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{5,0},{161,171}}</string>
                <key>sourceSize</key>
                <string>{171,171}</string>
            </dict>
            <key>2048_gs_bk4.png</key>
            <dict>
                <key>frame</key>
                <string>{{418,514},{171,171}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{171,171}}</string>
                <key>sourceSize</key>
                <string>{171,171}</string>
            </dict>
            <key>2048_gs_bk5.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,577},{171,163}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{171,163}}</string>
                <key>sourceSize</key>
                <string>{171,171}</string>
            </dict>
            <key>2048_hall.png</key>
            <dict>
                <key>frame</key>
                <string>{{364,425},{66,39}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{66,39}}</string>
                <key>sourceSize</key>
                <string>{68,39}</string>
            </dict>
            <key>2048_help.png</key>
            <dict>
                <key>frame</key>
                <string>{{982,469},{66,40}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,3},{66,40}}</string>
                <key>sourceSize</key>
                <string>{66,44}</string>
            </dict>
            <key>2048_prop.png</key>
            <dict>
                <key>frame</key>
                <string>{{982,603},{66,39}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,0},{66,39}}</string>
                <key>sourceSize</key>
                <string>{68,39}</string>
            </dict>
            <key>2048_spin.png</key>
            <dict>
                <key>frame</key>
                <string>{{682,837},{102,102}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{102,102}}</string>
                <key>sourceSize</key>
                <string>{102,102}</string>
            </dict>
            <key>2048_spin2.png</key>
            <dict>
                <key>frame</key>
                <string>{{657,941},{116,116}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{116,116}}</string>
                <key>sourceSize</key>
                <string>{116,116}</string>
            </dict>
            <key>2048_spin_auto.png</key>
            <dict>
                <key>frame</key>
                <string>{{820,212},{105,103}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{105,103}}</string>
                <key>sourceSize</key>
                <string>{105,103}</string>
            </dict>
            <key>2048_two1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1010,89},{2,2}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{2,2}}</string>
                <key>sourceSize</key>
                <string>{2,2}</string>
            </dict>
            <key>item1.png</key>
            <dict>
                <key>frame</key>
                <string>{{348,687},{170,150}}</string>
                <key>offset</key>
                <string>{-2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,0},{170,150}}</string>
                <key>sourceSize</key>
                <string>{180,150}</string>
            </dict>
            <key>item10.png</key>
            <dict>
                <key>frame</key>
                <string>{{175,740},{170,124}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,13},{170,124}}</string>
                <key>sourceSize</key>
                <string>{180,150}</string>
            </dict>
            <key>item2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,425},{180,150}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{180,150}}</string>
                <key>sourceSize</key>
                <string>{180,150}</string>
            </dict>
            <key>item3.png</key>
            <dict>
                <key>frame</key>
                <string>{{184,425},{178,150}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,0},{178,150}}</string>
                <key>sourceSize</key>
                <string>{180,150}</string>
            </dict>
            <key>item4.png</key>
            <dict>
                <key>frame</key>
                <string>{{438,362},{178,150}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,0},{178,150}}</string>
                <key>sourceSize</key>
                <string>{180,150}</string>
            </dict>
            <key>item5.png</key>
            <dict>
                <key>frame</key>
                <string>{{800,469},{180,150}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{180,150}}</string>
                <key>sourceSize</key>
                <string>{180,150}</string>
            </dict>
            <key>item6.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,742},{168,140}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,5},{168,140}}</string>
                <key>sourceSize</key>
                <string>{180,150}</string>
            </dict>
            <key>item7.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,884},{154,142}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{13,4},{154,142}}</string>
                <key>sourceSize</key>
                <string>{180,150}</string>
            </dict>
            <key>item8.png</key>
            <dict>
                <key>frame</key>
                <string>{{334,1001},{140,144}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{20,3},{140,144}}</string>
                <key>sourceSize</key>
                <string>{180,150}</string>
            </dict>
            <key>item9.png</key>
            <dict>
                <key>frame</key>
                <string>{{509,895},{122,146}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{29,2},{122,146}}</string>
                <key>sourceSize</key>
                <string>{180,150}</string>
            </dict>
            <key>item_bonus1.png</key>
            <dict>
                <key>frame</key>
                <string>{{787,788},{148,126}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,11},{148,126}}</string>
                <key>sourceSize</key>
                <string>{150,150}</string>
            </dict>
            <key>item_free1.png</key>
            <dict>
                <key>frame</key>
                <string>{{618,408},{180,150}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{180,150}}</string>
                <key>sourceSize</key>
                <string>{180,150}</string>
            </dict>
            <key>item_spec.png</key>
            <dict>
                <key>frame</key>
                <string>{{184,425},{178,150}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,0},{178,150}}</string>
                <key>sourceSize</key>
                <string>{180,150}</string>
            </dict>
            <key>item_spec1.png</key>
            <dict>
                <key>frame</key>
                <string>{{786,916},{142,142}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{19,4},{142,142}}</string>
                <key>sourceSize</key>
                <string>{180,150}</string>
            </dict>
            <key>item_wild1.png</key>
            <dict>
                <key>frame</key>
                <string>{{820,317},{180,150}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{180,150}}</string>
                <key>sourceSize</key>
                <string>{180,150}</string>
            </dict>
            <key>item_wild2.png</key>
            <dict>
                <key>frame</key>
                <string>{{172,866},{160,160}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{160,160}}</string>
                <key>sourceSize</key>
                <string>{160,160}</string>
            </dict>
            <key>item_wild3.png</key>
            <dict>
                <key>frame</key>
                <string>{{347,839},{160,160}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{160,160}}</string>
                <key>sourceSize</key>
                <string>{160,160}</string>
            </dict>
            <key>item_wild4.png</key>
            <dict>
                <key>frame</key>
                <string>{{520,733},{160,160}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{160,160}}</string>
                <key>sourceSize</key>
                <string>{160,160}</string>
            </dict>
            <key>levelAniStar1.png</key>
            <dict>
                <key>frame</key>
                <string>{{929,2},{85,85}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{85,85}}</string>
                <key>sourceSize</key>
                <string>{85,85}</string>
            </dict>
            <key>lightEffImg.png</key>
            <dict>
                <key>frame</key>
                <string>{{618,2},{208,309}}</string>
                <key>offset</key>
                <string>{0,8}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{208,309}}</string>
                <key>sourceSize</key>
                <string>{208,325}</string>
            </dict>
            <key>line_type1.jpg</key>
            <dict>
                <key>frame</key>
                <string>{{1016,2},{100,5}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{100,5}}</string>
                <key>sourceSize</key>
                <string>{100,5}</string>
            </dict>
            <key>line_type1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1005,89},{100,3}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,1},{100,3}}</string>
                <key>sourceSize</key>
                <string>{100,5}</string>
            </dict>
            <key>race_coinIcon.png</key>
            <dict>
                <key>frame</key>
                <string>{{364,572},{44,44}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{44,44}}</string>
                <key>sourceSize</key>
                <string>{44,44}</string>
            </dict>
            <key>touchToBegan.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,362},{434,61}}</string>
                <key>offset</key>
                <string>{1,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,4},{434,61}}</string>
                <key>sourceSize</key>
                <string>{438,65}</string>
            </dict>
            <key>zef_gf_light_b.png</key>
            <dict>
                <key>frame</key>
                <string>{{618,212},{200,194}}</string>
                <key>offset</key>
                <string>{0,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,6},{200,194}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>zeus_freeBar.jpg</key>
            <dict>
                <key>frame</key>
                <string>{{2,182},{178,614}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{178,614}}</string>
                <key>sourceSize</key>
                <string>{178,614}</string>
            </dict>
            <key>zeus_norBar.jpg</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{178,614}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{178,614}}</string>
                <key>sourceSize</key>
                <string>{178,614}</string>
            </dict>
            <key>zeus_star.png</key>
            <dict>
                <key>frame</key>
                <string>{{929,89},{74,73}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{74,73}}</string>
                <key>sourceSize</key>
                <string>{74,73}</string>
            </dict>
            <key>zons_fly_coin.png</key>
            <dict>
                <key>frame</key>
                <string>{{929,164},{71,71}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{71,71}}</string>
                <key>sourceSize</key>
                <string>{71,71}</string>
            </dict>
            <key>zons_fly_coin1.png</key>
            <dict>
                <key>frame</key>
                <string>{{927,237},{57,71}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{57,71}}</string>
                <key>sourceSize</key>
                <string>{57,71}</string>
            </dict>
            <key>zons_fly_coin2.png</key>
            <dict>
                <key>frame</key>
                <string>{{986,237},{29,71}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{29,71}}</string>
                <key>sourceSize</key>
                <string>{29,71}</string>
            </dict>
            <key>zons_payTable.png</key>
            <dict>
                <key>frame</key>
                <string>{{982,603},{66,39}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,0},{66,39}}</string>
                <key>sourceSize</key>
                <string>{68,39}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>Helios.pvr.ccz</string>
            <key>size</key>
            <string>{1024,2048}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:c8599cc3f639896fac7f16dcfa488a4b:1/1$</string>
            <key>textureFileName</key>
            <string>Helios.pvr.ccz</string>
        </dict>
    </dict>
</plist>
