<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>2048_betAdd_mc.png</key>
            <dict>
                <key>frame</key>
                <string>{{457,1141},{103,101}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{103,101}}</string>
                <key>sourceSize</key>
                <string>{107,105}</string>
            </dict>
            <key>2048_betRedu_mc.png</key>
            <dict>
                <key>frame</key>
                <string>{{590,1096},{103,101}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{103,101}}</string>
                <key>sourceSize</key>
                <string>{107,105}</string>
            </dict>
            <key>2048_bigs2_mc.png</key>
            <dict>
                <key>frame</key>
                <string>{{723,1019},{97,97}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{97,97}}</string>
                <key>sourceSize</key>
                <string>{97,97}</string>
            </dict>
            <key>2048_boostBu_mc.png</key>
            <dict>
                <key>frame</key>
                <string>{{695,2},{245,65}}</string>
                <key>offset</key>
                <string>{-2,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{11,7},{245,65}}</string>
                <key>sourceSize</key>
                <string>{271,81}</string>
            </dict>
            <key>2048_fever_spin_mc.png</key>
            <dict>
                <key>frame</key>
                <string>{{695,69},{234,235}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{5,2},{234,235}}</string>
                <key>sourceSize</key>
                <string>{244,241}</string>
            </dict>
            <key>2048_fir_ticket_mc.png</key>
            <dict>
                <key>frame</key>
                <string>{{942,2},{126,77}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{5,5},{126,77}}</string>
                <key>sourceSize</key>
                <string>{136,87}</string>
            </dict>
            <key>2048_free_spin_mc.png</key>
            <dict>
                <key>frame</key>
                <string>{{695,512},{204,205}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{204,205}}</string>
                <key>sourceSize</key>
                <string>{204,205}</string>
            </dict>
            <key>2048_hall_mc.png</key>
            <dict>
                <key>frame</key>
                <string>{{457,986},{131,76}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{29,16},{131,76}}</string>
                <key>sourceSize</key>
                <string>{189,108}</string>
            </dict>
            <key>2048_help_mc.png</key>
            <dict>
                <key>frame</key>
                <string>{{457,1064},{131,75}}</string>
                <key>offset</key>
                <string>{0,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,9},{131,75}}</string>
                <key>sourceSize</key>
                <string>{131,87}</string>
            </dict>
            <key>2048_prop_mc.png</key>
            <dict>
                <key>frame</key>
                <string>{{590,1019},{131,75}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,2},{131,75}}</string>
                <key>sourceSize</key>
                <string>{135,77}</string>
            </dict>
            <key>2048_spin_auto_mc.png</key>
            <dict>
                <key>frame</key>
                <string>{{695,305},{210,205}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{210,205}}</string>
                <key>sourceSize</key>
                <string>{210,205}</string>
            </dict>
            <key>2048_spin_mc.png</key>
            <dict>
                <key>frame</key>
                <string>{{457,539},{204,203}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{204,203}}</string>
                <key>sourceSize</key>
                <string>{204,203}</string>
            </dict>
            <key>double XP_mc.png</key>
            <dict>
                <key>frame</key>
                <string>{{644,838},{179,179}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{179,179}}</string>
                <key>sourceSize</key>
                <string>{183,183}</string>
            </dict>
            <key>fir_mail_mc.png</key>
            <dict>
                <key>frame</key>
                <string>{{858,769},{142,142}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{142,142}}</string>
                <key>sourceSize</key>
                <string>{144,144}</string>
            </dict>
            <key>titan_notiShow.png</key>
            <dict>
                <key>frame</key>
                <string>{{822,1067},{70,74}}</string>
                <key>offset</key>
                <string>{-1,-5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,14},{70,74}}</string>
                <key>sourceSize</key>
                <string>{76,92}</string>
            </dict>
            <key>zons_2x_mc.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,821},{453,92}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{453,92}}</string>
                <key>sourceSize</key>
                <string>{457,94}</string>
            </dict>
            <key>zons_2x_on_mc.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1179},{453,86}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{453,86}}</string>
                <key>sourceSize</key>
                <string>{457,90}</string>
            </dict>
            <key>zons_3x_mc.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,727},{453,92}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{453,92}}</string>
                <key>sourceSize</key>
                <string>{457,94}</string>
            </dict>
            <key>zons_3x_on_mc.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1091},{453,86}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{453,86}}</string>
                <key>sourceSize</key>
                <string>{457,90}</string>
            </dict>
            <key>zons_4x_mc.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,633},{453,92}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{453,92}}</string>
                <key>sourceSize</key>
                <string>{457,94}</string>
            </dict>
            <key>zons_4x_on_mc.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1003},{453,86}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{453,86}}</string>
                <key>sourceSize</key>
                <string>{457,90}</string>
            </dict>
            <key>zons_5x_mc.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,539},{453,92}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{453,92}}</string>
                <key>sourceSize</key>
                <string>{457,94}</string>
            </dict>
            <key>zons_5x_on_mc.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,915},{453,86}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{453,86}}</string>
                <key>sourceSize</key>
                <string>{457,90}</string>
            </dict>
            <key>zons_boost_bg_mc.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{535,691}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{535,691}}</string>
                <key>sourceSize</key>
                <string>{535,691}</string>
            </dict>
            <key>zons_buy_mc.png</key>
            <dict>
                <key>frame</key>
                <string>{{932,130},{453,90}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,4},{453,90}}</string>
                <key>sourceSize</key>
                <string>{457,100}</string>
            </dict>
            <key>zons_gameInterMail_mc.png</key>
            <dict>
                <key>frame</key>
                <string>{{825,990},{131,75}}</string>
                <key>offset</key>
                <string>{0,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,11},{131,75}}</string>
                <key>sourceSize</key>
                <string>{135,91}</string>
            </dict>
            <key>zons_gameInterMission_mc.png</key>
            <dict>
                <key>frame</key>
                <string>{{825,913},{131,75}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,2},{131,75}}</string>
                <key>sourceSize</key>
                <string>{135,77}</string>
            </dict>
            <key>zons_payTable_mc.png</key>
            <dict>
                <key>frame</key>
                <string>{{590,1019},{131,75}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,2},{131,75}}</string>
                <key>sourceSize</key>
                <string>{135,77}</string>
            </dict>
            <key>zons_x2_mc.png</key>
            <dict>
                <key>frame</key>
                <string>{{457,744},{185,119}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,4},{185,119}}</string>
                <key>sourceSize</key>
                <string>{197,129}</string>
            </dict>
            <key>zons_x3_mc.png</key>
            <dict>
                <key>frame</key>
                <string>{{902,585},{182,120}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{5,4},{182,120}}</string>
                <key>sourceSize</key>
                <string>{192,130}</string>
            </dict>
            <key>zons_x4_mc.png</key>
            <dict>
                <key>frame</key>
                <string>{{663,718},{193,118}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,6},{193,118}}</string>
                <key>sourceSize</key>
                <string>{207,130}</string>
            </dict>
            <key>zons_x5_mc.png</key>
            <dict>
                <key>frame</key>
                <string>{{457,865},{173,119}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,3},{173,119}}</string>
                <key>sourceSize</key>
                <string>{187,127}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>gameUi_h.pvr.ccz</string>
            <key>size</key>
            <string>{1024,2048}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:1c2f31655f008a4db92047325d5d8132:1/1$</string>
            <key>textureFileName</key>
            <string>gameUi_h.pvr.ccz</string>
        </dict>
    </dict>
</plist>
