<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>2048_betAdd.png</key>
            <dict>
                <key>frame</key>
                <string>{{1233,939},{58,62}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{16,14},{58,62}}</string>
                <key>sourceSize</key>
                <string>{90,90}</string>
            </dict>
            <key>2048_betRedu.png</key>
            <dict>
                <key>frame</key>
                <string>{{1233,875},{59,62}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,14},{59,62}}</string>
                <key>sourceSize</key>
                <string>{75,90}</string>
            </dict>
            <key>2048_bigs.png</key>
            <dict>
                <key>frame</key>
                <string>{{1228,1003},{144,55}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{144,55}}</string>
                <key>sourceSize</key>
                <string>{146,57}</string>
            </dict>
            <key>2048_bigs2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1856,305},{97,97}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{97,97}}</string>
                <key>sourceSize</key>
                <string>{99,99}</string>
            </dict>
            <key>2048_boostBu.png</key>
            <dict>
                <key>frame</key>
                <string>{{1856,1089},{170,92}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{170,92}}</string>
                <key>sourceSize</key>
                <string>{170,92}</string>
            </dict>
            <key>2048_fir_ticket.png</key>
            <dict>
                <key>frame</key>
                <string>{{1996,214},{55,40}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{10,9},{55,40}}</string>
                <key>sourceSize</key>
                <string>{75,60}</string>
            </dict>
            <key>2048_free_spin.png</key>
            <dict>
                <key>frame</key>
                <string>{{1285,1118},{118,119}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,0},{118,119}}</string>
                <key>sourceSize</key>
                <string>{122,121}</string>
            </dict>
            <key>2048_gs_bk1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1856,916},{171,171}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{171,171}}</string>
                <key>sourceSize</key>
                <string>{171,171}</string>
            </dict>
            <key>2048_gs_bk2.png</key>
            <dict>
                <key>frame</key>
                <string>{{606,554},{165,171}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,0},{165,171}}</string>
                <key>sourceSize</key>
                <string>{171,171}</string>
            </dict>
            <key>2048_gs_bk3.png</key>
            <dict>
                <key>frame</key>
                <string>{{1295,821},{161,171}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,0},{161,171}}</string>
                <key>sourceSize</key>
                <string>{171,171}</string>
            </dict>
            <key>2048_gs_bk4.png</key>
            <dict>
                <key>frame</key>
                <string>{{1856,743},{171,171}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{171,171}}</string>
                <key>sourceSize</key>
                <string>{171,171}</string>
            </dict>
            <key>2048_gs_bk5.png</key>
            <dict>
                <key>frame</key>
                <string>{{606,721},{171,163}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{171,163}}</string>
                <key>sourceSize</key>
                <string>{171,171}</string>
            </dict>
            <key>2048_hall.png</key>
            <dict>
                <key>frame</key>
                <string>{{1899,264},{95,39}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{15,17},{95,39}}</string>
                <key>sourceSize</key>
                <string>{125,75}</string>
            </dict>
            <key>2048_help.png</key>
            <dict>
                <key>frame</key>
                <string>{{1899,223},{95,39}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{15,17},{95,39}}</string>
                <key>sourceSize</key>
                <string>{125,75}</string>
            </dict>
            <key>2048_prop.png</key>
            <dict>
                <key>frame</key>
                <string>{{1295,723},{96,84}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{7,12},{96,84}}</string>
                <key>sourceSize</key>
                <string>{110,110}</string>
            </dict>
            <key>2048_spin.png</key>
            <dict>
                <key>frame</key>
                <string>{{1721,1207},{118,118}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{15,15},{118,118}}</string>
                <key>sourceSize</key>
                <string>{150,150}</string>
            </dict>
            <key>2048_spin2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1406,1214},{116,116}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{116,116}}</string>
                <key>sourceSize</key>
                <string>{116,116}</string>
            </dict>
            <key>2048_spin_auto.png</key>
            <dict>
                <key>frame</key>
                <string>{{1601,1207},{118,118}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{15,16},{118,118}}</string>
                <key>sourceSize</key>
                <string>{150,150}</string>
            </dict>
            <key>2048_two1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2038,214},{2,2}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{2,2}}</string>
                <key>sourceSize</key>
                <string>{2,2}</string>
            </dict>
            <key>freeSpinShow.png</key>
            <dict>
                <key>frame</key>
                <string>{{780,2},{767,219}}</string>
                <key>offset</key>
                <string>{8,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{35,8},{767,219}}</string>
                <key>sourceSize</key>
                <string>{821,239}</string>
            </dict>
            <key>item1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1037,723},{256,150}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{256,150}}</string>
                <key>sourceSize</key>
                <string>{256,150}</string>
            </dict>
            <key>item10.png</key>
            <dict>
                <key>frame</key>
                <string>{{1293,994},{122,150}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{13,0},{122,150}}</string>
                <key>sourceSize</key>
                <string>{150,150}</string>
            </dict>
            <key>item2.png</key>
            <dict>
                <key>frame</key>
                <string>{{779,723},{256,150}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{256,150}}</string>
                <key>sourceSize</key>
                <string>{256,150}</string>
            </dict>
            <key>item3.png</key>
            <dict>
                <key>frame</key>
                <string>{{260,902},{256,150}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{256,150}}</string>
                <key>sourceSize</key>
                <string>{256,150}</string>
            </dict>
            <key>item4.png</key>
            <dict>
                <key>frame</key>
                <string>{{518,936},{244,150}}</string>
                <key>offset</key>
                <string>{2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,0},{244,150}}</string>
                <key>sourceSize</key>
                <string>{256,150}</string>
            </dict>
            <key>item5.png</key>
            <dict>
                <key>frame</key>
                <string>{{1856,549},{180,132}}</string>
                <key>offset</key>
                <string>{-3,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{35,9},{180,132}}</string>
                <key>sourceSize</key>
                <string>{256,150}</string>
            </dict>
            <key>item6.png</key>
            <dict>
                <key>frame</key>
                <string>{{1714,933},{156,140}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{49,4},{156,140}}</string>
                <key>sourceSize</key>
                <string>{256,150}</string>
            </dict>
            <key>item7.png</key>
            <dict>
                <key>frame</key>
                <string>{{1856,409},{190,138}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{32,5},{190,138}}</string>
                <key>sourceSize</key>
                <string>{256,150}</string>
            </dict>
            <key>item8.png</key>
            <dict>
                <key>frame</key>
                <string>{{1031,875},{200,100}}</string>
                <key>offset</key>
                <string>{-1,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{27,28},{200,100}}</string>
                <key>sourceSize</key>
                <string>{256,150}</string>
            </dict>
            <key>item9.png</key>
            <dict>
                <key>frame</key>
                <string>{{1714,1091},{136,114}}</string>
                <key>offset</key>
                <string>{1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,17},{136,114}}</string>
                <key>sourceSize</key>
                <string>{150,150}</string>
            </dict>
            <key>item_free1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,902},{256,150}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{256,150}}</string>
                <key>sourceSize</key>
                <string>{256,150}</string>
            </dict>
            <key>item_spec1.png</key>
            <dict>
                <key>frame</key>
                <string>{{260,750},{256,150}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{256,150}}</string>
                <key>sourceSize</key>
                <string>{256,150}</string>
            </dict>
            <key>item_wild1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,750},{256,150}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{256,150}}</string>
                <key>sourceSize</key>
                <string>{256,150}</string>
            </dict>
            <key>levelAniStar1.png</key>
            <dict>
                <key>frame</key>
                <string>{{518,750},{85,85}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{85,85}}</string>
                <key>sourceSize</key>
                <string>{85,85}</string>
            </dict>
            <key>line_type1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2038,214},{2,2}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{2,2}}</string>
                <key>sourceSize</key>
                <string>{2,2}</string>
            </dict>
            <key>touchToBegan.png</key>
            <dict>
                <key>frame</key>
                <string>{{1463,223},{434,61}}</string>
                <key>offset</key>
                <string>{1,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,4},{434,61}}</string>
                <key>sourceSize</key>
                <string>{438,65}</string>
            </dict>
            <key>zef_5ofKind.png</key>
            <dict>
                <key>frame</key>
                <string>{{780,223},{681,302}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{681,302}}</string>
                <key>sourceSize</key>
                <string>{683,304}</string>
            </dict>
            <key>zef_freeSpinWin.png</key>
            <dict>
                <key>frame</key>
                <string>{{1463,286},{645,391}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,1},{645,391}}</string>
                <key>sourceSize</key>
                <string>{647,393}</string>
            </dict>
            <key>zef_gf_light_b.png</key>
            <dict>
                <key>frame</key>
                <string>{{1852,1183},{200,194}}</string>
                <key>offset</key>
                <string>{0,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,6},{200,194}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>zeus_freeBar.jpg</key>
            <dict>
                <key>frame</key>
                <string>{{2,554},{194,602}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{194,602}}</string>
                <key>sourceSize</key>
                <string>{194,602}</string>
            </dict>
            <key>zeus_norBar.jpg</key>
            <dict>
                <key>frame</key>
                <string>{{780,527},{194,602}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{194,602}}</string>
                <key>sourceSize</key>
                <string>{194,602}</string>
            </dict>
            <key>zeus_star.png</key>
            <dict>
                <key>frame</key>
                <string>{{1384,527},{74,73}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{74,73}}</string>
                <key>sourceSize</key>
                <string>{74,73}</string>
            </dict>
            <key>zons_2x.png</key>
            <dict>
                <key>frame</key>
                <string>{{1212,1149},{194,53}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{194,53}}</string>
                <key>sourceSize</key>
                <string>{196,55}</string>
            </dict>
            <key>zons_2x_on.png</key>
            <dict>
                <key>frame</key>
                <string>{{1406,1159},{193,53}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,0},{193,53}}</string>
                <key>sourceSize</key>
                <string>{197,55}</string>
            </dict>
            <key>zons_3x.png</key>
            <dict>
                <key>frame</key>
                <string>{{1016,1142},{194,53}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{194,53}}</string>
                <key>sourceSize</key>
                <string>{196,55}</string>
            </dict>
            <key>zons_3x_on.png</key>
            <dict>
                <key>frame</key>
                <string>{{764,996},{195,53}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,1},{195,53}}</string>
                <key>sourceSize</key>
                <string>{197,55}</string>
            </dict>
            <key>zons_4x.png</key>
            <dict>
                <key>frame</key>
                <string>{{1016,1087},{194,53}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{194,53}}</string>
                <key>sourceSize</key>
                <string>{196,55}</string>
            </dict>
            <key>zons_4x_on.png</key>
            <dict>
                <key>frame</key>
                <string>{{1016,1032},{194,53}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{194,53}}</string>
                <key>sourceSize</key>
                <string>{196,55}</string>
            </dict>
            <key>zons_5x.png</key>
            <dict>
                <key>frame</key>
                <string>{{764,1051},{194,53}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{194,53}}</string>
                <key>sourceSize</key>
                <string>{196,55}</string>
            </dict>
            <key>zons_5x_on.png</key>
            <dict>
                <key>frame</key>
                <string>{{961,996},{194,53}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{194,53}}</string>
                <key>sourceSize</key>
                <string>{196,55}</string>
            </dict>
            <key>zons_bigWin.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{776,550}}</string>
                <key>offset</key>
                <string>{0,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,24},{776,550}}</string>
                <key>sourceSize</key>
                <string>{776,590}</string>
            </dict>
            <key>zons_boost_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{1549,2},{219,445}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{219,445}}</string>
                <key>sourceSize</key>
                <string>{219,445}</string>
            </dict>
            <key>zons_buy.png</key>
            <dict>
                <key>frame</key>
                <string>{{1031,977},{195,53}}</string>
                <key>offset</key>
                <string>{-1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{195,53}}</string>
                <key>sourceSize</key>
                <string>{197,55}</string>
            </dict>
            <key>zons_duihuakaung.png</key>
            <dict>
                <key>frame</key>
                <string>{{779,875},{250,119}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{250,119}}</string>
                <key>sourceSize</key>
                <string>{252,121}</string>
            </dict>
            <key>zons_fly_coin.png</key>
            <dict>
                <key>frame</key>
                <string>{{1384,602},{71,71}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{71,71}}</string>
                <key>sourceSize</key>
                <string>{71,71}</string>
            </dict>
            <key>zons_fly_coin1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1384,675},{57,71}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{57,71}}</string>
                <key>sourceSize</key>
                <string>{57,71}</string>
            </dict>
            <key>zons_fly_coin2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1955,305},{29,71}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{29,71}}</string>
                <key>sourceSize</key>
                <string>{29,71}</string>
            </dict>
            <key>zons_fly_sto.png</key>
            <dict>
                <key>frame</key>
                <string>{{1381,734},{51,71}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{9,0},{51,71}}</string>
                <key>sourceSize</key>
                <string>{71,71}</string>
            </dict>
            <key>zons_payTable.png</key>
            <dict>
                <key>frame</key>
                <string>{{518,837},{97,84}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,0},{97,84}}</string>
                <key>sourceSize</key>
                <string>{99,86}</string>
            </dict>
            <key>zons_payTableBack.png</key>
            <dict>
                <key>frame</key>
                <string>{{1856,683},{180,58}}</string>
                <key>offset</key>
                <string>{1,-65}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{36,196},{180,58}}</string>
                <key>sourceSize</key>
                <string>{250,320}</string>
            </dict>
            <key>zons_spinBack.png</key>
            <dict>
                <key>frame</key>
                <string>{{1458,933},{224,254}}</string>
                <key>offset</key>
                <string>{-10,-29}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{3,62},{224,254}}</string>
                <key>sourceSize</key>
                <string>{250,320}</string>
            </dict>
            <key>zons_suo.png</key>
            <dict>
                <key>frame</key>
                <string>{{1996,271},{136,37}}</string>
                <key>offset</key>
                <string>{-1,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,2},{136,37}}</string>
                <key>sourceSize</key>
                <string>{146,39}</string>
            </dict>
            <key>zons_x2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1996,161},{50,51}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{50,51}}</string>
                <key>sourceSize</key>
                <string>{52,53}</string>
            </dict>
            <key>zons_x3.png</key>
            <dict>
                <key>frame</key>
                <string>{{1996,108},{50,51}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{50,51}}</string>
                <key>sourceSize</key>
                <string>{52,53}</string>
            </dict>
            <key>zons_x4.png</key>
            <dict>
                <key>frame</key>
                <string>{{1996,55},{50,51}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{50,51}}</string>
                <key>sourceSize</key>
                <string>{52,53}</string>
            </dict>
            <key>zons_x5.png</key>
            <dict>
                <key>frame</key>
                <string>{{1996,2},{50,51}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{50,51}}</string>
                <key>sourceSize</key>
                <string>{52,53}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>amphitrit.pvr.ccz</string>
            <key>size</key>
            <string>{2048,2048}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:ad0e7251d6c747df0628daab18360b30:1/1$</string>
            <key>textureFileName</key>
            <string>amphitrit.pvr.ccz</string>
        </dict>
    </dict>
</plist>
