<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>2048_betAdd.png</key>
            <dict>
                <key>frame</key>
                <string>{{2759,1467},{120,126}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{29,26},{120,126}}</string>
                <key>sourceSize</key>
                <string>{180,180}</string>
            </dict>
            <key>2048_betRedu.png</key>
            <dict>
                <key>frame</key>
                <string>{{2759,1589},{118,126}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{15,26},{118,126}}</string>
                <key>sourceSize</key>
                <string>{150,180}</string>
            </dict>
            <key>2048_bigs.png</key>
            <dict>
                <key>frame</key>
                <string>{{3984,2},{286,110}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,1},{286,110}}</string>
                <key>sourceSize</key>
                <string>{292,114}</string>
            </dict>
            <key>2048_bigs2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2278,2210},{193,193}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{193,193}}</string>
                <key>sourceSize</key>
                <string>{197,197}</string>
            </dict>
            <key>2048_boostBu.png</key>
            <dict>
                <key>frame</key>
                <string>{{1529,1885},{339,183}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{339,183}}</string>
                <key>sourceSize</key>
                <string>{339,183}</string>
            </dict>
            <key>2048_fir_ticket.png</key>
            <dict>
                <key>frame</key>
                <string>{{3984,290},{110,78}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{19,20},{110,78}}</string>
                <key>sourceSize</key>
                <string>{150,120}</string>
            </dict>
            <key>2048_free_spin.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2490},{234,235}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{5,2},{234,235}}</string>
                <key>sourceSize</key>
                <string>{244,241}</string>
            </dict>
            <key>2048_gs_bk1.png</key>
            <dict>
                <key>frame</key>
                <string>{{769,1712},{341,341}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{341,341}}</string>
                <key>sourceSize</key>
                <string>{341,341}</string>
            </dict>
            <key>2048_gs_bk2.png</key>
            <dict>
                <key>frame</key>
                <string>{{345,1990},{329,341}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{5,0},{329,341}}</string>
                <key>sourceSize</key>
                <string>{341,341}</string>
            </dict>
            <key>2048_gs_bk3.png</key>
            <dict>
                <key>frame</key>
                <string>{{1112,1712},{323,341}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{9,0},{323,341}}</string>
                <key>sourceSize</key>
                <string>{341,341}</string>
            </dict>
            <key>2048_gs_bk4.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1820},{341,341}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{341,341}}</string>
                <key>sourceSize</key>
                <string>{341,341}</string>
            </dict>
            <key>2048_gs_bk5.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2163},{341,325}}</string>
                <key>offset</key>
                <string>{0,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,5},{341,325}}</string>
                <key>sourceSize</key>
                <string>{341,341}</string>
            </dict>
            <key>2048_hall.png</key>
            <dict>
                <key>frame</key>
                <string>{{688,1990},{190,78}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{29,35},{190,78}}</string>
                <key>sourceSize</key>
                <string>{250,150}</string>
            </dict>
            <key>2048_help.png</key>
            <dict>
                <key>frame</key>
                <string>{{3707,563},{190,78}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{29,35},{190,78}}</string>
                <key>sourceSize</key>
                <string>{250,150}</string>
            </dict>
            <key>2048_prop.png</key>
            <dict>
                <key>frame</key>
                <string>{{3787,442},{194,166}}</string>
                <key>offset</key>
                <string>{-1,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,25},{194,166}}</string>
                <key>sourceSize</key>
                <string>{220,220}</string>
            </dict>
            <key>2048_spin.png</key>
            <dict>
                <key>frame</key>
                <string>{{2042,1977},{234,234}}</string>
                <key>offset</key>
                <string>{-1,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{32,31},{234,234}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
            <key>2048_spin2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2278,1977},{231,231}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{231,231}}</string>
                <key>sourceSize</key>
                <string>{231,231}</string>
            </dict>
            <key>2048_spin_auto.png</key>
            <dict>
                <key>frame</key>
                <string>{{345,2321},{234,236}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{32,31},{234,236}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
            <key>2048_two1.png</key>
            <dict>
                <key>frame</key>
                <string>{{3934,610},{4,4}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{4,4}}</string>
                <key>sourceSize</key>
                <string>{4,4}</string>
            </dict>
            <key>freeSpinShow.png</key>
            <dict>
                <key>frame</key>
                <string>{{1555,2},{1535,438}}</string>
                <key>offset</key>
                <string>{16,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{69,17},{1535,438}}</string>
                <key>sourceSize</key>
                <string>{1641,478}</string>
            </dict>
            <key>item1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1030,1410},{511,300}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{511,300}}</string>
                <key>sourceSize</key>
                <string>{511,300}</string>
            </dict>
            <key>item10.png</key>
            <dict>
                <key>frame</key>
                <string>{{768,2055},{244,300}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{27,0},{244,300}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
            <key>item2.png</key>
            <dict>
                <key>frame</key>
                <string>{{516,1410},{512,300}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{512,300}}</string>
                <key>sourceSize</key>
                <string>{512,300}</string>
            </dict>
            <key>item3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1410},{512,300}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{512,300}}</string>
                <key>sourceSize</key>
                <string>{512,300}</string>
            </dict>
            <key>item4.png</key>
            <dict>
                <key>frame</key>
                <string>{{2051,1677},{488,298}}</string>
                <key>offset</key>
                <string>{3,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{15,0},{488,298}}</string>
                <key>sourceSize</key>
                <string>{512,300}</string>
            </dict>
            <key>item5.png</key>
            <dict>
                <key>frame</key>
                <string>{{2541,1955},{360,266}}</string>
                <key>offset</key>
                <string>{-7,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{69,17},{360,266}}</string>
                <key>sourceSize</key>
                <string>{512,300}</string>
            </dict>
            <key>item6.png</key>
            <dict>
                <key>frame</key>
                <string>{{1112,2037},{310,278}}</string>
                <key>offset</key>
                <string>{-2,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{99,10},{310,278}}</string>
                <key>sourceSize</key>
                <string>{512,300}</string>
            </dict>
            <key>item7.png</key>
            <dict>
                <key>frame</key>
                <string>{{389,1712},{378,276}}</string>
                <key>offset</key>
                <string>{-1,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{66,10},{378,276}}</string>
                <key>sourceSize</key>
                <string>{512,300}</string>
            </dict>
            <key>item8.png</key>
            <dict>
                <key>frame</key>
                <string>{{2553,1437},{398,204}}</string>
                <key>offset</key>
                <string>{-2,-4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{55,52},{398,204}}</string>
                <key>sourceSize</key>
                <string>{512,300}</string>
            </dict>
            <key>item9.png</key>
            <dict>
                <key>frame</key>
                <string>{{688,2301},{272,226}}</string>
                <key>offset</key>
                <string>{2,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{16,36},{272,226}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
            <key>item_free1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1030,1108},{512,300}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{512,300}}</string>
                <key>sourceSize</key>
                <string>{512,300}</string>
            </dict>
            <key>item_spec1.png</key>
            <dict>
                <key>frame</key>
                <string>{{516,1108},{512,300}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{512,300}}</string>
                <key>sourceSize</key>
                <string>{512,300}</string>
            </dict>
            <key>item_wild1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1108},{512,300}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{512,300}}</string>
                <key>sourceSize</key>
                <string>{512,300}</string>
            </dict>
            <key>levelAniStar1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1870,1885},{170,170}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{170,170}}</string>
                <key>sourceSize</key>
                <string>{170,170}</string>
            </dict>
            <key>line_type1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2904,1048},{200,5}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,2},{200,5}}</string>
                <key>sourceSize</key>
                <string>{200,9}</string>
            </dict>
            <key>touchToBegan.png</key>
            <dict>
                <key>frame</key>
                <string>{{2920,442},{865,119}}</string>
                <key>offset</key>
                <string>{2,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,9},{865,119}}</string>
                <key>sourceSize</key>
                <string>{875,129}</string>
            </dict>
            <key>zef_5ofKind.png</key>
            <dict>
                <key>frame</key>
                <string>{{1555,442},{1363,604}}</string>
                <key>offset</key>
                <string>{-1,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1363,604}}</string>
                <key>sourceSize</key>
                <string>{1365,608}</string>
            </dict>
            <key>zef_freeSpinWin.png</key>
            <dict>
                <key>frame</key>
                <string>{{2920,563},{1288,785}}</string>
                <key>offset</key>
                <string>{-3,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1288,785}}</string>
                <key>sourceSize</key>
                <string>{1294,785}</string>
            </dict>
            <key>zef_gf_light_b.png</key>
            <dict>
                <key>frame</key>
                <string>{{2905,1853},{400,388}}</string>
                <key>offset</key>
                <string>{0,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,12},{400,388}}</string>
                <key>sourceSize</key>
                <string>{400,400}</string>
            </dict>
            <key>zeus_freeBar.jpg</key>
            <dict>
                <key>frame</key>
                <string>{{1555,1048},{387,1204}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{387,1204}}</string>
                <key>sourceSize</key>
                <string>{387,1204}</string>
            </dict>
            <key>zeus_norBar.jpg</key>
            <dict>
                <key>frame</key>
                <string>{{3707,760},{387,1204}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{387,1204}}</string>
                <key>sourceSize</key>
                <string>{387,1204}</string>
            </dict>
            <key>zeus_star.png</key>
            <dict>
                <key>frame</key>
                <string>{{3787,610},{148,145}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{148,145}}</string>
                <key>sourceSize</key>
                <string>{148,145}</string>
            </dict>
            <key>zons_2x.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1712},{385,106}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,1},{385,106}}</string>
                <key>sourceSize</key>
                <string>{391,110}</string>
            </dict>
            <key>zons_2x_on.png</key>
            <dict>
                <key>frame</key>
                <string>{{3307,1961},{386,106}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,1},{386,106}}</string>
                <key>sourceSize</key>
                <string>{394,110}</string>
            </dict>
            <key>zons_3x.png</key>
            <dict>
                <key>frame</key>
                <string>{{3694,2182},{385,106}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,1},{385,106}}</string>
                <key>sourceSize</key>
                <string>{391,110}</string>
            </dict>
            <key>zons_3x_on.png</key>
            <dict>
                <key>frame</key>
                <string>{{3307,1853},{388,106}}</string>
                <key>offset</key>
                <string>{-3,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{388,106}}</string>
                <key>sourceSize</key>
                <string>{394,110}</string>
            </dict>
            <key>zons_4x.png</key>
            <dict>
                <key>frame</key>
                <string>{{3307,2177},{385,106}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,1},{385,106}}</string>
                <key>sourceSize</key>
                <string>{391,110}</string>
            </dict>
            <key>zons_4x_on.png</key>
            <dict>
                <key>frame</key>
                <string>{{3694,2074},{385,106}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,1},{385,106}}</string>
                <key>sourceSize</key>
                <string>{391,110}</string>
            </dict>
            <key>zons_5x.png</key>
            <dict>
                <key>frame</key>
                <string>{{3307,2069},{385,106}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,1},{385,106}}</string>
                <key>sourceSize</key>
                <string>{391,110}</string>
            </dict>
            <key>zons_5x_on.png</key>
            <dict>
                <key>frame</key>
                <string>{{3695,1966},{385,106}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,1},{385,106}}</string>
                <key>sourceSize</key>
                <string>{391,110}</string>
            </dict>
            <key>zons_bigWin.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{1551,1104}}</string>
                <key>offset</key>
                <string>{0,-7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,45},{1551,1104}}</string>
                <key>sourceSize</key>
                <string>{1551,1180}</string>
            </dict>
            <key>zons_boost_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{3092,2},{438,890}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{438,890}}</string>
                <key>sourceSize</key>
                <string>{438,890}</string>
            </dict>
            <key>zons_buy.png</key>
            <dict>
                <key>frame</key>
                <string>{{3984,370},{388,106}}</string>
                <key>offset</key>
                <string>{-3,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,4},{388,106}}</string>
                <key>sourceSize</key>
                <string>{394,110}</string>
            </dict>
            <key>zons_duihuakaung.png</key>
            <dict>
                <key>frame</key>
                <string>{{2051,1437},{500,238}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,2},{500,238}}</string>
                <key>sourceSize</key>
                <string>{504,242}</string>
            </dict>
            <key>zons_fly_coin.png</key>
            <dict>
                <key>frame</key>
                <string>{{2761,1048},{141,139}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,1},{141,139}}</string>
                <key>sourceSize</key>
                <string>{141,141}</string>
            </dict>
            <key>zons_fly_coin1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2761,1189},{114,141}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{114,141}}</string>
                <key>sourceSize</key>
                <string>{114,141}</string>
            </dict>
            <key>zons_fly_coin2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2761,1408},{57,141}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{57,141}}</string>
                <key>sourceSize</key>
                <string>{57,141}</string>
            </dict>
            <key>zons_fly_sto.png</key>
            <dict>
                <key>frame</key>
                <string>{{2761,1305},{101,141}}</string>
                <key>offset</key>
                <string>{-2,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{18,0},{101,141}}</string>
                <key>sourceSize</key>
                <string>{141,141}</string>
            </dict>
            <key>zons_payTable.png</key>
            <dict>
                <key>frame</key>
                <string>{{1870,2057},{194,165}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,2},{194,165}}</string>
                <key>sourceSize</key>
                <string>{198,171}</string>
            </dict>
            <key>zons_payTableBack.png</key>
            <dict>
                <key>frame</key>
                <string>{{2541,1837},{362,116}}</string>
                <key>offset</key>
                <string>{2,-130}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{71,392},{362,116}}</string>
                <key>sourceSize</key>
                <string>{500,640}</string>
            </dict>
            <key>zons_spinBack.png</key>
            <dict>
                <key>frame</key>
                <string>{{1543,1437},{446,506}}</string>
                <key>offset</key>
                <string>{-19,-59}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{8,126},{446,506}}</string>
                <key>sourceSize</key>
                <string>{500,640}</string>
            </dict>
            <key>zons_suo.png</key>
            <dict>
                <key>frame</key>
                <string>{{1455,1712},{284,72}}</string>
                <key>offset</key>
                <string>{-1,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{3,6},{284,72}}</string>
                <key>sourceSize</key>
                <string>{292,78}</string>
            </dict>
            <key>zons_x2.png</key>
            <dict>
                <key>frame</key>
                <string>{{583,2321},{99,102}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,1},{99,102}}</string>
                <key>sourceSize</key>
                <string>{103,106}</string>
            </dict>
            <key>zons_x3.png</key>
            <dict>
                <key>frame</key>
                <string>{{962,2301},{99,102}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,1},{99,102}}</string>
                <key>sourceSize</key>
                <string>{103,106}</string>
            </dict>
            <key>zons_x4.png</key>
            <dict>
                <key>frame</key>
                <string>{{1424,2037},{99,102}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,1},{99,102}}</string>
                <key>sourceSize</key>
                <string>{103,106}</string>
            </dict>
            <key>zons_x5.png</key>
            <dict>
                <key>frame</key>
                <string>{{2759,1709},{99,102}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{99,102}}</string>
                <key>sourceSize</key>
                <string>{103,106}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>amphitrit_h.pvr.ccz</string>
            <key>size</key>
            <string>{4096,4096}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:9d3fd2c704a6b37e2e6d3590c7d8b4eb:1/1$</string>
            <key>textureFileName</key>
            <string>amphitrit_h.pvr.ccz</string>
        </dict>
    </dict>
</plist>
