<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>HighLightSpr_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{523,1078},{150,150}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{150,150}}</string>
                <key>sourceSize</key>
                <string>{150,150}</string>
            </dict>
            <key>HighLightSpr_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{371,1078},{150,150}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{150,150}}</string>
                <key>sourceSize</key>
                <string>{150,150}</string>
            </dict>
            <key>HighLightSpr_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{734,1218},{146,150}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,0},{146,150}}</string>
                <key>sourceSize</key>
                <string>{150,150}</string>
            </dict>
            <key>HighLightSpr_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{740,1066},{150,150}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{150,150}}</string>
                <key>sourceSize</key>
                <string>{150,150}</string>
            </dict>
            <key>HighLightSpr_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{742,914},{150,150}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{150,150}}</string>
                <key>sourceSize</key>
                <string>{150,150}</string>
            </dict>
            <key>HighLightSpr_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{744,762},{150,150}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{150,150}}</string>
                <key>sourceSize</key>
                <string>{150,150}</string>
            </dict>
            <key>HighLightSpr_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{744,610},{150,150}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{150,150}}</string>
                <key>sourceSize</key>
                <string>{150,150}</string>
            </dict>
            <key>HighLightSpr_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{744,458},{150,150}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{150,150}}</string>
                <key>sourceSize</key>
                <string>{150,150}</string>
            </dict>
            <key>HighLightSpr_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{744,306},{150,150}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{150,150}}</string>
                <key>sourceSize</key>
                <string>{150,150}</string>
            </dict>
            <key>HighLightSpr_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{746,154},{150,150}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{150,150}}</string>
                <key>sourceSize</key>
                <string>{150,150}</string>
            </dict>
            <key>HighLightSpr_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{748,2},{150,150}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{150,150}}</string>
                <key>sourceSize</key>
                <string>{150,150}</string>
            </dict>
            <key>PreHo_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1074},{130,367}}</string>
                <key>offset</key>
                <string>{-1,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,6},{130,367}}</string>
                <key>sourceSize</key>
                <string>{140,375}</string>
            </dict>
            <key>PreHo_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,404},{134,369}}</string>
                <key>offset</key>
                <string>{-1,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,4},{134,369}}</string>
                <key>sourceSize</key>
                <string>{140,375}</string>
            </dict>
            <key>PreHo_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{373,810},{134,367}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{3,6},{134,367}}</string>
                <key>sourceSize</key>
                <string>{140,375}</string>
            </dict>
            <key>PreHo_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{373,272},{134,369}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{3,4},{134,369}}</string>
                <key>sourceSize</key>
                <string>{140,375}</string>
            </dict>
            <key>PreHo_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,268},{134,369}}</string>
                <key>offset</key>
                <string>{-1,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,5},{134,369}}</string>
                <key>sourceSize</key>
                <string>{140,375}</string>
            </dict>
            <key>PreHo_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{373,676},{132,369}}</string>
                <key>offset</key>
                <string>{-1,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{3,4},{132,369}}</string>
                <key>sourceSize</key>
                <string>{140,375}</string>
            </dict>
            <key>PreHo_15.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,674},{132,369}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,4},{132,369}}</string>
                <key>sourceSize</key>
                <string>{140,375}</string>
            </dict>
            <key>PreHo_16.png</key>
            <dict>
                <key>frame</key>
                <string>{{375,136},{134,369}}</string>
                <key>offset</key>
                <string>{-1,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,4},{134,369}}</string>
                <key>sourceSize</key>
                <string>{140,375}</string>
            </dict>
            <key>PreHo_17.png</key>
            <dict>
                <key>frame</key>
                <string>{{373,542},{132,369}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,4},{132,369}}</string>
                <key>sourceSize</key>
                <string>{140,375}</string>
            </dict>
            <key>PreHo_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{371,946},{130,367}}</string>
                <key>offset</key>
                <string>{-1,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,6},{130,367}}</string>
                <key>sourceSize</key>
                <string>{140,375}</string>
            </dict>
            <key>PreHo_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,808},{130,369}}</string>
                <key>offset</key>
                <string>{-1,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,5},{130,369}}</string>
                <key>sourceSize</key>
                <string>{140,375}</string>
            </dict>
            <key>PreHo_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,136},{130,371}}</string>
                <key>offset</key>
                <string>{-1,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,3},{130,371}}</string>
                <key>sourceSize</key>
                <string>{140,375}</string>
            </dict>
            <key>PreHo_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{375,2},{132,371}}</string>
                <key>offset</key>
                <string>{-1,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{3,3},{132,371}}</string>
                <key>sourceSize</key>
                <string>{140,375}</string>
            </dict>
            <key>PreHo_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{132,371}}</string>
                <key>offset</key>
                <string>{-1,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{3,3},{132,371}}</string>
                <key>sourceSize</key>
                <string>{140,375}</string>
            </dict>
            <key>PreHo_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,940},{132,367}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{3,4},{132,367}}</string>
                <key>sourceSize</key>
                <string>{140,375}</string>
            </dict>
            <key>PreHo_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,540},{132,369}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{3,3},{132,369}}</string>
                <key>sourceSize</key>
                <string>{140,375}</string>
            </dict>
            <key>PreHo_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{373,408},{132,369}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,3},{132,369}}</string>
                <key>sourceSize</key>
                <string>{140,375}</string>
            </dict>
            <key>nor_coin1.png</key>
            <dict>
                <key>frame</key>
                <string>{{978,1086},{44,44}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{44,44}}</string>
                <key>sourceSize</key>
                <string>{44,44}</string>
            </dict>
            <key>nor_coin2.png</key>
            <dict>
                <key>frame</key>
                <string>{{154,1206},{71,71}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{71,71}}</string>
                <key>sourceSize</key>
                <string>{71,71}</string>
            </dict>
            <key>nor_coin3.png</key>
            <dict>
                <key>frame</key>
                <string>{{675,1206},{57,71}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{57,71}}</string>
                <key>sourceSize</key>
                <string>{57,71}</string>
            </dict>
            <key>nor_coin4.png</key>
            <dict>
                <key>frame</key>
                <string>{{992,336},{29,71}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{29,71}}</string>
                <key>sourceSize</key>
                <string>{29,71}</string>
            </dict>
            <key>showHeart1.png</key>
            <dict>
                <key>frame</key>
                <string>{{992,304},{30,30}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{36,35},{30,30}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>showHeart10.png</key>
            <dict>
                <key>frame</key>
                <string>{{886,1218},{78,76}}</string>
                <key>offset</key>
                <string>{-1,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,10},{78,76}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>showHeart11.png</key>
            <dict>
                <key>frame</key>
                <string>{{886,1296},{78,74}}</string>
                <key>offset</key>
                <string>{-3,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,13},{78,74}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>showHeart12.png</key>
            <dict>
                <key>frame</key>
                <string>{{892,1140},{80,76}}</string>
                <key>offset</key>
                <string>{-3,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,12},{80,76}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>showHeart13.png</key>
            <dict>
                <key>frame</key>
                <string>{{896,904},{82,78}}</string>
                <key>offset</key>
                <string>{-3,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,11},{82,78}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>showHeart14.png</key>
            <dict>
                <key>frame</key>
                <string>{{896,740},{84,78}}</string>
                <key>offset</key>
                <string>{-3,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,12},{84,78}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>showHeart15.png</key>
            <dict>
                <key>frame</key>
                <string>{{896,578},{84,80}}</string>
                <key>offset</key>
                <string>{-2,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,11},{84,80}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>showHeart16.png</key>
            <dict>
                <key>frame</key>
                <string>{{896,660},{84,78}}</string>
                <key>offset</key>
                <string>{-2,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,13},{84,78}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>showHeart17.png</key>
            <dict>
                <key>frame</key>
                <string>{{894,1062},{82,76}}</string>
                <key>offset</key>
                <string>{-1,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,14},{82,76}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>showHeart18.png</key>
            <dict>
                <key>frame</key>
                <string>{{894,984},{82,76}}</string>
                <key>offset</key>
                <string>{-1,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,14},{82,76}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>showHeart19.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1206},{74,74}}</string>
                <key>offset</key>
                <string>{2,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{15,15},{74,74}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>showHeart2.png</key>
            <dict>
                <key>frame</key>
                <string>{{675,1144},{60,62}}</string>
                <key>offset</key>
                <string>{1,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{21,18},{60,62}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>showHeart20.png</key>
            <dict>
                <key>frame</key>
                <string>{{78,1206},{74,66}}</string>
                <key>offset</key>
                <string>{2,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{15,15},{74,66}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>showHeart21.png</key>
            <dict>
                <key>frame</key>
                <string>{{675,1078},{62,64}}</string>
                <key>offset</key>
                <string>{2,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{21,16},{62,64}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>showHeart22.png</key>
            <dict>
                <key>frame</key>
                <string>{{978,984},{54,44}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{23,29},{54,44}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>showHeart23.png</key>
            <dict>
                <key>frame</key>
                <string>{{978,1040},{44,44}}</string>
                <key>offset</key>
                <string>{4,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{32,29},{44,44}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>showHeart3.png</key>
            <dict>
                <key>frame</key>
                <string>{{898,304},{92,92}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,4},{92,92}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>showHeart4.png</key>
            <dict>
                <key>frame</key>
                <string>{{900,104},{100,100}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{100,100}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>showHeart5.png</key>
            <dict>
                <key>frame</key>
                <string>{{900,2},{100,100}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{100,100}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>showHeart6.png</key>
            <dict>
                <key>frame</key>
                <string>{{898,206},{96,96}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,1},{96,96}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>showHeart7.png</key>
            <dict>
                <key>frame</key>
                <string>{{896,398},{90,92}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{5,2},{90,92}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>showHeart8.png</key>
            <dict>
                <key>frame</key>
                <string>{{896,490},{86,86}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,5},{86,86}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>showHeart9.png</key>
            <dict>
                <key>frame</key>
                <string>{{896,820},{82,82}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,7},{82,82}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>nor_coin.pvr.ccz</string>
            <key>size</key>
            <string>{1024,2048}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:a050b166c1632a57ac7946d43e2c0de2:1/1$</string>
            <key>textureFileName</key>
            <string>nor_coin.pvr.ccz</string>
        </dict>
    </dict>
</plist>
