<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>2048_betAdd.png</key>
            <dict>
                <key>frame</key>
                <string>{{697,1798},{52,51}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,1},{52,51}}</string>
                <key>sourceSize</key>
                <string>{54,53}</string>
            </dict>
            <key>2048_betRedu.png</key>
            <dict>
                <key>frame</key>
                <string>{{644,1798},{52,51}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,1},{52,51}}</string>
                <key>sourceSize</key>
                <string>{54,53}</string>
            </dict>
            <key>2048_boostBu.png</key>
            <dict>
                <key>frame</key>
                <string>{{306,1294},{124,33}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,4},{124,33}}</string>
                <key>sourceSize</key>
                <string>{136,41}</string>
            </dict>
            <key>2048_fir_ticket.png</key>
            <dict>
                <key>frame</key>
                <string>{{619,1283},{64,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,2},{64,40}}</string>
                <key>sourceSize</key>
                <string>{68,44}</string>
            </dict>
            <key>2048_gs_bk1.png</key>
            <dict>
                <key>frame</key>
                <string>{{306,1121},{171,171}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{171,171}}</string>
                <key>sourceSize</key>
                <string>{171,171}</string>
            </dict>
            <key>2048_gs_bk2.png</key>
            <dict>
                <key>frame</key>
                <string>{{499,1875},{165,171}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,0},{165,171}}</string>
                <key>sourceSize</key>
                <string>{171,171}</string>
            </dict>
            <key>2048_gs_bk3.png</key>
            <dict>
                <key>frame</key>
                <string>{{326,1885},{161,171}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{5,0},{161,171}}</string>
                <key>sourceSize</key>
                <string>{171,171}</string>
            </dict>
            <key>2048_gs_bk4.png</key>
            <dict>
                <key>frame</key>
                <string>{{306,948},{171,171}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{171,171}}</string>
                <key>sourceSize</key>
                <string>{171,171}</string>
            </dict>
            <key>2048_gs_bk5.png</key>
            <dict>
                <key>frame</key>
                <string>{{479,948},{171,163}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,2},{171,163}}</string>
                <key>sourceSize</key>
                <string>{171,171}</string>
            </dict>
            <key>2048_hall.png</key>
            <dict>
                <key>frame</key>
                <string>{{603,1798},{66,39}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,0},{66,39}}</string>
                <key>sourceSize</key>
                <string>{68,39}</string>
            </dict>
            <key>2048_help.png</key>
            <dict>
                <key>frame</key>
                <string>{{551,1283},{66,40}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,3},{66,40}}</string>
                <key>sourceSize</key>
                <string>{66,44}</string>
            </dict>
            <key>2048_prop.png</key>
            <dict>
                <key>frame</key>
                <string>{{685,1279},{66,39}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{66,39}}</string>
                <key>sourceSize</key>
                <string>{68,39}</string>
            </dict>
            <key>2048_two1.png</key>
            <dict>
                <key>frame</key>
                <string>{{154,1339},{2,2}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{2,2}}</string>
                <key>sourceSize</key>
                <string>{2,2}</string>
            </dict>
            <key>item1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1883,1198},{144,144}}</string>
                <key>offset</key>
                <string>{1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,2},{144,144}}</string>
                <key>sourceSize</key>
                <string>{150,150}</string>
            </dict>
            <key>item10.png</key>
            <dict>
                <key>frame</key>
                <string>{{274,1805},{78,120}}</string>
                <key>offset</key>
                <string>{-4,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{17,0},{78,120}}</string>
                <key>sourceSize</key>
                <string>{120,120}</string>
            </dict>
            <key>item2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1737,1198},{144,144}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,2},{144,144}}</string>
                <key>sourceSize</key>
                <string>{150,150}</string>
            </dict>
            <key>item3.png</key>
            <dict>
                <key>frame</key>
                <string>{{1883,1198},{144,144}}</string>
                <key>offset</key>
                <string>{1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,2},{144,144}}</string>
                <key>sourceSize</key>
                <string>{150,150}</string>
            </dict>
            <key>item4.png</key>
            <dict>
                <key>frame</key>
                <string>{{1826,906},{148,144}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{148,144}}</string>
                <key>sourceSize</key>
                <string>{150,150}</string>
            </dict>
            <key>item5.png</key>
            <dict>
                <key>frame</key>
                <string>{{1883,1052},{144,144}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,2},{144,144}}</string>
                <key>sourceSize</key>
                <string>{150,150}</string>
            </dict>
            <key>item6.png</key>
            <dict>
                <key>frame</key>
                <string>{{1737,1052},{144,144}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,2},{144,144}}</string>
                <key>sourceSize</key>
                <string>{150,150}</string>
            </dict>
            <key>item7.png</key>
            <dict>
                <key>frame</key>
                <string>{{1912,2},{120,112}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,3},{120,112}}</string>
                <key>sourceSize</key>
                <string>{120,120}</string>
            </dict>
            <key>item8.png</key>
            <dict>
                <key>frame</key>
                <string>{{1912,226},{120,102}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,8},{120,102}}</string>
                <key>sourceSize</key>
                <string>{120,120}</string>
            </dict>
            <key>item9.png</key>
            <dict>
                <key>frame</key>
                <string>{{1912,116},{108,120}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{5,0},{108,120}}</string>
                <key>sourceSize</key>
                <string>{120,120}</string>
            </dict>
            <key>item_SPWild1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1566,1720},{148,156}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,7},{148,156}}</string>
                <key>sourceSize</key>
                <string>{150,166}</string>
            </dict>
            <key>item_SPWild10.png</key>
            <dict>
                <key>frame</key>
                <string>{{1439,1878},{148,156}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,7},{148,156}}</string>
                <key>sourceSize</key>
                <string>{150,166}</string>
            </dict>
            <key>item_SPWild11.png</key>
            <dict>
                <key>frame</key>
                <string>{{1544,931},{148,156}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,7},{148,156}}</string>
                <key>sourceSize</key>
                <string>{150,166}</string>
            </dict>
            <key>item_SPWild12.png</key>
            <dict>
                <key>frame</key>
                <string>{{1543,1089},{148,156}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,7},{148,156}}</string>
                <key>sourceSize</key>
                <string>{150,166}</string>
            </dict>
            <key>item_SPWild13.png</key>
            <dict>
                <key>frame</key>
                <string>{{1416,1720},{148,156}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,7},{148,156}}</string>
                <key>sourceSize</key>
                <string>{150,166}</string>
            </dict>
            <key>item_SPWild14.png</key>
            <dict>
                <key>frame</key>
                <string>{{1394,931},{148,156}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,7},{148,156}}</string>
                <key>sourceSize</key>
                <string>{150,166}</string>
            </dict>
            <key>item_SPWild15.png</key>
            <dict>
                <key>frame</key>
                <string>{{1393,1089},{148,156}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,7},{148,156}}</string>
                <key>sourceSize</key>
                <string>{150,166}</string>
            </dict>
            <key>item_SPWild16.png</key>
            <dict>
                <key>frame</key>
                <string>{{1266,1720},{148,156}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,7},{148,156}}</string>
                <key>sourceSize</key>
                <string>{150,166}</string>
            </dict>
            <key>item_SPWild17.png</key>
            <dict>
                <key>frame</key>
                <string>{{1244,931},{148,156}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,7},{148,156}}</string>
                <key>sourceSize</key>
                <string>{150,166}</string>
            </dict>
            <key>item_SPWild18.png</key>
            <dict>
                <key>frame</key>
                <string>{{1243,1089},{148,156}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,7},{148,156}}</string>
                <key>sourceSize</key>
                <string>{150,166}</string>
            </dict>
            <key>item_SPWild19.png</key>
            <dict>
                <key>frame</key>
                <string>{{1826,606},{146,156}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,7},{146,156}}</string>
                <key>sourceSize</key>
                <string>{150,166}</string>
            </dict>
            <key>item_SPWild2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1116,1720},{148,156}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,7},{148,156}}</string>
                <key>sourceSize</key>
                <string>{150,166}</string>
            </dict>
            <key>item_SPWild20.png</key>
            <dict>
                <key>frame</key>
                <string>{{1826,458},{146,156}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,7},{146,156}}</string>
                <key>sourceSize</key>
                <string>{150,166}</string>
            </dict>
            <key>item_SPWild21.png</key>
            <dict>
                <key>frame</key>
                <string>{{1589,1878},{146,156}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,7},{146,156}}</string>
                <key>sourceSize</key>
                <string>{150,166}</string>
            </dict>
            <key>item_SPWild22.png</key>
            <dict>
                <key>frame</key>
                <string>{{1094,931},{148,156}}</string>
                <key>offset</key>
                <string>{1,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,7},{148,156}}</string>
                <key>sourceSize</key>
                <string>{150,166}</string>
            </dict>
            <key>item_SPWild23.png</key>
            <dict>
                <key>frame</key>
                <string>{{1093,1089},{148,156}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,7},{148,156}}</string>
                <key>sourceSize</key>
                <string>{150,166}</string>
            </dict>
            <key>item_SPWild24.png</key>
            <dict>
                <key>frame</key>
                <string>{{944,931},{148,156}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,7},{148,156}}</string>
                <key>sourceSize</key>
                <string>{150,166}</string>
            </dict>
            <key>item_SPWild25.png</key>
            <dict>
                <key>frame</key>
                <string>{{641,1121},{150,156}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,7},{150,156}}</string>
                <key>sourceSize</key>
                <string>{150,166}</string>
            </dict>
            <key>item_SPWild3.png</key>
            <dict>
                <key>frame</key>
                <string>{{943,1089},{148,156}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,7},{148,156}}</string>
                <key>sourceSize</key>
                <string>{150,166}</string>
            </dict>
            <key>item_SPWild4.png</key>
            <dict>
                <key>frame</key>
                <string>{{794,931},{148,156}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,7},{148,156}}</string>
                <key>sourceSize</key>
                <string>{150,166}</string>
            </dict>
            <key>item_SPWild5.png</key>
            <dict>
                <key>frame</key>
                <string>{{966,1737},{148,156}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,7},{148,156}}</string>
                <key>sourceSize</key>
                <string>{150,166}</string>
            </dict>
            <key>item_SPWild6.png</key>
            <dict>
                <key>frame</key>
                <string>{{793,1106},{148,156}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,7},{148,156}}</string>
                <key>sourceSize</key>
                <string>{150,166}</string>
            </dict>
            <key>item_SPWild7.png</key>
            <dict>
                <key>frame</key>
                <string>{{644,948},{148,156}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,7},{148,156}}</string>
                <key>sourceSize</key>
                <string>{150,166}</string>
            </dict>
            <key>item_SPWild8.png</key>
            <dict>
                <key>frame</key>
                <string>{{816,1793},{148,156}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,7},{148,156}}</string>
                <key>sourceSize</key>
                <string>{150,166}</string>
            </dict>
            <key>item_SPWild9.png</key>
            <dict>
                <key>frame</key>
                <string>{{666,1852},{148,156}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,7},{148,156}}</string>
                <key>sourceSize</key>
                <string>{150,166}</string>
            </dict>
            <key>item_bonus1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1912,330},{118,100}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,9},{118,100}}</string>
                <key>sourceSize</key>
                <string>{120,120}</string>
            </dict>
            <key>item_free1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1826,754},{150,155}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{150,155}}</string>
                <key>sourceSize</key>
                <string>{150,155}</string>
            </dict>
            <key>item_spec.png</key>
            <dict>
                <key>frame</key>
                <string>{{154,1152},{178,150}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,0},{178,150}}</string>
                <key>sourceSize</key>
                <string>{180,150}</string>
            </dict>
            <key>item_spec1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1912,330},{118,100}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,9},{118,100}}</string>
                <key>sourceSize</key>
                <string>{120,120}</string>
            </dict>
            <key>item_wild1.png</key>
            <dict>
                <key>frame</key>
                <string>{{154,948},{150,202}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{150,202}}</string>
                <key>sourceSize</key>
                <string>{150,202}</string>
            </dict>
            <key>item_wild2.png</key>
            <dict>
                <key>frame</key>
                <string>{{479,1121},{160,160}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{160,160}}</string>
                <key>sourceSize</key>
                <string>{160,160}</string>
            </dict>
            <key>item_wild3.png</key>
            <dict>
                <key>frame</key>
                <string>{{164,1886},{160,160}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{160,160}}</string>
                <key>sourceSize</key>
                <string>{160,160}</string>
            </dict>
            <key>item_wild4.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1886},{160,160}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{160,160}}</string>
                <key>sourceSize</key>
                <string>{160,160}</string>
            </dict>
            <key>levelAniStar1.png</key>
            <dict>
                <key>frame</key>
                <string>{{816,1951},{85,85}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{85,85}}</string>
                <key>sourceSize</key>
                <string>{85,85}</string>
            </dict>
            <key>lightEffImg.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1350},{270,534}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{270,534}}</string>
                <key>sourceSize</key>
                <string>{270,534}</string>
            </dict>
            <key>line_type1.jpg</key>
            <dict>
                <key>frame</key>
                <string>{{154,1332},{100,5}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{100,5}}</string>
                <key>sourceSize</key>
                <string>{100,5}</string>
            </dict>
            <key>line_type1.png</key>
            <dict>
                <key>frame</key>
                <string>{{154,1339},{2,2}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{2,2}}</string>
                <key>sourceSize</key>
                <string>{2,2}</string>
            </dict>
            <key>longAni_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1674,458},{150,471}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{150,471}}</string>
                <key>sourceSize</key>
                <string>{150,471}</string>
            </dict>
            <key>longAni_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{1490,1247},{150,471}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{150,471}}</string>
                <key>sourceSize</key>
                <string>{150,471}</string>
            </dict>
            <key>longAni_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{1522,458},{150,471}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{150,471}}</string>
                <key>sourceSize</key>
                <string>{150,471}</string>
            </dict>
            <key>longAni_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{1338,1247},{150,471}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{150,471}}</string>
                <key>sourceSize</key>
                <string>{150,471}</string>
            </dict>
            <key>longAni_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{1370,458},{150,471}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{150,471}}</string>
                <key>sourceSize</key>
                <string>{150,471}</string>
            </dict>
            <key>longAni_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{1186,1247},{150,471}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{150,471}}</string>
                <key>sourceSize</key>
                <string>{150,471}</string>
            </dict>
            <key>longAni_15.png</key>
            <dict>
                <key>frame</key>
                <string>{{1218,458},{150,471}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{150,471}}</string>
                <key>sourceSize</key>
                <string>{150,471}</string>
            </dict>
            <key>longAni_16.png</key>
            <dict>
                <key>frame</key>
                <string>{{1034,1247},{150,471}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{150,471}}</string>
                <key>sourceSize</key>
                <string>{150,471}</string>
            </dict>
            <key>longAni_17.png</key>
            <dict>
                <key>frame</key>
                <string>{{1066,458},{150,471}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{150,471}}</string>
                <key>sourceSize</key>
                <string>{150,471}</string>
            </dict>
            <key>longAni_18.png</key>
            <dict>
                <key>frame</key>
                <string>{{914,458},{150,471}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{150,471}}</string>
                <key>sourceSize</key>
                <string>{150,471}</string>
            </dict>
            <key>longAni_19.png</key>
            <dict>
                <key>frame</key>
                <string>{{762,458},{150,471}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{150,471}}</string>
                <key>sourceSize</key>
                <string>{150,471}</string>
            </dict>
            <key>longAni_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1439,306},{150,471}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{150,471}}</string>
                <key>sourceSize</key>
                <string>{150,471}</string>
            </dict>
            <key>longAni_20.png</key>
            <dict>
                <key>frame</key>
                <string>{{1439,154},{150,471}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{150,471}}</string>
                <key>sourceSize</key>
                <string>{150,471}</string>
            </dict>
            <key>longAni_21.png</key>
            <dict>
                <key>frame</key>
                <string>{{1439,2},{150,471}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{150,471}}</string>
                <key>sourceSize</key>
                <string>{150,471}</string>
            </dict>
            <key>longAni_22.png</key>
            <dict>
                <key>frame</key>
                <string>{{966,1895},{150,471}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{150,471}}</string>
                <key>sourceSize</key>
                <string>{150,471}</string>
            </dict>
            <key>longAni_23.png</key>
            <dict>
                <key>frame</key>
                <string>{{882,1264},{150,471}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{150,471}}</string>
                <key>sourceSize</key>
                <string>{150,471}</string>
            </dict>
            <key>longAni_24.png</key>
            <dict>
                <key>frame</key>
                <string>{{610,475},{150,471}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{150,471}}</string>
                <key>sourceSize</key>
                <string>{150,471}</string>
            </dict>
            <key>longAni_25.png</key>
            <dict>
                <key>frame</key>
                <string>{{610,2},{150,471}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{150,471}}</string>
                <key>sourceSize</key>
                <string>{150,471}</string>
            </dict>
            <key>longAni_26.png</key>
            <dict>
                <key>frame</key>
                <string>{{730,1320},{150,471}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{150,471}}</string>
                <key>sourceSize</key>
                <string>{150,471}</string>
            </dict>
            <key>longAni_27.png</key>
            <dict>
                <key>frame</key>
                <string>{{578,1325},{150,471}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{150,471}}</string>
                <key>sourceSize</key>
                <string>{150,471}</string>
            </dict>
            <key>longAni_28.png</key>
            <dict>
                <key>frame</key>
                <string>{{458,475},{150,471}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{150,471}}</string>
                <key>sourceSize</key>
                <string>{150,471}</string>
            </dict>
            <key>longAni_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{458,2},{150,471}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{150,471}}</string>
                <key>sourceSize</key>
                <string>{150,471}</string>
            </dict>
            <key>longAni_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{426,1329},{150,471}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{150,471}}</string>
                <key>sourceSize</key>
                <string>{150,471}</string>
            </dict>
            <key>longAni_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{306,475},{150,471}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{150,471}}</string>
                <key>sourceSize</key>
                <string>{150,471}</string>
            </dict>
            <key>longAni_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{306,2},{150,471}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{150,471}}</string>
                <key>sourceSize</key>
                <string>{150,471}</string>
            </dict>
            <key>longAni_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{274,1332},{150,471}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{150,471}}</string>
                <key>sourceSize</key>
                <string>{150,471}</string>
            </dict>
            <key>longAni_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{154,475},{150,471}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{150,471}}</string>
                <key>sourceSize</key>
                <string>{150,471}</string>
            </dict>
            <key>longAni_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{154,2},{150,471}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{150,471}}</string>
                <key>sourceSize</key>
                <string>{150,471}</string>
            </dict>
            <key>race_coinIcon.png</key>
            <dict>
                <key>frame</key>
                <string>{{505,1283},{44,44}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{44,44}}</string>
                <key>sourceSize</key>
                <string>{44,44}</string>
            </dict>
            <key>zeus_freeBar.jpg</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{150,696}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{150,696}}</string>
                <key>sourceSize</key>
                <string>{150,696}</string>
            </dict>
            <key>zeus_norBar.jpg</key>
            <dict>
                <key>frame</key>
                <string>{{2,700},{150,648}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{150,648}}</string>
                <key>sourceSize</key>
                <string>{150,648}</string>
            </dict>
            <key>zeus_star.png</key>
            <dict>
                <key>frame</key>
                <string>{{396,1805},{74,73}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{74,73}}</string>
                <key>sourceSize</key>
                <string>{74,73}</string>
            </dict>
            <key>zons_fly_coin.png</key>
            <dict>
                <key>frame</key>
                <string>{{471,1802},{71,71}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{71,71}}</string>
                <key>sourceSize</key>
                <string>{71,71}</string>
            </dict>
            <key>zons_fly_coin1.png</key>
            <dict>
                <key>frame</key>
                <string>{{544,1802},{57,71}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{57,71}}</string>
                <key>sourceSize</key>
                <string>{57,71}</string>
            </dict>
            <key>zons_fly_coin2.png</key>
            <dict>
                <key>frame</key>
                <string>{{432,1294},{29,71}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{29,71}}</string>
                <key>sourceSize</key>
                <string>{29,71}</string>
            </dict>
            <key>zons_payTable.png</key>
            <dict>
                <key>frame</key>
                <string>{{685,1279},{66,39}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{66,39}}</string>
                <key>sourceSize</key>
                <string>{68,39}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>DoubleFish.pvr.ccz</string>
            <key>size</key>
            <string>{2048,2048}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:59c0d015bf03af04f4b2dba2a33d8e03:1/1$</string>
            <key>textureFileName</key>
            <string>DoubleFish.pvr.ccz</string>
        </dict>
    </dict>
</plist>
