<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>2048_betAdd.png</key>
            <dict>
                <key>frame</key>
                <string>{{337,644},{52,51}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{52,51}}</string>
                <key>sourceSize</key>
                <string>{54,53}</string>
            </dict>
            <key>2048_betRedu.png</key>
            <dict>
                <key>frame</key>
                <string>{{337,591},{52,51}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{52,51}}</string>
                <key>sourceSize</key>
                <string>{54,53}</string>
            </dict>
            <key>2048_bigs2.png</key>
            <dict>
                <key>frame</key>
                <string>{{774,1490},{97,97}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{97,97}}</string>
                <key>sourceSize</key>
                <string>{99,99}</string>
            </dict>
            <key>2048_boostBu.png</key>
            <dict>
                <key>frame</key>
                <string>{{784,408},{124,33}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{5,4},{124,33}}</string>
                <key>sourceSize</key>
                <string>{136,41}</string>
            </dict>
            <key>2048_fir_ticket.png</key>
            <dict>
                <key>frame</key>
                <string>{{348,549},{64,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,2},{64,40}}</string>
                <key>sourceSize</key>
                <string>{68,44}</string>
            </dict>
            <key>2048_free_spin.png</key>
            <dict>
                <key>frame</key>
                <string>{{774,1386},{102,103}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{102,103}}</string>
                <key>sourceSize</key>
                <string>{102,103}</string>
            </dict>
            <key>2048_gf_light_bb.png</key>
            <dict>
                <key>frame</key>
                <string>{{618,212},{200,194}}</string>
                <key>offset</key>
                <string>{0,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,6},{200,194}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>2048_gs_bk1.png</key>
            <dict>
                <key>frame</key>
                <string>{{611,408},{171,171}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{171,171}}</string>
                <key>sourceSize</key>
                <string>{171,171}</string>
            </dict>
            <key>2048_gs_bk2.png</key>
            <dict>
                <key>frame</key>
                <string>{{819,469},{165,171}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,0},{165,171}}</string>
                <key>sourceSize</key>
                <string>{171,171}</string>
            </dict>
            <key>2048_gs_bk3.png</key>
            <dict>
                <key>frame</key>
                <string>{{175,425},{161,171}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{5,0},{161,171}}</string>
                <key>sourceSize</key>
                <string>{171,171}</string>
            </dict>
            <key>2048_gs_bk4.png</key>
            <dict>
                <key>frame</key>
                <string>{{438,362},{171,171}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{171,171}}</string>
                <key>sourceSize</key>
                <string>{171,171}</string>
            </dict>
            <key>2048_gs_bk5.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,425},{171,163}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{171,163}}</string>
                <key>sourceSize</key>
                <string>{171,171}</string>
            </dict>
            <key>2048_hall.png</key>
            <dict>
                <key>frame</key>
                <string>{{348,508},{66,39}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{66,39}}</string>
                <key>sourceSize</key>
                <string>{68,39}</string>
            </dict>
            <key>2048_help.png</key>
            <dict>
                <key>frame</key>
                <string>{{348,425},{66,40}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,3},{66,40}}</string>
                <key>sourceSize</key>
                <string>{66,44}</string>
            </dict>
            <key>2048_prop.png</key>
            <dict>
                <key>frame</key>
                <string>{{348,467},{66,39}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{66,39}}</string>
                <key>sourceSize</key>
                <string>{68,39}</string>
            </dict>
            <key>2048_spin.png</key>
            <dict>
                <key>frame</key>
                <string>{{879,1386},{102,102}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{102,102}}</string>
                <key>sourceSize</key>
                <string>{102,102}</string>
            </dict>
            <key>2048_spin2.png</key>
            <dict>
                <key>frame</key>
                <string>{{148,1644},{116,116}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{116,116}}</string>
                <key>sourceSize</key>
                <string>{116,116}</string>
            </dict>
            <key>2048_spin_auto.png</key>
            <dict>
                <key>frame</key>
                <string>{{820,212},{105,103}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{105,103}}</string>
                <key>sourceSize</key>
                <string>{105,103}</string>
            </dict>
            <key>2048_two1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1005,89},{2,2}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{2,2}}</string>
                <key>sourceSize</key>
                <string>{2,2}</string>
            </dict>
            <key>item1.png</key>
            <dict>
                <key>frame</key>
                <string>{{470,1467},{144,144}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,2},{144,144}}</string>
                <key>sourceSize</key>
                <string>{150,150}</string>
            </dict>
            <key>item10.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1504},{148,126}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,11},{148,126}}</string>
                <key>sourceSize</key>
                <string>{150,150}</string>
            </dict>
            <key>item2.png</key>
            <dict>
                <key>frame</key>
                <string>{{628,1376},{144,144}}</string>
                <key>offset</key>
                <string>{1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,2},{144,144}}</string>
                <key>sourceSize</key>
                <string>{150,150}</string>
            </dict>
            <key>item3.png</key>
            <dict>
                <key>frame</key>
                <string>{{786,1240},{144,144}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,2},{144,144}}</string>
                <key>sourceSize</key>
                <string>{150,150}</string>
            </dict>
            <key>item4.png</key>
            <dict>
                <key>frame</key>
                <string>{{159,1498},{148,144}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{148,144}}</string>
                <key>sourceSize</key>
                <string>{150,150}</string>
            </dict>
            <key>item5.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1632},{144,144}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,2},{144,144}}</string>
                <key>sourceSize</key>
                <string>{150,150}</string>
            </dict>
            <key>item6.png</key>
            <dict>
                <key>frame</key>
                <string>{{634,1236},{150,138}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,5},{150,138}}</string>
                <key>sourceSize</key>
                <string>{150,150}</string>
            </dict>
            <key>item7.png</key>
            <dict>
                <key>frame</key>
                <string>{{894,636},{150,126}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,12},{150,126}}</string>
                <key>sourceSize</key>
                <string>{150,150}</string>
            </dict>
            <key>item8.png</key>
            <dict>
                <key>frame</key>
                <string>{{476,1331},{134,150}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{7,0},{134,150}}</string>
                <key>sourceSize</key>
                <string>{150,150}</string>
            </dict>
            <key>item9.png</key>
            <dict>
                <key>frame</key>
                <string>{{318,1445},{98,150}}</string>
                <key>offset</key>
                <string>{-5,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{21,0},{98,150}}</string>
                <key>sourceSize</key>
                <string>{150,150}</string>
            </dict>
            <key>item_SPWild1.png</key>
            <dict>
                <key>frame</key>
                <string>{{634,1086},{148,156}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,7},{148,156}}</string>
                <key>sourceSize</key>
                <string>{150,166}</string>
            </dict>
            <key>item_SPWild10.png</key>
            <dict>
                <key>frame</key>
                <string>{{796,938},{148,156}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,7},{148,156}}</string>
                <key>sourceSize</key>
                <string>{150,166}</string>
            </dict>
            <key>item_SPWild11.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1202},{148,156}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,7},{148,156}}</string>
                <key>sourceSize</key>
                <string>{150,166}</string>
            </dict>
            <key>item_SPWild12.png</key>
            <dict>
                <key>frame</key>
                <string>{{160,1200},{148,156}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,7},{148,156}}</string>
                <key>sourceSize</key>
                <string>{150,166}</string>
            </dict>
            <key>item_SPWild13.png</key>
            <dict>
                <key>frame</key>
                <string>{{318,1147},{148,156}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,7},{148,156}}</string>
                <key>sourceSize</key>
                <string>{150,166}</string>
            </dict>
            <key>item_SPWild14.png</key>
            <dict>
                <key>frame</key>
                <string>{{476,1033},{148,156}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,7},{148,156}}</string>
                <key>sourceSize</key>
                <string>{150,166}</string>
            </dict>
            <key>item_SPWild15.png</key>
            <dict>
                <key>frame</key>
                <string>{{638,936},{148,156}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,7},{148,156}}</string>
                <key>sourceSize</key>
                <string>{150,166}</string>
            </dict>
            <key>item_SPWild16.png</key>
            <dict>
                <key>frame</key>
                <string>{{811,788},{148,156}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,7},{148,156}}</string>
                <key>sourceSize</key>
                <string>{150,166}</string>
            </dict>
            <key>item_SPWild17.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1052},{148,156}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,7},{148,156}}</string>
                <key>sourceSize</key>
                <string>{150,166}</string>
            </dict>
            <key>item_SPWild18.png</key>
            <dict>
                <key>frame</key>
                <string>{{160,1050},{148,156}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,7},{148,156}}</string>
                <key>sourceSize</key>
                <string>{150,166}</string>
            </dict>
            <key>item_SPWild19.png</key>
            <dict>
                <key>frame</key>
                <string>{{160,1350},{146,156}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,7},{146,156}}</string>
                <key>sourceSize</key>
                <string>{150,166}</string>
            </dict>
            <key>item_SPWild2.png</key>
            <dict>
                <key>frame</key>
                <string>{{318,997},{148,156}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,7},{148,156}}</string>
                <key>sourceSize</key>
                <string>{150,166}</string>
            </dict>
            <key>item_SPWild20.png</key>
            <dict>
                <key>frame</key>
                <string>{{318,1297},{146,156}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,7},{146,156}}</string>
                <key>sourceSize</key>
                <string>{150,166}</string>
            </dict>
            <key>item_SPWild21.png</key>
            <dict>
                <key>frame</key>
                <string>{{476,1183},{146,156}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,7},{146,156}}</string>
                <key>sourceSize</key>
                <string>{150,166}</string>
            </dict>
            <key>item_SPWild22.png</key>
            <dict>
                <key>frame</key>
                <string>{{480,883},{148,156}}</string>
                <key>offset</key>
                <string>{1,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,7},{148,156}}</string>
                <key>sourceSize</key>
                <string>{150,166}</string>
            </dict>
            <key>item_SPWild23.png</key>
            <dict>
                <key>frame</key>
                <string>{{653,786},{148,156}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,7},{148,156}}</string>
                <key>sourceSize</key>
                <string>{150,166}</string>
            </dict>
            <key>item_SPWild24.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,902},{148,156}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,7},{148,156}}</string>
                <key>sourceSize</key>
                <string>{150,166}</string>
            </dict>
            <key>item_SPWild25.png</key>
            <dict>
                <key>frame</key>
                <string>{{578,581},{150,156}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,7},{150,156}}</string>
                <key>sourceSize</key>
                <string>{150,166}</string>
            </dict>
            <key>item_SPWild3.png</key>
            <dict>
                <key>frame</key>
                <string>{{160,900},{148,156}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,7},{148,156}}</string>
                <key>sourceSize</key>
                <string>{150,166}</string>
            </dict>
            <key>item_SPWild4.png</key>
            <dict>
                <key>frame</key>
                <string>{{322,847},{148,156}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,7},{148,156}}</string>
                <key>sourceSize</key>
                <string>{150,166}</string>
            </dict>
            <key>item_SPWild5.png</key>
            <dict>
                <key>frame</key>
                <string>{{495,733},{148,156}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,7},{148,156}}</string>
                <key>sourceSize</key>
                <string>{150,166}</string>
            </dict>
            <key>item_SPWild6.png</key>
            <dict>
                <key>frame</key>
                <string>{{736,636},{148,156}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,7},{148,156}}</string>
                <key>sourceSize</key>
                <string>{150,166}</string>
            </dict>
            <key>item_SPWild7.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,752},{148,156}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,7},{148,156}}</string>
                <key>sourceSize</key>
                <string>{150,166}</string>
            </dict>
            <key>item_SPWild8.png</key>
            <dict>
                <key>frame</key>
                <string>{{164,750},{148,156}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,7},{148,156}}</string>
                <key>sourceSize</key>
                <string>{150,166}</string>
            </dict>
            <key>item_SPWild9.png</key>
            <dict>
                <key>frame</key>
                <string>{{337,697},{148,156}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,7},{148,156}}</string>
                <key>sourceSize</key>
                <string>{150,166}</string>
            </dict>
            <key>item_bonus1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1504},{148,126}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,11},{148,126}}</string>
                <key>sourceSize</key>
                <string>{150,150}</string>
            </dict>
            <key>item_free1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1352},{150,155}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{150,155}}</string>
                <key>sourceSize</key>
                <string>{150,155}</string>
            </dict>
            <key>item_spec.png</key>
            <dict>
                <key>frame</key>
                <string>{{820,317},{178,150}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,0},{178,150}}</string>
                <key>sourceSize</key>
                <string>{180,150}</string>
            </dict>
            <key>item_spec1.png</key>
            <dict>
                <key>frame</key>
                <string>{{309,1545},{142,142}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{19,4},{142,142}}</string>
                <key>sourceSize</key>
                <string>{180,150}</string>
            </dict>
            <key>item_wild1.png</key>
            <dict>
                <key>frame</key>
                <string>{{792,1088},{150,150}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{150,150}}</string>
                <key>sourceSize</key>
                <string>{150,150}</string>
            </dict>
            <key>item_wild2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,590},{160,160}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{160,160}}</string>
                <key>sourceSize</key>
                <string>{160,160}</string>
            </dict>
            <key>item_wild3.png</key>
            <dict>
                <key>frame</key>
                <string>{{175,588},{160,160}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{160,160}}</string>
                <key>sourceSize</key>
                <string>{160,160}</string>
            </dict>
            <key>item_wild4.png</key>
            <dict>
                <key>frame</key>
                <string>{{416,535},{160,160}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{160,160}}</string>
                <key>sourceSize</key>
                <string>{160,160}</string>
            </dict>
            <key>levelAniStar1.png</key>
            <dict>
                <key>frame</key>
                <string>{{929,2},{85,85}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{85,85}}</string>
                <key>sourceSize</key>
                <string>{85,85}</string>
            </dict>
            <key>lightEffImg.png</key>
            <dict>
                <key>frame</key>
                <string>{{618,2},{208,309}}</string>
                <key>offset</key>
                <string>{0,8}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{208,309}}</string>
                <key>sourceSize</key>
                <string>{208,325}</string>
            </dict>
            <key>line_type1.jpg</key>
            <dict>
                <key>frame</key>
                <string>{{1016,2},{100,5}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{100,5}}</string>
                <key>sourceSize</key>
                <string>{100,5}</string>
            </dict>
            <key>line_type1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1005,89},{2,2}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{2,2}}</string>
                <key>sourceSize</key>
                <string>{2,2}</string>
            </dict>
            <key>race_coinIcon.png</key>
            <dict>
                <key>frame</key>
                <string>{{736,581},{44,44}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{44,44}}</string>
                <key>sourceSize</key>
                <string>{44,44}</string>
            </dict>
            <key>touchToBegan.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,362},{434,61}}</string>
                <key>offset</key>
                <string>{1,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,4},{434,61}}</string>
                <key>sourceSize</key>
                <string>{438,65}</string>
            </dict>
            <key>zef_gf_light_b.png</key>
            <dict>
                <key>frame</key>
                <string>{{618,212},{200,194}}</string>
                <key>offset</key>
                <string>{0,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,6},{200,194}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>zeus_freeBar.jpg</key>
            <dict>
                <key>frame</key>
                <string>{{2,182},{178,614}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{178,614}}</string>
                <key>sourceSize</key>
                <string>{178,614}</string>
            </dict>
            <key>zeus_norBar.jpg</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{178,614}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{178,614}}</string>
                <key>sourceSize</key>
                <string>{178,614}</string>
            </dict>
            <key>zeus_star.png</key>
            <dict>
                <key>frame</key>
                <string>{{929,89},{74,73}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{74,73}}</string>
                <key>sourceSize</key>
                <string>{74,73}</string>
            </dict>
            <key>zons_fly_coin.png</key>
            <dict>
                <key>frame</key>
                <string>{{929,164},{71,71}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{71,71}}</string>
                <key>sourceSize</key>
                <string>{71,71}</string>
            </dict>
            <key>zons_fly_coin1.png</key>
            <dict>
                <key>frame</key>
                <string>{{927,237},{57,71}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{57,71}}</string>
                <key>sourceSize</key>
                <string>{57,71}</string>
            </dict>
            <key>zons_fly_coin2.png</key>
            <dict>
                <key>frame</key>
                <string>{{986,237},{29,71}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{29,71}}</string>
                <key>sourceSize</key>
                <string>{29,71}</string>
            </dict>
            <key>zons_payTable.png</key>
            <dict>
                <key>frame</key>
                <string>{{348,467},{66,39}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{66,39}}</string>
                <key>sourceSize</key>
                <string>{68,39}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>Helios.pvr.ccz</string>
            <key>size</key>
            <string>{1024,2048}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:b74e14783e04c7b3375c9cf2b1abf019:1/1$</string>
            <key>textureFileName</key>
            <string>Helios.pvr.ccz</string>
        </dict>
    </dict>
</plist>
