<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>iap_new_x.png</key>
            <dict>
                <key>frame</key>
                <string>{{1964,812},{44,45}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{12,10},{44,45}}</string>
                <key>sourceSize</key>
                <string>{68,67}</string>
            </dict>
            <key>iap_point.png</key>
            <dict>
                <key>frame</key>
                <string>{{1997,267},{46,45}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{46,45}}</string>
                <key>sourceSize</key>
                <string>{48,47}</string>
            </dict>
            <key>iap_two1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1931,45},{2,2}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{2,2}}</string>
                <key>sourceSize</key>
                <string>{2,2}</string>
            </dict>
            <key>long_button.png</key>
            <dict>
                <key>frame</key>
                <string>{{1964,314},{496,45}}</string>
                <key>offset</key>
                <string>{10,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{91,0},{496,45}}</string>
                <key>sourceSize</key>
                <string>{658,45}</string>
            </dict>
            <key>long_button_s.png</key>
            <dict>
                <key>frame</key>
                <string>{{1917,287},{520,45}}</string>
                <key>offset</key>
                <string>{18,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{87,0},{520,45}}</string>
                <key>sourceSize</key>
                <string>{658,45}</string>
            </dict>
            <key>option_back.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{805,657}}</string>
                <key>offset</key>
                <string>{12,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{24,0},{805,657}}</string>
                <key>sourceSize</key>
                <string>{829,665}</string>
            </dict>
            <key>option_logIn.png</key>
            <dict>
                <key>frame</key>
                <string>{{1604,893},{223,43}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,2},{223,43}}</string>
                <key>sourceSize</key>
                <string>{225,47}</string>
            </dict>
            <key>option_mail.png</key>
            <dict>
                <key>frame</key>
                <string>{{1917,809},{223,45}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,1},{223,45}}</string>
                <key>sourceSize</key>
                <string>{225,47}</string>
            </dict>
            <key>option_off.png</key>
            <dict>
                <key>frame</key>
                <string>{{1997,94},{171,46}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{11,9},{171,46}}</string>
                <key>sourceSize</key>
                <string>{195,66}</string>
            </dict>
            <key>option_on.png</key>
            <dict>
                <key>frame</key>
                <string>{{1931,94},{191,64}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,0},{191,64}}</string>
                <key>sourceSize</key>
                <string>{195,66}</string>
            </dict>
            <key>option_rate.png</key>
            <dict>
                <key>frame</key>
                <string>{{1964,858},{223,43}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,1},{223,43}}</string>
                <key>sourceSize</key>
                <string>{225,45}</string>
            </dict>
            <key>pt_backGame.png</key>
            <dict>
                <key>frame</key>
                <string>{{1604,45},{325,59}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,2},{325,59}}</string>
                <key>sourceSize</key>
                <string>{327,65}</string>
            </dict>
            <key>pt_bookPage1.png</key>
            <dict>
                <key>frame</key>
                <string>{{809,517},{793,451}}</string>
                <key>offset</key>
                <string>{2,-20}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{23,85},{793,451}}</string>
                <key>sourceSize</key>
                <string>{835,581}</string>
            </dict>
            <key>pt_bookPage2.png</key>
            <dict>
                <key>frame</key>
                <string>{{809,2},{793,513}}</string>
                <key>offset</key>
                <string>{-21,8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,26},{793,513}}</string>
                <key>sourceSize</key>
                <string>{835,581}</string>
            </dict>
            <key>pt_bookPage3.png</key>
            <dict>
                <key>frame</key>
                <string>{{1604,106},{785,311}}</string>
                <key>offset</key>
                <string>{0,-6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{25,141},{785,311}}</string>
                <key>sourceSize</key>
                <string>{835,581}</string>
            </dict>
            <key>pt_bookPage4.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,661},{767,449}}</string>
                <key>offset</key>
                <string>{12,-17}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{46,83},{767,449}}</string>
                <key>sourceSize</key>
                <string>{835,581}</string>
            </dict>
            <key>pt_leftBu.png</key>
            <dict>
                <key>frame</key>
                <string>{{1935,48},{79,44}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{79,44}}</string>
                <key>sourceSize</key>
                <string>{81,44}</string>
            </dict>
            <key>pt_rightBu.png</key>
            <dict>
                <key>frame</key>
                <string>{{1945,2},{79,44}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{79,44}}</string>
                <key>sourceSize</key>
                <string>{81,44}</string>
            </dict>
            <key>short_button.png</key>
            <dict>
                <key>frame</key>
                <string>{{1604,2},{339,41}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{339,41}}</string>
                <key>sourceSize</key>
                <string>{339,41}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>zons_iap.pvr.ccz</string>
            <key>size</key>
            <string>{2048,2048}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:641af3b8a5094e92465e73861ac62a37:1/1$</string>
            <key>textureFileName</key>
            <string>zons_iap.pvr.ccz</string>
        </dict>
    </dict>
</plist>
