<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>iap_buyButton.png</key>
            <dict>
                <key>frame</key>
                <string>{{1037,3960},{886,100}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,0},{886,100}}</string>
                <key>sourceSize</key>
                <string>{892,100}</string>
            </dict>
            <key>iap_buy_coins.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1132},{1594,1232}}</string>
                <key>offset</key>
                <string>{4,7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{26,4},{1594,1232}}</string>
                <key>sourceSize</key>
                <string>{1638,1254}</string>
            </dict>
            <key>iap_buy_gems.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2366},{1592,1230}}</string>
                <key>offset</key>
                <string>{4,5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{27,7},{1592,1230}}</string>
                <key>sourceSize</key>
                <string>{1638,1254}</string>
            </dict>
            <key>iap_new_x.png</key>
            <dict>
                <key>frame</key>
                <string>{{3265,2},{85,88}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{25,21},{85,88}}</string>
                <key>sourceSize</key>
                <string>{135,134}</string>
            </dict>
            <key>iap_point.png</key>
            <dict>
                <key>frame</key>
                <string>{{4001,2},{89,90}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,1},{89,90}}</string>
                <key>sourceSize</key>
                <string>{95,94}</string>
            </dict>
            <key>iap_two1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1598,1132},{4,4}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{4,4}}</string>
                <key>sourceSize</key>
                <string>{4,4}</string>
            </dict>
            <key>long_button.png</key>
            <dict>
                <key>frame</key>
                <string>{{1925,3954},{990,90}}</string>
                <key>offset</key>
                <string>{21,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{184,0},{990,90}}</string>
                <key>sourceSize</key>
                <string>{1316,90}</string>
            </dict>
            <key>long_button_s.png</key>
            <dict>
                <key>frame</key>
                <string>{{1598,1320},{1038,90}}</string>
                <key>offset</key>
                <string>{37,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{176,0},{1038,90}}</string>
                <key>sourceSize</key>
                <string>{1316,90}</string>
            </dict>
            <key>option_back.png</key>
            <dict>
                <key>frame</key>
                <string>{{1652,2},{1611,1316}}</string>
                <key>offset</key>
                <string>{23,7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{46,0},{1611,1316}}</string>
                <key>sourceSize</key>
                <string>{1657,1330}</string>
            </dict>
            <key>option_logIn.png</key>
            <dict>
                <key>frame</key>
                <string>{{3089,3972},{446,86}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,4},{446,86}}</string>
                <key>sourceSize</key>
                <string>{450,94}</string>
            </dict>
            <key>option_mail.png</key>
            <dict>
                <key>frame</key>
                <string>{{4001,93},{446,88}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,3},{446,88}}</string>
                <key>sourceSize</key>
                <string>{450,94}</string>
            </dict>
            <key>option_off.png</key>
            <dict>
                <key>frame</key>
                <string>{{3660,2},{339,90}}</string>
                <key>offset</key>
                <string>{-1,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{24,19},{339,90}}</string>
                <key>sourceSize</key>
                <string>{389,132}</string>
            </dict>
            <key>option_on.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,3960},{381,128}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,1},{381,128}}</string>
                <key>sourceSize</key>
                <string>{389,132}</string>
            </dict>
            <key>option_rate.png</key>
            <dict>
                <key>frame</key>
                <string>{{3089,3884},{446,86}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{446,86}}</string>
                <key>sourceSize</key>
                <string>{450,90}</string>
            </dict>
            <key>pt_backGame.png</key>
            <dict>
                <key>frame</key>
                <string>{{385,3960},{650,116}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,6},{650,116}}</string>
                <key>sourceSize</key>
                <string>{654,130}</string>
            </dict>
            <key>pt_bookBack.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{1648,1128}}</string>
                <key>offset</key>
                <string>{11,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{22,20},{1648,1128}}</string>
                <key>sourceSize</key>
                <string>{1670,1162}</string>
            </dict>
            <key>pt_bookPage1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1234,2366},{1586,902}}</string>
                <key>offset</key>
                <string>{4,-40}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{46,170},{1586,902}}</string>
                <key>sourceSize</key>
                <string>{1670,1162}</string>
            </dict>
            <key>pt_bookPage2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1690,1320},{1584,1026}}</string>
                <key>offset</key>
                <string>{-43,16}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,52},{1584,1026}}</string>
                <key>sourceSize</key>
                <string>{1670,1162}</string>
            </dict>
            <key>pt_bookPage3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2138,2348},{1568,622}}</string>
                <key>offset</key>
                <string>{1,-12}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{52,282},{1568,622}}</string>
                <key>sourceSize</key>
                <string>{1670,1162}</string>
            </dict>
            <key>pt_bookPage4.png</key>
            <dict>
                <key>frame</key>
                <string>{{2762,2348},{1534,896}}</string>
                <key>offset</key>
                <string>{24,-35}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{92,168},{1534,896}}</string>
                <key>sourceSize</key>
                <string>{1670,1162}</string>
            </dict>
            <key>pt_leftBu.png</key>
            <dict>
                <key>frame</key>
                <string>{{3003,3884},{157,84}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,1},{157,84}}</string>
                <key>sourceSize</key>
                <string>{161,88}</string>
            </dict>
            <key>pt_rightBu.png</key>
            <dict>
                <key>frame</key>
                <string>{{2917,3884},{157,84}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,1},{157,84}}</string>
                <key>sourceSize</key>
                <string>{161,88}</string>
            </dict>
            <key>short_button.png</key>
            <dict>
                <key>frame</key>
                <string>{{3276,94},{678,82}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{678,82}}</string>
                <key>sourceSize</key>
                <string>{678,82}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>zons_iap_h.pvr.ccz</string>
            <key>size</key>
            <string>{4096,4096}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:b486e95320a1567fa8dea58d98e2ebf9:1/1$</string>
            <key>textureFileName</key>
            <string>zons_iap_h.pvr.ccz</string>
        </dict>
    </dict>
</plist>
