<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>2048_betAdd_mc.png</key>
            <dict>
                <key>frame</key>
                <string>{{682,536},{79,85}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{79,85}}</string>
                <key>sourceSize</key>
                <string>{79,85}</string>
            </dict>
            <key>2048_betRedu_mc.png</key>
            <dict>
                <key>frame</key>
                <string>{{682,455},{79,85}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{79,85}}</string>
                <key>sourceSize</key>
                <string>{79,85}</string>
            </dict>
            <key>2048_prop_mc.png</key>
            <dict>
                <key>frame</key>
                <string>{{501,287},{166,231}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{166,231}}</string>
                <key>sourceSize</key>
                <string>{166,231}</string>
            </dict>
            <key>2048_spin_auto.png</key>
            <dict>
                <key>frame</key>
                <string>{{493,455},{186,187}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{186,187}}</string>
                <key>sourceSize</key>
                <string>{186,187}</string>
            </dict>
            <key>2048_spin_auto_mc.png</key>
            <dict>
                <key>frame</key>
                <string>{{290,563},{119,119}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{119,119}}</string>
                <key>sourceSize</key>
                <string>{119,119}</string>
            </dict>
            <key>2048_spin_free.png</key>
            <dict>
                <key>frame</key>
                <string>{{304,375},{186,187}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{186,187}}</string>
                <key>sourceSize</key>
                <string>{186,187}</string>
            </dict>
            <key>2048_spin_mc.png</key>
            <dict>
                <key>frame</key>
                <string>{{493,455},{186,187}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{186,187}}</string>
                <key>sourceSize</key>
                <string>{186,187}</string>
            </dict>
            <key>back_bar.png</key>
            <dict>
                <key>frame</key>
                <string>{{69,563},{414,76}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,1},{414,76}}</string>
                <key>sourceSize</key>
                <string>{416,78}</string>
            </dict>
            <key>level.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,51},{809,16}}</string>
                <key>offset</key>
                <string>{-2,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,4},{809,16}}</string>
                <key>sourceSize</key>
                <string>{813,26}</string>
            </dict>
            <key>levelBar.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,51},{809,16}}</string>
                <key>offset</key>
                <string>{-2,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,4},{809,16}}</string>
                <key>sourceSize</key>
                <string>{813,26}</string>
            </dict>
            <key>levelBarBack.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{917,47}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{917,47}}</string>
                <key>sourceSize</key>
                <string>{917,49}</string>
            </dict>
            <key>level_back.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,69},{509,207}}</string>
                <key>offset</key>
                <string>{0,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{509,207}}</string>
                <key>sourceSize</key>
                <string>{509,217}</string>
            </dict>
            <key>titan_buy.png</key>
            <dict>
                <key>frame</key>
                <string>{{304,278},{195,95}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,5},{195,95}}</string>
                <key>sourceSize</key>
                <string>{197,101}</string>
            </dict>
            <key>titan_coin.png</key>
            <dict>
                <key>frame</key>
                <string>{{920,100},{97,99}}</string>
                <key>offset</key>
                <string>{0,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,7},{97,99}}</string>
                <key>sourceSize</key>
                <string>{97,107}</string>
            </dict>
            <key>titan_demon.png</key>
            <dict>
                <key>frame</key>
                <string>{{813,51},{100,92}}</string>
                <key>offset</key>
                <string>{-1,-11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,27},{100,92}}</string>
                <key>sourceSize</key>
                <string>{108,124}</string>
            </dict>
            <key>titan_hall.png</key>
            <dict>
                <key>frame</key>
                <string>{{147,525},{141,95}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,5},{141,95}}</string>
                <key>sourceSize</key>
                <string>{143,101}</string>
            </dict>
            <key>titan_option.png</key>
            <dict>
                <key>frame</key>
                <string>{{769,145},{141,95}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,5},{141,95}}</string>
                <key>sourceSize</key>
                <string>{143,101}</string>
            </dict>
            <key>titan_upBar.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,544},{417,65}}</string>
                <key>offset</key>
                <string>{-1,-5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{15,10},{417,65}}</string>
                <key>sourceSize</key>
                <string>{449,75}</string>
            </dict>
            <key>titan_upBar2.png</key>
            <dict>
                <key>frame</key>
                <string>{{915,51},{3,110}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,3},{3,110}}</string>
                <key>sourceSize</key>
                <string>{3,118}</string>
            </dict>
            <key>ui_brick.png</key>
            <dict>
                <key>frame</key>
                <string>{{769,242},{300,246}}</string>
                <key>offset</key>
                <string>{0,-7}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,34},{300,246}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
            <key>ui_fath1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,287},{236,300}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{31,0},{236,300}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
            <key>ui_levelDemon.png</key>
            <dict>
                <key>frame</key>
                <string>{{921,2},{100,96}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{100,96}}</string>
                <key>sourceSize</key>
                <string>{100,96}</string>
            </dict>
            <key>ui_stone.png</key>
            <dict>
                <key>frame</key>
                <string>{{513,69},{216,254}}</string>
                <key>offset</key>
                <string>{-5,9}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{37,14},{216,254}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>gameUiEle.png</string>
            <key>size</key>
            <string>{1024,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:837b7dbba56edbff5eccef2345ec0b71:1/1$</string>
            <key>textureFileName</key>
            <string>gameUiEle.png</string>
        </dict>
    </dict>
</plist>
