<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>white_sheep_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1698},{162,317}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{19,106},{162,317}}</string>
                <key>sourceSize</key>
                <string>{200,527}</string>
            </dict>
            <key>white_sheep_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{796,381},{200,371}}</string>
                <key>offset</key>
                <string>{0,-24}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,102},{200,371}}</string>
                <key>sourceSize</key>
                <string>{200,527}</string>
            </dict>
            <key>white_sheep_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{1008,1123},{200,367}}</string>
                <key>offset</key>
                <string>{0,-26}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,106},{200,367}}</string>
                <key>sourceSize</key>
                <string>{200,527}</string>
            </dict>
            <key>white_sheep_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{996,2},{190,371}}</string>
                <key>offset</key>
                <string>{5,-24}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,102},{190,371}}</string>
                <key>sourceSize</key>
                <string>{200,527}</string>
            </dict>
            <key>white_sheep_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{794,792},{194,375}}</string>
                <key>offset</key>
                <string>{3,-22}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,98},{194,375}}</string>
                <key>sourceSize</key>
                <string>{200,527}</string>
            </dict>
            <key>white_sheep_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{596,2},{196,379}}</string>
                <key>offset</key>
                <string>{2,-20}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,94},{196,379}}</string>
                <key>sourceSize</key>
                <string>{200,527}</string>
            </dict>
            <key>white_sheep_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,856},{198,421}}</string>
                <key>offset</key>
                <string>{1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,52},{198,421}}</string>
                <key>sourceSize</key>
                <string>{200,527}</string>
            </dict>
            <key>white_sheep_15.png</key>
            <dict>
                <key>frame</key>
                <string>{{604,1223},{200,385}}</string>
                <key>offset</key>
                <string>{0,-17}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,88},{200,385}}</string>
                <key>sourceSize</key>
                <string>{200,527}</string>
            </dict>
            <key>white_sheep_16.png</key>
            <dict>
                <key>frame</key>
                <string>{{592,830},{200,391}}</string>
                <key>offset</key>
                <string>{0,-14}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,82},{200,391}}</string>
                <key>sourceSize</key>
                <string>{200,527}</string>
            </dict>
            <key>white_sheep_17.png</key>
            <dict>
                <key>frame</key>
                <string>{{402,1229},{200,395}}</string>
                <key>offset</key>
                <string>{0,-12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,78},{200,395}}</string>
                <key>sourceSize</key>
                <string>{200,527}</string>
            </dict>
            <key>white_sheep_18.png</key>
            <dict>
                <key>frame</key>
                <string>{{166,1698},{200,399}}</string>
                <key>offset</key>
                <string>{0,-10}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,74},{200,399}}</string>
                <key>sourceSize</key>
                <string>{200,527}</string>
            </dict>
            <key>white_sheep_19.png</key>
            <dict>
                <key>frame</key>
                <string>{{394,421},{198,407}}</string>
                <key>offset</key>
                <string>{1,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,66},{198,407}}</string>
                <key>sourceSize</key>
                <string>{200,527}</string>
            </dict>
            <key>white_sheep_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{794,2},{200,377}}</string>
                <key>offset</key>
                <string>{0,-21}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,96},{200,377}}</string>
                <key>sourceSize</key>
                <string>{200,527}</string>
            </dict>
            <key>white_sheep_20.png</key>
            <dict>
                <key>frame</key>
                <string>{{202,1267},{198,411}}</string>
                <key>offset</key>
                <string>{-1,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,62},{198,411}}</string>
                <key>sourceSize</key>
                <string>{200,527}</string>
            </dict>
            <key>white_sheep_21.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1279},{198,417}}</string>
                <key>offset</key>
                <string>{-1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,56},{198,417}}</string>
                <key>sourceSize</key>
                <string>{200,527}</string>
            </dict>
            <key>white_sheep_22.png</key>
            <dict>
                <key>frame</key>
                <string>{{200,431},{192,421}}</string>
                <key>offset</key>
                <string>{-3,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,52},{192,421}}</string>
                <key>sourceSize</key>
                <string>{200,527}</string>
            </dict>
            <key>white_sheep_23.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,431},{196,423}}</string>
                <key>offset</key>
                <string>{-2,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,50},{196,423}}</string>
                <key>sourceSize</key>
                <string>{200,527}</string>
            </dict>
            <key>white_sheep_24.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{198,427}}</string>
                <key>offset</key>
                <string>{-1,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,46},{198,427}}</string>
                <key>sourceSize</key>
                <string>{200,527}</string>
            </dict>
            <key>white_sheep_25.png</key>
            <dict>
                <key>frame</key>
                <string>{{971,1538},{200,367}}</string>
                <key>offset</key>
                <string>{0,-26}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,106},{200,367}}</string>
                <key>sourceSize</key>
                <string>{200,527}</string>
            </dict>
            <key>white_sheep_26.png</key>
            <dict>
                <key>frame</key>
                <string>{{1188,2},{200,367}}</string>
                <key>offset</key>
                <string>{0,-26}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,106},{200,367}}</string>
                <key>sourceSize</key>
                <string>{200,527}</string>
            </dict>
            <key>white_sheep_27.png</key>
            <dict>
                <key>frame</key>
                <string>{{998,375},{200,367}}</string>
                <key>offset</key>
                <string>{0,-26}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,106},{200,367}}</string>
                <key>sourceSize</key>
                <string>{200,527}</string>
            </dict>
            <key>white_sheep_28.png</key>
            <dict>
                <key>frame</key>
                <string>{{990,754},{200,367}}</string>
                <key>offset</key>
                <string>{0,-26}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,106},{200,367}}</string>
                <key>sourceSize</key>
                <string>{200,527}</string>
            </dict>
            <key>white_sheep_29.png</key>
            <dict>
                <key>frame</key>
                <string>{{806,1169},{200,367}}</string>
                <key>offset</key>
                <string>{0,-26}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,106},{200,367}}</string>
                <key>sourceSize</key>
                <string>{200,527}</string>
            </dict>
            <key>white_sheep_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{594,407},{200,383}}</string>
                <key>offset</key>
                <string>{0,-18}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,90},{200,383}}</string>
                <key>sourceSize</key>
                <string>{200,527}</string>
            </dict>
            <key>white_sheep_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{567,1626},{200,389}}</string>
                <key>offset</key>
                <string>{0,-15}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,84},{200,389}}</string>
                <key>sourceSize</key>
                <string>{200,527}</string>
            </dict>
            <key>white_sheep_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{402,830},{188,397}}</string>
                <key>offset</key>
                <string>{-6,-11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,76},{188,397}}</string>
                <key>sourceSize</key>
                <string>{200,527}</string>
            </dict>
            <key>white_sheep_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{404,2},{190,403}}</string>
                <key>offset</key>
                <string>{-5,-8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,70},{190,403}}</string>
                <key>sourceSize</key>
                <string>{200,527}</string>
            </dict>
            <key>white_sheep_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{202,854},{198,411}}</string>
                <key>offset</key>
                <string>{-1,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,62},{198,411}}</string>
                <key>sourceSize</key>
                <string>{200,527}</string>
            </dict>
            <key>white_sheep_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{202,2},{200,417}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,56},{200,417}}</string>
                <key>sourceSize</key>
                <string>{200,527}</string>
            </dict>
            <key>white_sheep_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{769,1610},{200,369}}</string>
                <key>offset</key>
                <string>{0,-25}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,104},{200,369}}</string>
                <key>sourceSize</key>
                <string>{200,527}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>white_sheet.pvr.ccz</string>
            <key>size</key>
            <string>{2048,2048}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:444e5050e4e8f58d5602d3313bdca247:1/1$</string>
            <key>textureFileName</key>
            <string>white_sheet.pvr.ccz</string>
        </dict>
    </dict>
</plist>
